= render "layouts/sidemenu"      

main.col-md-9.ml-sm-auto.col-lg-10.px-4 role="main" 
  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    h1.h2 Brands
    .btn-toolbar.mb-2.mb-md-0
      = link_to "Create Entry", new_admin_brand_path, class: "btn btn-sm btn-outline-secondary"
      | &nbsp;
      .btn-group.mr-2
        button.btn.btn-sm.btn-outline-secondary Share
        button.btn.btn-sm.btn-outline-secondary Export
  br
  .table-responsive
    table.table.table-striped.table-sm
      thead
        tr
          th ID
          th Brand Name
          th Abbr
          th Status
          th Product Type
          th
      tbody
        - @brands.each  do |brand|
          tr
            td = brand.id
            td = brand.brand_name
            td = brand.abbr
            td = brand.status
            td = brand.product_type
            td
              = link_to 'Edit', edit_admin_brand_path(brand), class: 'btn btn-sm btn-outline-info'
              | &nbsp;
              = link_to 'Delete', admin_brand_path(brand), method: :delete, 'data-confirm' => 'Are you sure you want to delete this entry?', class: 'btn btn-sm btn-outline-danger'
      tfoot
        tr
          td colspan=6
            = will_paginate @brands
               