= render "mainpages/header"
.innerpage
  .container
    .row
      .col-md-12
        .h-title
          h1 CHECKOUT FORM
          hr/
        .co-inner
				  br
				  .row
				    .col-md-12
				      .appt
				        = form_for @cart_checkout, html: { class: '' } do |f|  
				          .row
				            .col-md-12
				              .appt-left
				                h1 BILLING INFORMATION
				                p Please enter your information below. Fields marked with an asterisk [ * ] are required.
				                .row
				                  .col-md-4
				                    .form-group
				                      = f.text_field :fname, class:"form-control", placeholder:"First Name*"
				                      / input.form-control name="" placeholder=("First Name*") type="text" /
				                  .col-md-4
				                    .form-group
				                      = f.text_field :mname, class:"form-control", placeholder:"Middle Name*"
				                  .col-md-4
				                    .form-group
				                      = f.text_field :lname, class:"form-control", placeholder:"Last Name*"
				                .form-group
				                  = f.text_area :address, class:"form-control", placeholder:"Address*"
				                .row
				                  .col-md-6
				                    .form-group
				                      = f.text_field :state, class:"form-control", placeholder:"Input State"
				                  .col-md-6
				                    .form-group
				                      = f.text_field :city, class:"form-control", placeholder:"City"
				                .row
				                  .col-md-6
				                    .form-group
				                      = f.text_field :zipcode, class:"form-control", placeholder:"Zipcode"
				                  .col-md-6
				                    .form-group
				                      = f.text_field :email, class:"form-control", placeholder:"Email*"
				                .row
				                  .col-md-6
				                    .form-group
				                      = f.text_field :phone_main, class:"form-control", placeholder:"Phone(Main)"
				                  .col-md-6
				                    .form-group
				                      = f.text_field :phone_alt, class:"form-control", placeholder:"Phone(Alt)"
				                      = f.hidden_field :grand_total, value: params[:gt].to_f
				                .act.pull-right
				                	= f.submit "Submit", class:"btn-danger btn"
				           