body{font-family: 'PT Sans', sans-serif;}



.navbar-brand {

    display: inline-block;

    padding-top: .75rem;

    padding-bottom: .75rem;

    margin-right: 1rem;

    font-size: 1.25rem;

    line-height: inherit;

    white-space: nowrap;

}



/* Slider */

.rslides {

  margin: 0 auto 40px;

  }



#slider2,

#slider3 {

  box-shadow: none;

  -moz-box-shadow: none;

  -webkit-box-shadow: none;

  margin: 0 auto;

  }



.rslides_tabs {

  list-style: none;

  padding: 0;

  background: rgba(0,0,0,.25);

  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);

  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);

  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);

  font-size: 18px;

  list-style: none;

  margin: 0 auto 50px;

  max-width: 540px;

  padding: 10px 0;

  text-align: center;

  width: 100%;

  }



.rslides_tabs li {

  display: inline;

  float: none;

  margin-right: 1px;

  }



.rslides_tabs a {

  width: auto;

  line-height: 20px;

  padding: 9px 20px;

  height: auto;

  background: transparent;

  display: inline;

  }



.rslides_tabs li:first-child {

  margin-left: 0;

  }



.rslides_tabs .rslides_here a {

  background: rgba(255,255,255,.1);

  color: #fff;

  font-weight: bold;

  }



  .events {

  list-style: none;

  }



.callbacks_container {

  margin-bottom: 50px;

  position: relative;

  float: left;

  width: 100%;

  }



.callbacks {

  position: relative;

  list-style: none;

  overflow: hidden;

  width: 100%;

  padding: 0;

  margin: 0;

  }



.callbacks li {

  position: absolute;

  width: 100%;

  left: 0;

  top: 0;

  }



.callbacks img {

  display: block;

  position: relative;

  z-index: 1;

  height: auto;

  width: 100%;

  border: 0;

  }



.callbacks .caption {

  display: block;

  position: absolute;

  z-index: 2;

  font-size: 20px;

  text-shadow: none;

  color: #fff;

  background: #000;

  background: rgba(0,0,0, .8);

  left: 0;

  right: 0;

  bottom: 0;

  padding: 10px 20px;

  margin: 0;

  max-width: none;

  }



.callbacks_nav {

  position: absolute;

  -webkit-tap-highlight-color: rgba(0,0,0,0);

  top: 52%;

  left: 0;

  opacity: 0.7;

  z-index: 3;

  text-indent: -9999px;

  overflow: hidden;

  text-decoration: none;

  height: 61px;

  width: 38px;

  background: transparent url('../images/themes.gif') no-repeat left top;

  margin-top: -45px;

  }



.callbacks_nav:active {

  opacity: 1.0;

  }



.callbacks_nav.next {

  left: auto;

  background-position: right top;

  right: 0;

  }



#slider3-pager a {

  display: inline-block;

}



#slider3-pager img {

  float: left;

}



#slider3-pager .rslides_here a {

  background: transparent;

  box-shadow: 0 0 0 2px #666;

}



#slider3-pager a {

  padding: 0;

}





.rslides {

  margin: 0 auto;

  }



.rslides_container {

  margin-bottom: 0;

  position: relative;

  float: left;

  width: 100%;

  margin-bottom: -50px;

  }



.centered-btns_nav {

  z-index: 3;

  position: absolute;

  -webkit-tap-highlight-color: rgba(0,0,0,0);

  top: 50%;

  left: 0;

  opacity: 0.7;

  text-indent: -9999px;

  overflow: hidden;

  text-decoration: none;

  height: 61px;

  width: 38px;

  background: transparent url('../images/themes.gif') no-repeat left top;

  margin-top: -45px;

  }



.centered-btns_nav:active {

  opacity: 1.0;

  }



.centered-btns_nav.next {

  left: auto;

  background-position: right top;

  right: 0;

  }



.transparent-btns_nav {

  z-index: 3;

  position: absolute;

  -webkit-tap-highlight-color: rgba(0,0,0,0);

  top: 0;

  left: 0;

  display: block;

  background: #fff; /* Fix for IE6-9 */

  opacity: 0;

  filter: alpha(opacity=1);

  width: 48%;

  text-indent: -9999px;

  overflow: hidden;

  height: 91%;

  }



.transparent-btns_nav.next {

  left: auto;

  right: 0;

  }



.large-btns_nav {

  z-index: 3;

  position: absolute;

  -webkit-tap-highlight-color: rgba(0,0,0,0);

  opacity: 0.6;

  text-indent: -9999px;

  overflow: hidden;

  top: 0;

  bottom: 0;

  left: 0;

  background: #000 url('../images/themes.gif') no-repeat left 50%;

  width: 38px;

  }



.large-btns_nav:active {

  opacity: 1.0;

  }



.large-btns_nav.next {

  left: auto;

  background-position: right 50%;

  right: 0;

  }



.centered-btns_nav:focus,

.transparent-btns_nav:focus,

.large-btns_nav:focus {

  outline: none;

  }



.centered-btns_tabs,

.transparent-btns_tabs,

.large-btns_tabs {

  margin-top: 10px;

  text-align: center;

  }



.centered-btns_tabs li,

.transparent-btns_tabs li,

.large-btns_tabs li {

  display: inline;

  float: none;

  _float: left;

  *float: left;

  margin-right: 5px;

  }



.centered-btns_tabs a,

.transparent-btns_tabs a,

.large-btns_tabs a {

  text-indent: -9999px;

  overflow: hidden;

  -webkit-border-radius: 15px;

  -moz-border-radius: 15px;

  border-radius: 15px;

  background: #ccc;

  background: rgb(255, 255, 255);

  display: inline-block;

  _display: block;

  *

  display: block;

  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);

  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);

  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);

  width: 9px;

  height: 9px;

  }



.centered-btns_here a,

.transparent-btns_here a,

.large-btns_here a {

  background: #222;

  background: rgb(237, 28, 36);

  }



.centered-btns_tabs {

    margin: 0 0 0 0!important;

    position: absolute;

    bottom: 50px;

    z-index: 9999;

    text-align: center;

    left: 0;

    right: 0;

}

.searchby-slider li{display: inline-block;}

.searchby-slider ul{list-style: none;padding: 0;margin: 0;/* margin-top: -99px; */position: relative;z-index: 999999999;}

.searchby-slider li a{font-size: 20px;font-weight: 700;display: block;background: #7c797a;color: #fff;text-decoration: none!important; width: 200px; padding: 10px; text-align: center;}

.searchby-slider li a.red-now{background: #d40000;}

.form-sea input, .form-sea select {outline: 0;}

.form-sea .fsbv, .form-sea .fsbb, .form-sea .fsbs{background: #343434; padding: 10px;}

.form-sea .fsbv ul, .form-sea .fsbb ul, .form-sea .fsbs ul{list-style: none; padding: 0; margin: 0; font-size: 0;}

.form-sea .fsbv ul li, .form-sea .fsbb ul li, .form-sea .fsbs ul li{display: inline-block;}

.form-sea .fsbv ul li {width: 20%; color: #797979; font-size: 17px; font-weight: bold;border-left: 1px solid #dedede;}

.form-sea .fsbv ul li select, .form-sea .fsbv ul li input[type="text"]{width: 100%;color: #797979;font-size: 17px;font-weight: bold;padding: 10px 20px;border: 0;height: 48px;}

.form-sea input[type="submit"]{

    width: 480px;

    background: #d40000 url(../images/search-icon.png) 166px center no-repeat;

    border: 0px;

    color: #fff;

    font-size: 20px;

    font-weight: bold;

    height: 48px;

    margin-top: 5px;

    margin-right: auto;

    margin-left: 0;

    padding-left: 50px;

    cursor: pointer;

}



.h-title h1{
    margin: 0;
    font-size: 42px;
    font-weight: bold;
    color: #5f5f5f;
    text-transform: uppercase;
    max-width: 405px;
    background: #fff;
    z-index: 11;
    position: relative;
    max-width: initial;
    display: block;
    padding-right: 0;
    text-align: center;
}

.h-title hr{border: #d40000 1px solid;margin: 0;position: absolute;top: 20px;bottom: 20px;width: 100%;}

.h-title{position: relative; margin: 20px 0;}

.center-inner{margin: 50px 0; text-align: center;}



.c-inner{margin: 20px 0;}

.ci-inner {

    margin-top: 30px;

    max-width: 280px;

    width: 100%;

    margin: 30px auto 0;

}

.ci-inner h3{

  color: #d72a24;

  font-weight: bold;

  font-size: 22px;

}

.ci-inner p{

  color: #797979;

  font-size: 19px;

  line-height: 1.2;

    font-weight: bold;

    letter-spacing: -1px;

}



.mid-banner{

  height: 864px;

  background: #fff url(../images/banner-1.jpg) no-repeat center center;

  background-size: cover;

  position: relative;

}



.white-t{

  height: 245px;

  background: #fff;

  opacity: .2;

  position: absolute;

  bottom: 0;

  width: 100%;

  left: 0;

  right: 0;

}

.mb-inner{

    position: absolute;

    width: 100%;

    bottom: -155px;

}

.mb-inner h1{font-size: 52px; color: #fff; font-weight: bold;}

.mb-inner h1 span{color: #d40000; font-style: italic;}

.mb-inner p{font-size: 19px; font-weight: bold; color: #fff;}



.mb-inner p a{color: #d40000;text-decoration: none;display: inline-block;margin-top: 20px;}

.mb-inner p a span{color: #777;font-weight: normal;margin-left: 20px;vertical-align: middle;}

.most-pol{margin-top: 180px;}

.top-brand .col-sm-4{padding: 20px 0;}



.bottom-brand a img{margin: 20px 0;}

.bottom-banner{margin-top: 40px;}



.bottom-banner2{

  background: transparent url(../images/bottom-banner21.jpg) no-repeat center center;

  min-height: 508px;

  padding: 100px 0;

  background-size: cover;

}



.bottom-banner2 iframe{padding: 20px 0;}



.footer-top{

  background: #f7f7f7;

  min-height: 678px;

  position: relative;

}



.footer-top .container{

    z-index: 1;

    position: absolute;

    width: 100%;

    top: 0;

    bottom: 0;

    left: 0;

    right: 0;

    padding-top: 0;

}



.footer-top .floating-img{

    position: relative;

    width: 100%;

    text-align: center;

    height: 100%;

}

.footer-top .floating-img img{

    position: relative;

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    margin: auto;

    width: 100%;

}



.footer-top h1{font-size: 38px; text-align: center; font-weight: bold; color: #d40000; padding-top: 50px;}

.footer-top p{font-size: 22px; text-align: center; color: #d40000;}



footer{

border-top: 8px solid #f58220;

min-height: 673px;

background: #3f3b3a;

background-size: cover;

padding-top: 50px;

background: url(../images/footer-image.png) #3f3b3a no-repeat bottom left;
}

footer>div>img {

    margin: auto;

    display: block;

    max-width: 480px;

    width: 100%;

    margin-bottom: 60px;

}

.footer-menu-b {

background-color: rgba(255, 255, 255, 0.18);

padding: 30px 0 0;
}

.footer-inner h2{

  font-size: 22px;

  color: #ffffff;

  font-weight: bold;

  margin-bottom: 45px;

}



.footer-inner ul{

  font-size: 22px;

  list-style: none;

  padding: 0;

}



.footer-inner ul a{color: #ffffff; text-decoration: none;}

.footer-inner ul li{margin-bottom: 10px;}

.footer-inner ul a:hover, .footer-inner ul a:focus{color: #f58220;}

footer .col-sm-4 {

    margin-bottom: 30px;

}

footer .col-sm-4 .footer-inner{

    padding: 0 50px;

}

footer .col-sm-4:nth-child(2) {

    border-left: 1px solid #f58220;

    border-right: 1px solid #f58220;

}



.footer-menu-b ul{

  font-size: 22px;

  list-style: none;

  padding: 0;

  text-align: right;

}



.footer-menu-b ul li{display: inline-block;padding: 0 20px;border-right: 1px solid #f58220;}

.footer-menu-b ul li:last-child{padding-right: 0; border-right: 0;}



.footer-menu-b ul li a{color: #ffffff; text-decoration: none; font-weight: bold;}

.footer-menu-b ul li a:hover, .footer-menu-b ul li a:focus{color: #f58220;}



.footer-bottom{

    padding: 25px 15px;

    color: #fff;

    font-size: 20px;

    background: #d40000;

}



.up-left{max-width: 650px;width: 100%;margin: 0;float: left;padding: 9px 0;}

.uppermenu{padding: 0 0;border-bottom: 1px solid #dcdcdc;}

.up-left ul{margin: 0; text-align: center;}

.up-left li{display: inline-block; padding: 0 30px;}

.up-left li a{color: #464646; font-size: 16px;}

.up-right{font-weight: bold;float: left;text-align: right;width: 175px;font-size: 20px;padding: 6px 0;}

.up-right span {margin-right: 4px;}

.bottom-left{max-width: 735px;width: 100%;margin: 0;float: left;}

.bottommenu{padding: 0 0;}

.bottom-left ul{margin: 0; text-align: center;}

.bottom-left li{display: inline-block;margin-left: -5px;font-size: 16px;font-weight: bold;border-right: 0;}

.bottom-left li a{color: #464646;font-size: 18px;padding: 21px 10px;display: block;position: relative;text-decoration: none;}

.bottom-left li a ~ .msubmenu:hover{display: block;}

.bottom-left li a:before{position: absolute;width: 1px;height: 35px;padding: 0;content: ' ';background: #dcdcdc;top: 17px;right: 0;}

.bottom-right ul{margin: 0; list-style: none; padding: 0; text-align: right;}

.bottom-right li{list-style: none; display: inline-block;}

.bottom-right{float: right;max-width: 160px;padding: 10px 0;}

.social-media-a a{display: inline-block; margin-left: -4px;}

.searchby-slider, .form-sea{position: relative; z-index: 999;} 

.bottom-right li img {width: 42px;}

.up-left li a img {

    width: 15px;

    vertical-align: top;

    margin-top: 4px;

    margin-left: 4px;

}

.removeHeader-btn {

    position: absolute;

    right: 0;

    top: 0;

    text-align: center;

    font-size: 0;

    font-weight: bold;

}

.removeHeader-btn a {

    text-decoration: none;

}

.removeHeader-btn a:before {

    content: "x";

    display: block;

    font-size: 18px;

    color: #ce0b0b;

}

.bottom-left>ul>li:last-child {border-right: 0;}

.msubmenu{

    position: absolute;

    z-index: 9999999;

    background: #fff;

    width: 1110px;

    left: -270px;

    right: 0;

    top: 111px;

    padding: 28px 24px;

    border: 1px solid #454545;

    display: none;

}

.msubmenu .ms-title{text-align: left;font-size: 18px;color: #454545;text-transform: uppercase;padding: 0 15px;letter-spacing: 1px;}



.bottom-left .msubmenu ul{text-align: left; padding: 0;  margin-top: 15px;}

.bottom-left .msubmenu ul li{display: block; border: 0; margin: 0;}

.bottom-left .msubmenu ul li a{

  padding: 5px 0 4px 30px;

    background: url(../images/caret-right.jpg) no-repeat 5px 7px;

    font-size: 16px;

    font-weight: 500;

    color: #7b7b7b;

    border-top: 1px solid #d1d1d1;

    text-transform: capitalize;

    text-decoration: none;

}

.bottom-left .msubmenu ul li a:before{content: ''; display: none;}

.bottom-left .msubmenu ul li:last-child{border-bottom: 1px solid #d1d1d1;}



.last-me .ms-title{color: #d40000;padding: 0;margin: 0;}

.last-me .ms-title ~ p{text-align: left;font-size: 16px;color: #797979;line-height: 1.2;}

.bottommenu > .clearfix > .bottom-left > .list-unstyled > li > a:hover, .bottommenu > .clearfix > .bottom-left > .list-unstyled > li > a:focus{background: #e3dfde;}

.bottommenu > .clearfix > .bottom-left > .list-unstyled > li > a:hover ~ .msubmenu, .bottommenu > .clearfix > .bottom-left > .list-unstyled > li > a:focus ~ .msubmenu{display: block;}

.innerpage{margin-top: 60px;}

.f-title{background: #74787b; font-size: 14px; font-weight: bold;color: #fff; padding: 8px 10px; margin-bottom: 4px;}

.filters{

    background: #E5E5E2 url(../images/caret-top.jpg) no-repeat 97% center;

    font-size: 14px;

    font-weight: bold;

    color: #000;

    padding: 8px 25px 8px 10px;

    text-transform: capitalize;

    cursor: pointer;

}

.filters-result{margin-bottom: 20px;}

.filters-result ul{

    margin: 0;

    padding: 0 0 15px;

    list-style: none;

    border: 1px solid #dedede;

    border-top: 0;

}

.filters-result ul li{

    color: #000;

    font-size: 13px;

    position: relative;

    padding: 15px 10px 0;

}

.filters-result ul li a{

    color: #000;

    text-decoration: none;

    display: block;

    position: relative;

}

.filters-result>ul>li.hasDropDown>a:after {

    content: "\f107";

    position: absolute;

    top: 0;

    bottom: 0;

    right: 0;

    font-family: FontAwesome;

}

.filters-result ul li a span{

    position: absolute;

    right: 5px;

    top: 15px;

}



.f-seemore{padding-top: 15px; font-size: 13px;}





/* SQUARED FOUR */

.squaredFour {

  width: 15px;

  margin: 0;

  position: relative;

  height: 15px;

  margin-right: 1px;

  display: inline-block;

  vertical-align: sub;

}



.squaredFour label {

  cursor: pointer;

  position: absolute;

  width: 15px;

  height: 15px;

  top: 0;

  margin: 0;

  border-radius: 2px;

  background: #fff;

  border: 1px solid #4a4a4a;

}



.squaredFour label:after {

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  filter: alpha(opacity=0);

  opacity: 0;

  content: '';

  position: absolute;

  width: 10px;

  height: 6px;

  background: transparent;

  top: 3px;

  left: 2px;

  border: 3px solid #F44336;

  border-top: none;

  border-right: none;

  -webkit-transform: rotate(-45deg);

  -moz-transform: rotate(-45deg);

  -o-transform: rotate(-45deg);

  -ms-transform: rotate(-45deg);

  transform: rotate(-45deg);

}



.squaredFour label:hover::after {

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";

  filter: alpha(opacity=30);

  opacity: 0.5;

}



.squaredFour input[type=checkbox] {

  visibility: hidden;

  position: absolute;

  width: 15px;

  height: 15px;

}



.squaredFour input[type=checkbox]:checked + label:after {

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

  filter: alpha(opacity=100);

  opacity: 1;

}





.grid-row{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -ms-flex-wrap: wrap;

    flex-wrap: wrap;

    margin-right: -10px;

    margin-left: -10px;

}



.grid-row-3{

    -webkit-box-flex: 0;

    -ms-flex: 0 0 20.666667%;

    flex: 0 0 20.666667%;

    max-width: 20.666667%;

    padding: 0 10px;

}

.grid-row-9{

    -webkit-box-flex: 0;

    -ms-flex: 0 0 79.333333%;

    flex: 0 0 79.333333%;

    max-width: 79.333333%;

    padding: 0 10px;

}



.f-pricerange{margin-top: 15px;}

.f-pricerange input[type=text]{

    border: 1px solid #ddd;

    box-shadow: inset 1px 3px 0px 0px #9a9a9a;

    border-radius: 3px;

    height: 36px;

    padding: 5px;

    width: 60px;

    outline: none!important;

}

.f-pricerange input[type=submit]{

    background: #eeeff1;

    border-radius: 3px;

    border: 0px solid #eeeff1;

    height: 36px;

    width: 50px;

    font-size: 14px;

    font-weight: bold;

    box-shadow: -1px 2px 0px 0px #9a9a9a;

}



.ttrt-left h3{font-size: 18px;color: #75767b;text-transform: capitalize;margin: 5px 0;line-height: 1;}

.ttrt-left h3 a{color: #e11f27;}

.ttrtr-links{margin-top: 36px;}

.ttrtr-links a{display: block;float: left;text-align: center;width: 33.3333%;font-size: 16px;color: #58595d;border: 1px solid #b8b8b8;text-decoration: none;padding: 8px 5px;border-radius: 3px; font-weight: bold;}

.ttrtr-links a:nth-child(1){width: 25.333%;}

.ttrtr-links a:nth-child(2){width: 33.333%;}

.ttrtr-links a:nth-child(3){width: 41.333%;}



.top-tr-text{padding-bottom: 15px;margin-bottom: 0;}



.recomm ul{

    padding: 0;

    margin: 20px 0 0;

    list-style: none;

    border-bottom: 1px #76777b solid;

}



.recomm ul li{display: inline-block;}

.recomm ul li a{

    display: block;

    width: 160px;

    font-size: 16px;

    color: #fff;

    background: #76777b;

    text-align: center;

    padding: 7px;

    text-decoration: none;

}



.recomm ul li.active a, .recomm ul li a:hover, .recomm ul li a:focus{background: #d70000;}



.trr-best{background: #eaeaea;  min-height: 36px;}

.trrb-t{

    background: #d70000 url(../images/tri.png) center left no-repeat;

    width: 180px;

    min-height: 36px;

    color: #fff;

    text-transform: uppercase;

    font-weight: bold;

    padding: 3px 10px 3px 30px;

    font-size: 20px;

}



.prod-img-trr{position: relative; display: block;}

.prod-img-trr img{max-width: 219px; width: 100%;}

.prod-img-trr span{

    position: absolute;

    bottom: 0;

    background: #011521b0;

    font-size: 20px;

    font-weight: bold;

    text-transform: uppercase;

    color: #fff;

    left: 0;

    right: 0;

    padding: 2px;

    text-align: center;

    letter-spacing: 1px;

}

.trr-inner{border: 1px solid #b7b7b7; padding: 15px;}



.trri-w h1{

      font-size: 26px;

      font-weight: bold;

      margin: 10px 0 5px;

      color: #000;

}



.trri-w h4{

  color: #76777b;

  font-size: 20px;

  line-height: 1;

  margin-bottom: 10px;

}



.trr-sls{list-style: none; padding: 0; margin-bottom: 10px;}

.trr-sls li{font-size: 16px; color: #76777b; vertical-align: top;}

.trr-sls li strong{color: #000; font-weight: bold;}



.trri-w p{font-size: 15px; color: #76777b;}



.trri-r h2{font-size: 16px; color: #000;}

.trri-r input[type=number]{border-radius: 0; font-weight: bold; font-weight: bold;font-size: 16px;padding-top: 8px; padding-bottom: 8px; outline: none;}

.trr-price{display: block;font-weight: bold; font-size: 30px; color: #d70000; margin-bottom: 0;}

.trr-price span{font-size: 16px;}

.trr-set{display: block;font-size: 18px; color: #000; font-weight: bold; margin-bottom: 0;}

.trr-set span{font-size: 16px;}

.trr-prod-status{display: block;color: #45d728; font-size: 14px; font-weight: bold; margin-bottom: 0;}

.trrir-right{margin-left: -15px; padding-right: 15px;}



.trrir-addtocart{

    font-size: 25px;

    font-weight: bold;

    background: #76777C url(../images/caret--right-big.png) 190px center no-repeat;

    display: block;

    width: 100%;

    padding: 12px 50px 12px 40px;

    margin: 0 30px;

    margin-left: 15px;

    color: #fff!important;

    line-height: 1.1;

    border-radius: 3px;

    text-decoration: none!important;

    margin-bottom: 10px;

}



.trrir-addthenshop{

    font-size: 21px;

    line-height: .9;

    padding-top: 7px;

    padding-bottom: 7px;

}

.trrir-addthenshop span{font-size: 16px;}

.trrir-addtocartred{

  font-size: 20px;

    font-weight: bold;

    background: #d70000;

    display: block;

    width: 100%;

    padding: 14px 10px;

    margin: 0 30px;

    margin-left: 15px;

    color: #fff!important;

    line-height: 1.1;

    border-radius: 3px;

    text-decoration: none!important;

    margin-bottom: 0px;

    text-align: center;

}



.margb-10{margin-bottom: 10px;}

.margt-24{margin-top: 24px;}



.rate-review{font-size: 16px; color: #76777b; line-height: 1.4;}

.rate-review a{color: #76777b; font-weight: bold;text-decoration: none;}



/* SQUARED FOUR */

.rc-compare .squaredFour {

  width: 25px;

  margin: 0;

  position: relative;

  height: 25px;

  margin-right: 1px;

  display: inline-block;

  vertical-align: bottom;

}



.rc-compare .squaredFour label {

  cursor: pointer;

  position: absolute;

  width: 25px;

  height: 25px;

  top: 0;

  margin: 0;

  border-radius: 0;

  background: #fff;

  border: 1px solid #909090;

}



.rc-compare .squaredFour label:after {

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  filter: alpha(opacity=0);

  opacity: 0;

  content: '';

  position: absolute;

  width: 20px;

  height: 11px;

  background: transparent;

  top: 3px;

  left: 2px;

  border: 3px solid #F44336;

  border-top: none;

  border-right: none;

  -webkit-transform: rotate(-45deg);

  -moz-transform: rotate(-45deg);

  -o-transform: rotate(-45deg);

  -ms-transform: rotate(-45deg);

  transform: rotate(-45deg);

}



.rc-compare .squaredFour label:hover::after {

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";

  filter: alpha(opacity=30);

  opacity: 0.5;

}



.rc-compare .squaredFour input[type=checkbox] {

  visibility: hidden;

  position: absolute;

  width: 25px;

  height: 25px;

}



.rc-compare .squaredFour input[type=checkbox]:checked + label:after {

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

  filter: alpha(opacity=100);

  opacity: 1;

}



.rc-compare{margin-top: 15px; font-size: 18px;}



.ds img{padding-top: 20px; padding-bottom: 20px; padding-right: 40px}

.btn-det a{

    font-weight: bold;

    display: block;

    width: 33.333%;

    float: left;

    font-size: 16px;

    border: 1px solid #b7b7b7;

    padding: 8px;

    text-align: center;

    text-decoration: none;

    color: #0088cc;

}



.btn-det a span{margin-left: 8px;}



.tire-result-r {margin-bottom: 30px;}



.p-nation ul{

    list-style: none;

    padding: 0;

    margin-bottom: 20px;

    margin-top: 40px;

    text-align: right;

}



.p-nation ul li{display: inline-block;}

.p-nation ul li a{font-size: 24px; height: 40px; width: 40px; border-radius: 50px; border: 1px solid #d70000; display: block; color: #d70000; background: #fff; text-align: center; text-decoration: none;}

.p-nation ul li span, .p-nation ul li a:hover, .p-nation ul li a:focus{font-size: 24px; height: 40px; width: 40px; border-radius: 50px; border: 1px solid #d70000; display: block; color: #fff; background: #d70000; text-align: center; text-decoration: none;}

.p-nation ul li:last-child a:hover, .p-nation ul li:last-child a:focus, .p-nation ul li:first-child a:hover, .p-nation ul li:first-child a:focus{font-size: 24px; height: 40px; width: 40px; border-radius: 50px; border: 1px solid #d70000; display: block; color: #fff; background: #fff; text-align: center; text-decoration: none;}




.vr-result-text h3{

    font-size: 18px;
    color: #333;
    margin-bottom: 0;
    text-align: center;

}



.hover-now{

    display: block;

    text-align: center;

    color: #666;

    background: #e1e1e1;

    text-decoration: none!important;

    padding: 1em .4em;

    margin-bottom: 15px;

}



.hover-now h1{

  font-size: 22px;

  font-weight: bold;

  border-bottom: 1px solid;

  margin-bottom: 5px;

  padding-bottom: 5px;

  max-width: 140px;

  margin-left: auto;

  margin-right: auto;

}

.hover-now h1 span{font-size: 16px;}

.hover-now p{margin-bottom: 0;}



.sub-vr-text{

    background: #d40000;

    color: #fff;

    font-size: 22px;

    padding: 10px 15px;

    margin: 20px 0 20px;

}



.vr-content{

  color: #8b8b8b;

}



.pkg-s{margin-top: 30px;}

.pkg-s a{

    display: block;

    text-align: center;

    color: #666;

    background: #e1e1e1;

    text-decoration: none!important;

    padding: 2em .4em 2em;

    margin-bottom: 15px;

}



.pkg-s a h3{

    max-width: 230px;

    margin: 0 auto;

    background: #d40000;

    color: #fff;

    font-style: italic;

    padding: .5em;

    font-size: 20px;

    border-radius: 3px;

    margin-top: 15px;

    font-weight: bold;

}

.pkg-s a p{

    font-size: 17px;

    color: #6b6d6f;

    font-style: italic;

    margin-bottom: 0;

}



.pkg-s a p span.sub-f{

    font-size: 17px;

    color: #6b6d6f;

    font-style: italic;

    margin-bottom: 0;

    font-weight: normal;

    vertical-align: sub;

}



.pkg-s a p span{

    font-size: 28px;

    font-weight: bold;

    color: #d40000;

    vertical-align: middle;

}



.pkg-s a p span.sub-d{

    font-size: 14px;

    font-weight: bold;

    color: #d40000;

    vertical-align: super;

}



.contain-text{font-size: 18px; color: #8b8b8b; margin-bottom: 60px; margin-top: 40px;}





.popup-box-on {

    display: block !important;

}

.off {

    display: none;

}

.chat_box .chat_message_wrapper ul.chat_message > li + li {

    margin-top: 4px;

}



#search.open {

    opacity: 1;

    transform: translate(0px, 0px) scale(1, 1);

}

#search {

    background-color: #040404eb;

    height: 100%;

    left: 0;

    position: fixed;

    top: 0;

    transition: all 0.5s ease-in-out 0s;

    width: 100%;

    z-index: 99999999999;

}

#search .close {

    color: #ffffff;

    font-size: 40px;

    opacity: 1;

    padding: 10px 17px;

    position: fixed;

    right: 15px;

    top: 15px;

}

button.close {

    background: transparent none repeat scroll 0 0;

    border: 0 none;

    cursor: pointer;

}

.close {

    float: right;

    font-weight: bold;

    line-height: 1;

    text-shadow: 0 1px 0 #fff;

}



#search input[type="text"] {

    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;

    border: 0 none;

    color: #efefef;

    font-family: "Open Sans",sans-serif;

    font-size: 50px;

    font-weight: 300;

    margin: -51px auto 0;

    outline: medium none;

    padding-left: 30px;

    border-bottom: 1px solid #fff;

    padding-right: 30px;

    position: absolute;

    text-align: center;

    top: 50%;

    width: 100%;

    max-width: 1000px;

    margin-left: auto;

    display: block;

    margin-right: auto;

    left: 0;

    right: 0;

}

#search .btn {

    left: 50%;

    margin-top: 60px;

    padding: 10px 50px;

    position: absolute;

    top: 50%;

    transform: translateX(-50%);

    background: #d40000;

    color: #fff;

    font-size: 26px;

    text-transform: uppercase;

}

nav {

    background: #be5254 none repeat scroll 0 0 !important;

    border: medium none !important;

    border-radius: 151px !important;

}

.s-icon a {

    background: #fff none repeat scroll 0 0 !important;

    border-radius: 40px !important;

    color: #be5254 !important;

    font-size: 26px;

    height: 44px;

    margin: 3px -12px 0 0;

    padding: 7px 0 0 !important;

    text-align: center;

    width: 44px;

}



.cart-p{position: relative;}



.cart-pop{

    position: absolute;

    z-index: 999999;

    right: 0;

    width: 400px;

    background: #dfdfdf;

    text-align: left;

    top: 59px;

    display: none;

}



.cp-content{

      padding: 15px;

    height: 100%;

    max-height: 404px;

    overflow-y: scroll;

}

.cart-pop h1{

    font-size: 18px;

    font-weight: bold;

}



.cpp-items{

  position: relative;

    min-height: 110px;

    padding: 5px 0;

    padding-left: 115px;

    padding-right: 60px;

    border-bottom: 1px dotted #aaa;

    margin-bottom: 5px;

}



.cpp-items > img{

    position: absolute;

    width: 100px!important;

    top: 0;

    left: 0;

}



.cpp-items > .form-control{

    position: absolute;

    right: 0;

    top: 30px;

    width: 50px;

    height: 50px;

    text-align: center;

    font-size: 18px;

    font-weight: bold;

}



.cpp-items .cppi-inner{

  font-size: 20px;

    font-weight: bold;

    padding: 5px 0;

}



.cpp-items .cppi-inner span{

    font-size: 12px;

    color: #777;

    display: block;

}



.cp-btn{

    width: 50%;

    float: left;

}



.cp-btn:first-child a{

    display: block;

    background: #444;

    color: #fff;

    text-align: center;

    font-size: 18px;

    font-weight: bold;

    text-decoration: none;

    padding: 12px 5px;

}

.cp-btn:last-child a{

    display: block;

    color: #fff;

    text-align: center;

    font-size: 18px;

    font-weight: bold;

    text-decoration: none;

    padding: 12px 5px;

    background: #d40000;

}





/*Frank main*/

.st{

  margin: 30px 0;

}



.st-no{

    font-size: 35px;

    width: 60px;

    height: 60px;

    text-align: center;

    background: #d40000;

    color: #fff;

    border-radius: 50px;

    padding: 10px;

    line-height: 1;

    margin: 0 auto;

    margin-bottom: 20px;

}



.st-link a{

  text-decoration: none;

  -webkit-transition: all 1s ease-in-out;

  -moz-transition: all 1s ease-in-out;

  -o-transition: all 1s ease-in-out;

  transition: all 1s ease-in-out;

  box-shadow: 0 0 0 0 transparent;

}



.st-inner{

    width: 100%;

    min-height: 286px;

    background: #e1e1e1;

    padding: 30px 20px;

    border: 1px solid #ddd;

    color: #777;

    margin-bottom: 15px;

    -webkit-transition: all .3s ease-in-out;

  -moz-transition: all .3s ease-in-out;

  -o-transition: all .3s ease-in-out;

  transition: all .3s ease-in-out;

  box-shadow: 0 0 0 0 transparent;



}

.st-inner h3{

    font-size: 20px;

    font-weight: bold;

    text-transform: uppercase;

    color: #545454;

}



.st-a{

    font-size: 14px;

    position: relative;

    padding-left: 20px;

}



.st-a .fa{

    position: absolute;

    left: 0px;

    top: 4px;

    color: #545454;

}



.st-p{

    font-size: 14px;

    position: relative;

    padding-left: 20px;

}



.st-p .fa{

    position: absolute;

    left: 0px;

    top: 4px;

    color: #545454;

}



.st-dis{

    background: #d40000;

    color: #fff;

    width: 130px;

    text-align: center;

    padding: 5px;

    font-weight: bold;

    margin: 15px auto 0;

}



.st-link a:hover .st-inner {

    background: #d40000;

    border: 1px solid #d40000;

    color: #fff;

    -moz-transition: all .3s ease-in-out;

    -o-transition: all .3s ease-in-out;

    transition: all .3s ease-in-out;

    box-shadow: 5px 5px 1px 0px #adadad;

}



.st-link a:hover .st-no {

    background: #343434;

    color: #fff;

    -webkit-transition: all .3s ease-in-out;

    -moz-transition: all .3s ease-in-out;

    -o-transition: all .3s ease-in-out;

    transition: all .3s ease-in-out;

}



.st-link a:hover .st-inner h3{

    color: #fff;

    -webkit-transition: all .3s ease-in-out;

    -moz-transition: all .3s ease-in-out;

    -o-transition: all .3s ease-in-out;

    transition: all .3s ease-in-out;

}



.st-link a:hover .st-a .fa, .st-link a:hover .st-p .fa {

    color: #fff;

    -webkit-transition: all .3s ease-in-out;

    -moz-transition: all .3s ease-in-out;

    -o-transition: all .3s ease-in-out;

    transition: all .3s ease-in-out;

}



.st-link a:hover .st-dis{

    background: #343434;

}



.pl-m-top h2{

    line-height: 1;

    font-size: 26px;

    font-weight: bold;

}



.pl-image{position: relative;}

.pl-image .for-sign{

  position: absolute;

    background: #d40000b5;

    color: #fff;

    padding: 8px 10px;

    font-size: 18px;

    text-transform: uppercase;

    font-weight: normal;

    max-width: 140px;

    width: 100%;

    text-align: center;

}



.pl-reviews{

    color: #d40000;

    padding-top: 7px;

    padding-bottom: 7px;

}



.pl-reviews span{

    color: #333;

    font-weight: 600;

    text-align: right;

}



.pl-price > div:first-child{

    font-size: 24px;

    color: #d40000;

    font-weight: bold;

}



.pl-price > div:last-child{

    font-size: 21px;

    color: #000;

    font-weight: bold;

}



.pl-pstag > div:last-child{

    font-size: 24px;

    color: #d40000;

    font-weight: bold;

}



.pl-pstag .plps-p{

    font-size: 16px;

    color: #444;

    text-transform: uppercase;

    font-style: italic;

}



.pl-m-mid ul {padding-top: 10px;}



.pl-m-mid ul li{

    position: relative;

    padding-left: 110px;

    color: #777;

}

.pl-m-mid ul li span{

    position: absolute;

    left: 0;

    top: 0;

    color: #000;

    font-weight: bold;

}

.pl-m-bot h4{

    font-size: 20px;

    font-weight: bold;

}



.pl-m-bot ul li a{color: #777; text-decoration: none;}



.pl-m-bot ul li{

    position: relative;

    padding-left: 30px;

    color: #777;

    font-size: 14px;

}



.pl-m-bot ul li .fa{

    position: absolute;

    left: 0;

    top: 3px;

    color: #000;

    font-weight: bold;

}

.pl-m-bot ul li a:hover{

    color: #d40000;

    -webkit-transition: all .3s ease-in-out;

    -moz-transition: all .3s ease-in-out;

    -o-transition: all .3s ease-in-out;

    transition: all .3s ease-in-out;

}



.pl-m-bot ul li a:hover .fa{

    left: 5px;

    -webkit-transition: all .3s ease-in-out;

    -moz-transition: all .3s ease-in-out;

    -o-transition: all .3s ease-in-out;

    transition: all .3s ease-in-out;

    color: #d40000;

}



.pl-r-top button, .pl-r-top form a{

    font-size: 19px;

    font-weight: bold;

    background: #d70000;

    display: block;

    width: 100%;

    padding: 10px 10px;

    color: #fff;

    line-height: 1.1;

    border-radius: 3px;

    text-decoration: none!important;

    margin-bottom: 0px;

    text-align: center;

    text-transform: uppercase;

    border: 0;

}



.pl-r-top form .form-group{margin: 5px;}

.pl-r-top form{margin-bottom: 15px;}

.pl-r-top form a{

    background: #76777C;

    font-size: 15px;

    padding: 12px 10px;

}



.pl-r-bottom ul{

    background: #eaeaea;

    padding: 20px;

}



.pl-r-bottom ul li{padding-bottom: 5px; margin-bottom: 5px; border-bottom: 1px solid #ddd;}



.pl-r-bottom ul h4{font-size: 18px; font-weight: bold;}

.pl-r-bottom ul p{font-size: 14px; color: #777; margin-bottom: 0;}



.tabs-bot {margin: 0;}

.tabs-bot li{display: inline-block;}

.tabs-bot li a{

    color: #222;

    display: block;

    padding: 15px 20px;

    width: 130px;

    text-align: center;

    font-size: 21px;

    border: 1px solid #ddd;

    border-bottom: 0;

    text-decoration: none;

}



.tabs-bot li a.active{background: #d40000; color: #fff;}



.tab-content{

    padding: 15px;

    border: 1px solid #ddd;

}

.tab-content h1, .tab-content h2 {

    font-size: 32px;

    font-weight: bold;

}

.tab-content p, .tab-content li{color: #777;}



.form-reviews textarea{height: 150px;}



.b-reviews ul li{

    padding: 10px;

    border-bottom: 1px dotted #ddd;

}



.b-reviews ul li h5{

    color: #000;

    font-weight: bold;

    margin-bottom: 0;

}



.b-reviews ul li p.r-date{

    line-height: 1;

    font-size: 14px;

    font-style: italic;

    color: #949494;

    margin-bottom: 9px;

}



.b-reviews ul li p{color: #949494; font-size: 14px;}



.b-reviews ul{

    border: 1px solid #ddd;

    padding: 15px;

}



.co-li a{text-decoration: none;}



.co-li h1{

    font-size: 18px;

    color: #d40000;

    font-weight: bold;

}





.co-li ul li{

    position: relative;

    padding-left: 100px;

    color: #777;

    font-size: 14px;

}





.co-li ul li span{

    position: absolute;

    left: 0;

    top: 0;

    color: #000;

    font-weight: bold;

}



.co-price{

    font-weight: bold;

    color: #5a5a5a; text-align: center;

}



.co-subtotal{

    font-weight: bold;

    color: #000; text-align: center;

}



.co-delete{

    color: #d40000;

    text-align: center;

}



.co-delete a{

    font-size: 14px;

    color: #d40000;

    text-align: center;

}



.co-l-top{

    background: #000;

    color: #fff;

    font-size: 14px;

    padding: 10px 0;

    text-align: center;

    margin-top: 30px;

}



.co-l-items{padding: 20px 0;}



.co-road a{

    background: #d40000;

    padding: 5px 14px;

    display: inline-block;

    font-size: 14px;

    color: #fff;

    text-decoration: none;

}



.divider-title h1{

    font-size: 30px;

    font-weight: bold;

}



.coosi-head{

    background: #000;

    color: #fff;

    font-size: 14px;

    padding: 10px 0;

    text-align: center;

}



/*slider yes or no*/

/* The switch - the box around the slider */

.switch {

  position: relative;

  display: inline-block;

  width: 60px;

  height: 34px;

  margin-bottom: 0px;

  margin-top: 10px;

}



/* Hide default HTML checkbox */

.switch input {display:none;}



/* The slider */

.slider {

  position: absolute;

  cursor: pointer;

  top: 0;

  left: 0;

  right: 0;

  bottom: 0;

  background-color: #ccc;

  -webkit-transition: .4s;

  transition: .4s;

}



.slider:before {

  position: absolute;

  content: "";

  height: 26px;

  width: 26px;

  left: 4px;

  bottom: 4px;

  background-color: white;

  -webkit-transition: .4s;

  transition: .4s;

}



input:checked + .slider {

  background-color: #2196F3;

}



input:focus + .slider {

  box-shadow: 0 0 1px #2196F3;

}



input:checked + .slider:before {

  -webkit-transform: translateX(26px);

  -ms-transform: translateX(26px);

  transform: translateX(26px);

}



.coosi-tm{text-align: center; padding: 15px 10px;}

.coosi-pd{padding: 15px 10px;}



.coosi-inner{border-bottom: 1px solid #ddd;}

.co-update{

    background: #000;

    color: #fff;

    font-size: 14px;

    padding: 15px;

    text-transform: uppercase;

}



.co-update a{color: #fff; text-decoration: underline;}



.co-update ul, .co-up-r{text-align: right; margin-bottom: 0}

.co-update ul li{display: inline-block;}

.co-update ul li.co-or{

  font-size: 12px;

    margin: 0 10px;

}


.co-pro-title{margin-bottom: 40px;}
.divider-title, .co-pro-title{margin-top: 40px;}



.copt{

    padding: 15px;

    background: #eaeaea;

}

.copt h1{

    color: #333;

    font-size: 22px;

    font-weight: bold;

    margin-bottom: 0;

}

.copt p{

    margin: 0;

    color: #333;

    font-size: 12px;

}



.copt-ul{padding: 15px; border: 1px solid #ddd;}



.copt-ul ul{margin-bottom: 0;}

.copt-ul li{

    position: relative;

    padding-left: 30px;

    color: #777;

    font-size: 16px;

    margin-bottom: 7px;

}



.copt-ul li .fa{

    position: absolute;

    left: 0;

    top: 3px;

    color: #000;

    font-weight: bold;

}



.copt-right{

    padding: 15px;

    background: #eaeaea;

}



.coup label{

    font-size: 18px;

    font-weight: bold;

}



.coup .form-control{

    margin-bottom: 5px;

}



.co-total li{

    margin-bottom: 5px;

    text-align: right;

}

.co-total li > span:first-child{

    display: inline-block;

    width: 65%;

    text-align: right;

    font-size: 18px;

    font-weight: bold;

}



.co-total li > span:last-child{

    display: inline-block;

    width: 33%;

    text-align: right;

    font-size: 18px;

    font-weight: bold;

}



.co-total li:last-child > span{font-size: 25px;}



.co-total li:last-child{

    border-top: 1px solid #ddd;

    margin-top: 10px;

    padding-top: 10px;

    color: #d40000;

}



.co-total li:nth-child(2) > span, .co-total li:nth-child(3) > span{font-size: 16px;}

.co-total li > span > .sm-t{

    display: block;

    font-size: 12px;

}



.co-ch-btn .btn-danger{

    display: block;

    font-size: 22px;

}



.co-ch-btn a:last-child{

    text-align: center;

    display: block;

    color: #000;

    text-decoration: underline;

    margin-top: 10px;

    font-style: italic;

}



.appt-left h1{

    text-align: center;

    font-size: 28px;

    color: #555;

    margin-bottom: 0;

}



.appt-left p{

    font-size: 12px;

    text-align: center;

    color: #777;

}



.appt-left{

    padding: 40px 20px;

    background: #eaeaea;

}



.appt-left .form-control{

    border: 0;

    border-bottom: 2px solid;

    border-radius: 0;

    background: #eaeaea;

    -webkit-transition: all .3s ease-in-out;

    -moz-transition: all .3s ease-in-out;

    -o-transition: all .3s ease-in-out;

    transition: all .3s ease-in-out;

}





.appt-left .form-control:focus{

  outline: none!important;

  box-shadow: none!important;

    border: 0;

    border-bottom: 2px solid #007bff;

    border-radius: 0;

    background: #eaeaea;

    -webkit-transition: all .3s ease-in-out;

    -moz-transition: all .3s ease-in-out;

    -o-transition: all .3s ease-in-out;

    transition: all .3s ease-in-out;

}



.b-letters > div{

    display: inline-block;

    border: 2px solid #ed1c24;

    color: #ed1c24;

    padding: 10px 20px;

    font-size: 18px;

    font-weight: bold;

    margin-bottom: 5px;

    cursor: pointer;

}



.b-letters > div.addactive{background: #ed1c24; color: #fff;}

.bm-categories > h3{color: #ed1c24; text-transform: uppercase; text-align: left!important;}

.bml-inner h4{text-transform: uppercase;}

/*.bml-inner ul li{display: inline-block; width: 33%;}*/

.bml-inner ul li a{text-decoration: none;}

.bml-inner > h4{font-size: 18px;}

.brand-model-desc .h-title img{

  position: absolute;

    right: 0;

    top: -20px;

}





.pp-mo li{margin-top: 8px;}



.bmlb-t h1{

    background: #161408;

    color: #fff;

    font-weight: bold;

    font-size: 24px;

    padding: 10px 15px;

}



.financing .content {

    font-size: 20px;

}



.financing .content a {

    display: inline-block;

    padding: 10px 15px;

    text-decoration: none;

    margin-right: 10px;

}



.financing .content a.financing-apply {

    background-color: #d40000;

    color: #d8f11f;

    font-style: italic;

    font-weight: bold;

}



.financing .content a.financing-account {

    border: 1px solid #333;

    color: #333;

}

/*body*/

body{zoom: 75%;}



.ct-desc h2{

    color: #999;

    margin: 0;

    line-height: 1;

    margin-top: 10px;

    font-size: 28px;

}



.ct-desc h1{

    font-weight: bold;

    color: #4c4c4c;

    margin: 0;

    line-height: 1;

    font-size: 40px;

}

.ct-desc h3{

    font-weight: 600;

    color: #999;

    margin: 0;

    line-height: 1;

    font-size: 22px;

}



.ct-desc i{ color: #d40000; }



.str-stock{

    font-size: 20px;

    line-height: 1;

    margin-bottom: 0;

}



.str-stock strong{

    display: block;

    padding: 10px 0;

    border-top: 1px solid #ddd;

    margin-top: 10px;

}



.str-add{font-size: 18px;}

.cart-top-2 p{margin-bottom: 0;}

.cart-button{margin-top: 15px;}



.cart-rebate p{font-size: 18px; font-weight: bold;}



.cart-rebate input[type=checkbox]{

    width: 20px;

    height: 20px;

    vertical-align: sub;

    margin-right: 5px;

}

.cart-rebate{

    border-top: 1px solid rgba(0,0,0,.1);

    padding: 20px 0px 0;

    border-bottom: 1px solid rgba(0,0,0,.1);

}



.cart-rebate-2{padding: 20px 0px 0;}



.comparison {

  max-width:100%;

  margin:0 auto;

  text-align:center;

  padding:10px 10px 50px;

}



.comparison table {

  width:100%;

  border-collapse: collapse;

  border-spacing: 0;

  table-layout: fixed;

  border-bottom:1px solid #CCC;

}



.comparison td, .comparison th {

  border:1px solid #CCC;

  empty-cells: show;

  padding:10px;

  font-size: 16px;

}



.compare-heading {

  font-size:18px;

  font-weight:bold !important;

  border-bottom:0 !important;

  padding-top:10px !important;

}



/*.comparison tbody tr:nth-child(odd) {

  display:none;

}*/



.comparison .compare-row {

  background:#F5F5F5;

}



.comparison .tickblue {

  color:#0078C1;

}



.comparison .tickgreen {

  color:#009E2C;

}



.comparison th {

  font-weight:normal;

  padding:0;

  border-bottom:1px solid #CCC;

}



.comparison tr td:first-child {

  text-align:left;

}

  

.comparison .qbse, .comparison .qbo, .comparison .tl {

  color:#FFF;

  padding:10px;

  font-size:14px;

  border-right:1px solid #CCC;

  border-bottom:0;

}



.comparison .tl2 {

  border-right:0;

}



.comparison .qbse {

  background:#0078C1;

  border-top-left-radius: 3px;

  border-left:0px;

}



.comparison .qbo {

  background:#009E2C;

  border-top-right-radius: 3px;

  border-right:0px;

}



.comparison .price-info {

  padding:5px 15px 15px 15px;

}



.comparison .price-was {

  color: #000;

  background: #e2e2e2;

  font-size: 18px;

  margin-top: 5px;

  font-weight: bold;

}



.comparison .price-now, .comparison .price-now span {

  color:#ff5406;

  line-height: 1;

}



.comparison .price-now span {

  font-size: 24px;

  font-weight: bold;

}



.comparison .price-small {

    font-size: 18px !important;

    position: relative;

    top: -11px;

    left: 2px;

}



.comparison .price-buy {

  background:#ff5406;

  padding: 5px 10px;

  font-size: 18px;

  display:inline-block;

  color:#FFF;

  text-decoration:none;

  border-radius:3px;

  text-transform:uppercase;

  margin:5px 0 10px 0;

  width: 100%;

}



.comparison .price-try {

  font-size:12px;

}



.comparison .price-try a {

  color:#202020;

}



@media (max-width: 767px) {

/*  .comparison td:first-child, .comparison th:first-child {

    display: none;

  }

  .comparison tbody tr:nth-child(odd) {

    display:table-row;

    background:#F7F7F7;

  }*/

  .comparison .row {

    background:#FFF;

  }

  .comparison td, .comparison th {

    border:1px solid #CCC;

  }

  .price-info {

  border-top:0 !important;

  

}

  

}



@media (max-width: 639px) {

  .comparison .price-buy {

    padding:5px 10px;

  }

  .comparison td, .comparison th {

    padding:10px 5px;

  }

  .comparison .hide-mobile {

    display:none;

  }

  .comparison .price-now span {

  font-size:16px;

}



.comparison .price-small {

    font-size: 16px !important;

    top: 0;

    left: 0;

}

  .comparison .qbse, .comparison .qbo {

    font-size:12px;

    padding:10px 5px;

  }

  .comparison .price-buy {

    margin-top:10px;

  }

  .compare-heading {

  font-size:13px;

}

}



.qbse a{color: #fff;}



.compare-heading a{color: #000; text-transform: uppercase; font-size: 18px; line-height: 1;}

.compare-heading a span{display: block; font-size: 14px; font-weight: normal;}

.com-t{margin-top: 10px;}

.com-t .col-md-4{padding-right: 0;}

.com-t label{margin-bottom: 0;}



.cart-ship{

    margin-top: 10px;

    font-size: 18px;

    text-transform: uppercase;

    background: #0078c1;

    font-weight: bold;

    color: #fff;

    font-family: 'PT Sans', sans-serif;

}



.cart-pack{

  font-size: 22px;

    font-weight: bold;

    color: #696969;

    margin-top: 5px;

}



.road-hazzz{padding-right: 15px;}

.road-hazzz a{

    display: block;

    position: relative;

    min-height: 60px;

    padding: 10px 10px 10px 90px;

    background: #d70000;

    color: #fff;

    font-size: 22px;

    font-weight: bold;

    line-height: 1;

    text-decoration: none;

}

.road-hazzz a img{

    width: 80px;

    position: absolute;

    left: 0;

    top: 7px;

}



.road-hazzz a span{

    display: block;

    font-size: 16px;

    font-weight: normal;

}



.compare-button{

    text-align: right;

    margin-bottom: 13px;

}



.compare-button a{

    display: block;

    max-width: 200px;

    width: 100%;

    margin: 0 0 0 auto;

    text-align: center;

    border: 1px solid #b3b3b3;

    padding: 8px 5px;

    font-weight: bold;

    color: #d70000;

    text-decoration: none;

}



.compare-button a:hover, .compare-button a:focus{color: #fff; background: #333;}





/*Checkout*/

.checkout-panel {

  display: flex;

  flex-direction: column;

  width: 100%;

  height: auto;

  background-color: rgb(255, 255, 255);

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);

}



/* Panel Body */

.panel-body {

  padding: 45px 30px 45px;

  flex: 1;

  border-right: 1px solid #efefef;

  border-left: 1px solid #efefef;

  background-color: white;

}



.title {

  font-weight: 700;

  margin-top: 0;

  margin-bottom: 40px;

  color: #2e2e2e;

}



/* Progress Bar */

.progress-bar23 {

  display: flex;

  margin-bottom: 50px;

  justify-content: space-between;

}



.step {

  box-sizing: border-box;

  position: relative;

  z-index: 1;

  display: block;

  width: 25px;

  height: 25px;

  margin-bottom: 30px;

  border: 4px solid #fff;

  border-radius: 50%;

  background-color: #efefef;

}



.step:after {

  position: absolute;

  z-index: -1;

  top: 5px;

  left: 22px;

  width: 363px;

  height: 6px;

  content: '';

  background-color: #efefef;

}



.step:before {

  color: #2e2e2e;

  position: absolute;

  top: 40px;

}



.step:last-child:after {

  content: none;

}



.step.active {

  background-color: #f62f5e;

}

.step.active:after {

  background-color: #f62f5e;

}

.step.active:before {

  color: #f62f5e;

}



.step.active + .step {

  background-color: #f62f5e;

}

.step.active + .step:before {

  color: #f62f5e;

}



.step:nth-child(1):before {

  content: 'Billing';

}

.step:nth-child(2):before {

  right: -40px;

  content: 'Shipping';

}

.step:nth-child(3):before {

  right: -30px;

  content: 'Payment';

}

.step:nth-child(4):before {

  right: 0;

  content: 'Review & Confirmation';

}



/* Payment Method */

.payment-method {

  display: flex;

  margin-bottom: 60px;

  justify-content: center;

}



.method {

  display: flex;

  flex-direction: column;

  width: 382px;

  height: 122px;

  padding-top: 20px;

  cursor: pointer;

  border: 1px solid transparent;

  border-radius: 2px;

  background-color: rgb(249, 249, 249);

  justify-content: center;

  align-items: center;

}



.blue-border {

  border: 1px solid rgb(110, 178, 251);

}



.card-logos {

  display: flex;

  width: 150px;

  justify-content: space-between;

  align-items: center;

}



.radio-input {

  margin-top: 20px;

}



input[type='radio'] {

  display: inline-block;

}





/* Input Fields */

.input-fields {

  display: flex;

  justify-content: space-between;

}



.input-fields label {

  display: block;

  margin-bottom: 10px;

  color: #000000;

  font-size: 16px;

  text-transform: uppercase;

  font-weight: bold;

}



.warning {

  border-color: #f62f5e !important;

}



.info {

  font-size: 14px;

  font-weight: 300;

  display: block;

  margin-top: 50px;

  opacity: .5;

  color: #2e2e2e;

}



div[class*='column'] {

  width: 49%;

}



.input-fields input,

.input-fields input[type='password'], 

.input-fields select {

  font-size: 16px;

  width: 100%;

  height: 50px;

  padding-right: 40px;

  padding-left: 16px;

  color: rgba(46, 46, 46, .8);

  border: 1px solid rgb(225, 225, 225);

  border-radius: 4px;

  outline: none;

}



.input-fields input[type='text']:focus,

.input-fields input[type='password']:focus,

.input-fields select:focus {

  border-color: rgb(119, 219, 119);

}



#date { background: url(../images/icons_calendar_black.png) no-repeat 90%; }

#cardholder { background: url(../images/icons_person_black.png) no-repeat 95%; }

#cardnumber { background: url(../images/icons_card_black.png) no-repeat 95%; }

#verification { background: url(../images/icons_lock_black.png) no-repeat 90%; }



.small-inputs {

  display: flex;

  margin-top: 20px;

  justify-content: space-between;

}



.small-inputs div {

  width: 48%;

}



/* Panel Footer */

.panel-footer {

  display: flex;

  width: 100%;

  height: 96px;

  padding: 0 80px;

  background-color: rgb(73, 69, 68);

  justify-content: space-between;

  align-items: center;

  margin-bottom: 40px;

}

/* Buttons */

.btn-23 {

  font-size: 16px;

  width: 163px;

  height: 48px;

  cursor: pointer;

  transition: all .2s ease-in-out;

  letter-spacing: 1px;

  border: none;

  border-radius: 23px;

}



.back-btn {

  color: #f62f5e;

  background: #fff;

}



.next-btn {

  color: #fff;

  background: #f62f5e;

}



.btn-23:focus {

  outline: none;

}



.btn-23:hover {

  transform: scale(1.1);

}





.flex_container {

  display: flex;

  flex-flow: row wrap;

}



.current_items {

  width: 460px;

  margin: auto;

  transition: 0.4s;

  display: flex;

  flex-flow: row wrap;

  align-items: center;

  justify-content: left;

}

.current_items__row {

  border: 3px solid rgba(255, 255, 255, 0.2);

  padding: 4vh 1vw;

  width: 100%;

  text-align: center;

  max-width: 100%;

  margin: 0 1%;

  text-align: left;

}

.current_items .wrapper_input {

  position: relative;

  margin: 20px 0;

}

.current_items input {

  display: none;

}

.current_items input:checked + label:after {

  transform: scale(1);

  opacity: 1;

}

.current_items label {

  font-size: 20px;

  font-weight: 300;

  letter-spacing: 1px;

  color: #000;

  margin: 0;

  padding-left: 35px;

  display: inline-block;

  position: relative;

}

.current_items label:before {

  width: 20px;

  height: 20px;

  content: "";

  position: absolute;

  left: 0;

  top: 50%;

  background: #fff;

  margin-top: -10px;

  border: 1px solid #000;

}

.current_items label:after {

  background: #f33232;

  left: 0;

  top: 50%;

  transition: 0.3s;

  transform: scale(3.4);

  opacity: 0;

  margin-top: -7px;

  width: 15px;

  height: 14px;

  content: "";

  position: absolute;

  left: 2px;

}



.fedex{margin-top: 20px; text-align: center; width: 100%;}



/* End Checkout */





.bottom-center {

    margin: 70px 0;

}

.bottom-center .productListBottomCenter .productListImg img {

    width: 100%;

    -webkit-transition: all 0.3s linear;

    -moz-transition: all 0.3s linear;

    -o-transition: all 0.3s linear;

    transition: all 0.3s linear;

}

.bottom-center .productListBottomCenter .productListImg a {

    display: block;

    position: relative;

    overflow: hidden;

}

.bottom-center .productListBottomCenter .productListImg a:after {

    content: "";

    width: 100%;

    height: 100%;

    position: absolute;

    top: 0;

    left: 0;

    -webkit-transition: all 0.5s linear;

    -moz-transition: all 0.5s linear;

    -o-transition: all 0.5s linear;

    transition: all 0.5s linear;

}

.bottom-center .productListBottomCenter .productListImg a:hover:after {

    box-shadow: 0 0 10px 200px rgba(0, 0, 0, .5) inset;

}

.bottom-center .productListBottomCenter .productListContent a {

    color: #333;

    text-decoration: none;

    -webkit-transition: all 0.3s linear;

    -moz-transition: all 0.3s linear;

    -o-transition: all 0.3s linear;

    transition: all 0.3s linear;

}

.bottom-center .productListBottomCenter .productListContent a:hover {

    color: #d40000;

}

.bottom-center .productListBottomCenter .productListContent a:hover span {

    color: #d40000;

    -webkit-transition: all 0.3s;

    -moz-transition: all 0.3s;

    -o-transition: all 0.3s;

    transition: all 0.3s;

}

.bottom-center .productListBottomCenter .productListContent p.homePrice {

    font-size: 20px;

    text-align: left;

    margin: 0;

    font-weight: bold;

    color: #333;

}

.bottom-center .productListBottomCenter .productListContent a h1 {

    font-size: 14px;

    margin: 0;

    text-align: left;

    font-weight: 600;

}

.bottom-center .productListBottomCenter .productListContent {

    border: 1px solid #dedede;

    padding: 10px;

}

.bottom-center .productListBottomCenter .productListContent a h1 span {

    display: block;

    color: #525252;

    font-size: 20px;

    -webkit-transition: all 0.3s linear;

    -moz-transition: all 0.3s linear;

    -o-transition: all 0.3s linear;

    transition: all 0.3s linear;

    font-weight: normal;

}

.bottom-center .productListBottomCenter .addtoCenter a {

    display: inline-block;

    padding: 7px 10px;

    background-color: transparent;

    border: 1px solid #333;

    border-radius: 5px;

    color: #333;

    text-decoration: none;

    -webkit-transition: all 0.3s linear;

    -moz-transition: all 0.3s linear;

    -o-transition: all 0.3s linear;

    transition: all 0.3s linear;

    font-weight: 600;

}

.bottom-center .productListBottomCenter .addtoCenter a:hover {

    border: 1px solid #d40000;

    color: #fff;

    background-color: #d40000;

}

.bottom-center .productListBottomCenter .addtoCenter {

    text-align: center;

    margin-bottom: 30px;

}

.bottom-center .productListBottomCenter h1 {

    display: block;

    width: 100%;

}

.bottom-center .product-bottomCenter .h-title {

    width: 100%;

}

.blogHomeBotList .blogImageHome img {

    width: 100%;

    transition: all .3s;

}

.blogHomeBotList {

    position: relative;

    margin: 15px 0;

}

.blogHomeBotList:first-child .blogImageHome {

    height: 450px;

    overflow: hidden;

    object-fit: cover;

}

.blogHomeBotList .blogImageHome a {

    display: block;

    height: 100%;

    position: relative;

    transition: all .3s;

}

.blogHomeBotList .blogContentHome {

    position: absolute;

    bottom: 0;

    top: 0;

    text-align: center;

    width: 100%;

    height: fit-content;

    padding: 0 20px;

    left: 0;

    right: 0;

    margin: auto;

}

.blogHomeBotList .blogContentHome a {

    color: #fff;

    font-size: 32px;

    font-weight: bold;

    text-decoration: none;

    overflow: hidden;

    text-overflow: ellipsis;

    white-space: nowrap;

    display: block;

    text-transform: uppercase;

}

.blogHomeBotList .blogContentHome ul {

    padding: 0;

    margin: 0;

    list-style: none;

}

.blogHomeBotList .blogContentHome ul li {

    color: #d0d0d0;

    display: inline-block;

    margin-left: 15px;

}

.blogHomeBotList .blogContentHome ul li:first-child {

    margin-left: 0;

}

.blogHomeBotList .blogImageHome a:after {

    content: "";

    position: absolute;

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    -moz-transition: all 0.3s linear;

    -o-transition: all 0.3s linear;

    transition: all 0.3s linear;

}

.blogHomeBotList:hover .blogImageHome a:after {

    -webkit-box-shadow: 0 0 10px 300px rgba(0, 0, 0, 0.5) inset;

    -moz-box-shadow: 0 0 10px 300px rgba(0, 0, 0, 0.5) inset;

    box-shadow: 0 0 10px 300px rgba(0, 0, 0, 0.5) inset;

    -webkit-transition: all 0.3s linear;

    -moz-transition: all 0.3s linear;

    -o-transition: all 0.3s linear;

    transition: all 0.3s linear;

    background: transparent;

    background-image: none;

}

.bottomBot {

    margin: 100px 0 0;

    padding-bottom: 120px;

}



.searchby-slider.productTopSearch {

    margin-top: -50px;

}

.wheelPageFeatured {

    margin-bottom: 60px;

    margin-top: 40px;

}

.wheelPageFeatured .wheelPageList .wheelPageImage img {

    width: 100%;

    -webkit-transition: all 0.5s linear;

    -moz-transition: all 0.5s linear;

    -o-transition: all 0.5s linear;

    transition: all 0.5s linear;

}

.wheelPageFeatured .wheelPageList .wheelPageImage a {

    display: block;

    position: relative;

    overflow: hidden;

}

.wheelPageFeatured .wheelPageList .wheelPageImage a:after {

    content: "";

    width: 100%;

    height: 100%;

    position: absolute;

    top: 0;

    left: 0;

    -webkit-transition: all 0.5s linear;

    -moz-transition: all 0.5s linear;

    -o-transition: all 0.5s linear;

    transition: all 0.5s linear;

}

.wheelPageFeatured .wheelPageList .wheelPageImage a:hover:after {

    box-shadow: 0 0 10px 200px rgba(0, 0, 0, .5) inset;

}

.wheelPageFeatured .wheelPageList .wheelPageContent a {

    color: #333;

    text-decoration: none;

    transition: all .3s linear;

}

.wheelPageFeatured .wheelPageList .wheelPageContent a:hover {

    color: #d40000;

}

.wheelPageFeatured .wheelPageList .wheelPageContent a:hover span {

    color: #d40000;

    transition: all .3s;

}

.wheelPageFeatured .wheelPageList .wheelPageContent p.wheelPagePrice {

    font-size: 20px;

    text-align: left;

    margin: 0;

    font-weight: bold;

    color: #333;

}

.wheelPageFeatured .wheelPageList .wheelPageContent a h1 {

    font-size: 14px;

    margin: 0;

    text-align: left;

    font-weight: 600;

}

.wheelPageFeatured .wheelPageList .wheelPageContent {

    border: 1px solid #dedede;

    padding: 10px;

}

.wheelPageFeatured .wheelPageList .wheelPageContent a h1 span {

    display: block;

    color: #525252;

    font-size: 20px;

    transition: all .3s linear;

    font-weight: normal;

}

.wheelPageFeatured .wheelPageItem {

    margin-bottom: 30px;

}



.wheelPageBItem .wheelPageBImage img {

    width: 100%;

}

.wheelPageBItem {

    position: relative;

    margin: 17px 0;

}

.wheelPageBItem .wheelPageBImage a {

    display: block;

    height: 100%;

    position: relative;

}

.wheelPageBItem .wheelPageBContent {

    position: absolute;

    bottom: 20px;

    width: 100%;

    padding: 0 20px;

}

.wheelPageBItem .wheelPageBContent a {

    color: #fff;

    font-size: 20px;

    font-weight: bold;

    text-decoration: none;

    overflow: hidden;

    text-overflow: ellipsis;

    white-space: nowrap;

    display: block;

}

.wheelPageBItem .wheelPageBContent ul {

    padding: 0;

    margin: 0;

    list-style: none;

}

.wheelPageBItem .wheelPageBContent ul li {

    color: #d0d0d0;

    display: inline-block;

    margin-left: 15px;

}

.wheelPageBItem .wheelPageBContent ul li:first-child {

    margin-left: 0;

}

.wheelPageBItem .wheelPageBImage a:after {

    content: "";

    position: absolute;

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    background-color: transparent;

    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.9) 100%);

    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.9) 100%);

    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.9) 100%);

    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.9) 100%);

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.9) 100%);

    -webkit-transition: all 0.3s linear;

    -moz-transition: all 0.3s linear;

    -o-transition: all 0.3s linear;

    transition: all 0.3s linear;

}

.wheelPageBItem .wheelPageBImage:hover a:after {

    -webkit-box-shadow: 0 0 10px 300px rgba(0, 0, 0, 0.5) inset;

    -moz-box-shadow: 0 0 10px 300px rgba(0, 0, 0, 0.5) inset;

    box-shadow: 0 0 10px 300px rgba(0, 0, 0, 0.5) inset;

    -webkit-transition: all 0.3s linear;

    -moz-transition: all 0.3s linear;

    -o-transition: all 0.3s linear;

    transition: all 0.3s linear;

    background: transparent;

    background-image: none;

}

.wheelPageBlog>div>div>.wheelPageBItem>.wheelPageBContent>a {

    font-size: 18px;

}

.wheelPageBlog>div>div>.wheelPageBItem>.wheelPageBContent>ul>li {

    font-size: 12px;

}

.wheelPageBlog {

    margin-bottom: 60px;

    margin-top: 40px;

}

.wheelPageArticle {

    background-color: #f1f1f1;

    padding: 70px 0;

}

.wheelPageArticle .wheelPageArticleContent h1 {

    margin: 0 0 15px;

    font-size: 30px;

    font-weight: bold;

    color: #333;

    text-transform: uppercase;

}

.wheelPageArticle .wheelPageArticleContent p {

    font-size: 18px;

    color: #5f5f5f;

    margin: 0;

}

.wheelPageArticle .wheelPageArticleContent p a {

    color: #d40000;

    margin: 15px 0 0;

    display: block;

    text-decoration: none;

}

.wheelPageArticle .wheelPageArticleItem .wheelPageArticleImg img {

    width: 100%;

}

.wheelPageArticle .wheelPageArticleItem .wheelPageArticleTitle h1 {

    font-size: 24px;

    font-weight: bold;

    margin: 10px 0;

    color: #414141;

}

.wheelPageArticle .wheelPageArticleItem .wheelPageArticleTitle h1 span {

    display: block;

    font-size: 14px;

    font-weight: normal;

    color: #545454;

}

.wheelPageArticle .wheelPageArticleItem .wheelPageArticleContent p {

    margin: 0;

    font-size: 14px;

}



.wheelPageReview {

  margin: 70px auto;

}

.reviewStar div div {

    color: #dedede;

    display: inline-block;

    margin: 0 3px 0 0;

}

.reviewStar .reviewStar1 div:nth-child(1) {

    color: #d49a13;

}

.reviewStar .reviewStar2 div:nth-child(1), .reviewStar .reviewStar2 div:nth-child(2) {

    color: #d49a13;

}

.reviewStar .reviewStar3 div:nth-child(1), .reviewStar .reviewStar3 div:nth-child(2), .reviewStar .reviewStar3 div:nth-child(3) {

    color: #d49a13;

}

.reviewStar .reviewStar4 div:nth-child(1), .reviewStar .reviewStar4 div:nth-child(2), .reviewStar .reviewStar4 div:nth-child(3), .reviewStar .reviewStar4 div:nth-child(4) {

    color: #d49a13;

}

.reviewStar .reviewStar5 div {

    color: #d49a13;

}

.reviewWheels .reviewTitle .reviewDate p {

    color: #757575;

    margin: 0;

}

.reviewWheels .reviewTitle .reviewProduct p {

    font-size: 20px;

    font-weight: bold;

    margin: 0;

}

.reviewWheels .reviewTitle .reviewName p {

    margin: 0;

    font-size: 16px;

    font-weight: bold;

}

.reviewWheels .reviewContentWheels p {

    margin: 5px 0 0;

    color: #757575;

}

.ratingWheels div div div {

    background-color: #dedede;

    padding: 5px 20px;

    display: table-cell;

    border-right: 1px solid #4c4c4c;

}

.ratingWheels div div div:last-child {

    border: 0;

    border-radius: 0 4px 4px 0;

}

.ratingWheels div div div:nth-child(2) {

    border-radius: 4px 0 0 4px;

}



.ratingWheels div div.rating5 div {

    background-color: #d49a13;

}

.ratingWheels div div.rating4 div:nth-child(2), .ratingWheels div div.rating4 div:nth-child(3), .ratingWheels div div.rating4 div:nth-child(4), .ratingWheels div div.rating4 div:nth-child(5) {

    background-color: #d49a13;

}

.ratingWheels div div.rating3 div:nth-child(2), .ratingWheels div div.rating3 div:nth-child(3), .ratingWheels div div.rating3 div:nth-child(4) {

    background-color: #d49a13;

}

.ratingWheels div div.rating2 div:nth-child(2), .ratingWheels div div.rating2 div:nth-child(3) {

    background-color: #d49a13;

}

.ratingWheels div div.rating1 div:nth-child(2) {

    background-color: #d49a13;

}

.wheelPageReview .wheelsReview {

    margin-bottom: 15px;

    padding-bottom: 15px;

    border-bottom: 1px solid #dedede;

}

.wheelPageReview .wheelsReview:last-child {

    border-bottom: 0 solid #dedede;

}

.ratingWheels div div p {

    margin: 0;

}

.ratingWheels div div {

    margin-bottom: 15px;

}

.card-title span {

    display: block;

    font-size: 12px;

    color: #757575;

}

.card {

    margin-bottom: 30px;

}

.filters-result ul li ul {

    border: 0;

    padding: 0;

    display: none;

}

.pagination {

    width: 100%;

}

.pagination ul {

    list-style: none;

    margin: 0;

    padding: 0 0 60px;

    width: 100%;

    text-align: center;

}

.pagination ul li {

    display: inline-block;

    margin: 0 5px;

    font-size: 18px;

}

.pagination ul li a {

    color: #d40000;

    text-decoration: none;

    padding: 5px;

    display: block;

}

.pagination ul li span {

    color: #757575;

    padding: 5px;

    display: block;

}

.rating-stars ul > li.star > i.fa {

    font-size:1em;

    color:#ccc;

    cursor: pointer;

}

.rating-stars ul > li.star.hover > i.fa {

    color:#FFCC36;

}

.rating-stars ul > li.star.selected > i.fa {

    color:#FF912C;

} 

.rating-stars ul > li.star {

    display:inline-block;

}

.rating-stars ul {

    padding: 0;

    margin: 0;

    list-style: none;

}

div#searchMenuWT {

    padding: 0 15px;

}

div#searchMenuWT .searchmenuWheelstires-img img {

    width: 100%;

}

div#searchMenuWT .searchmenuWheelstires-content {

    padding: 50px;

}

div#searchMenuWT .searchmenuWheelstires-content ul.list-group li {

    list-style: none;

    margin: 5px 0;

}

div#searchMenuWT .searchmenuWheelstires-content ul.list-group li a {

    display: block;

    color: #333;

    text-decoration: none;

    text-align: center;

    padding: 5px;

}

div#searchMenuWT .searchmenuWheelstires-content input {

    outline: none;

    border: 1px solid #dedede;

    border-radius: 0;

    width: 150px;

    max-width: 280px;

    font-size: 16px;

    padding: 5px 7px;

    margin-bottom: 15px;

}

div#searchMenuWT .modal-dialog {

    max-width: 1200px;

    width: 100%;

    margin: 3em auto;

}

div#searchMenuWT .modal-dialog .modal-content {

    /*padding: 15px;*/

}

.custom-search-list ul {

    margin: 0;

    list-style: none;

    padding: 0;

}

.custom-search-list ul li {

    display: inline-block;

    border: 1px solid #dedede;

    border-bottom: 0;

}

.custom-search-list ul li a {

    font-size: 16px;

    text-transform: uppercase;

    color: #757575;

    text-decoration: none;

    padding: 10px 15px;

    display: block;

}

.custom-search-list ul li a img {

    width: 40px;

    display: block;

    margin: auto;

    margin-bottom: 10px;

}

div#customSearchVechile>ul>li {

    list-style: none;

    display: inline-block;

}

div#customSearchVechile>ul {

    margin: 0 0 20px;

    padding: 0;

}

div#customSearchVechile>ul>li>a {

    color: #989898;

    text-decoration: none;

    pointer-events: none;

}

div#customSearchVechile>ul>li>a.active {

    color: #000;

    pointer-events: auto;

}

div#customSearchVechile>ul>li>a:hover {

    color: #000;

}

div#customSearchVechile>ul>li:after {

    content: " /";

}

div#customSearchVechile>ul>li:last-child:after {

    content: "";

}

div#customSearchVechile>div {

    display: none;

}

div#customSearchVechile>div.active {

    display: block;

}

div#customSearchVechile {

    padding: 20px;

    border: 1px solid #dedede;

}

/* Login css */

.form-signin {

    width: 100%;

    max-width: 400px;

    padding: 30px;

    margin: 3rem auto;

    border: 1px solid #dedede;

}

.form-signin .checkbox {

  font-weight: 400;

}

.form-signin .form-control {

  position: relative;

  box-sizing: border-box;

  height: auto;

  padding: 10px;

  font-size: 16px;

}

.form-signin .form-control:focus {

  z-index: 2;

}

.form-signin input[type="email"] {

  margin-bottom: -1px;

  border-bottom-right-radius: 0;

  border-bottom-left-radius: 0;

}

.form-signin input[type="password"] {

  margin-bottom: 10px;

  border-top-left-radius: 0;

  border-top-right-radius: 0;

}

/*  */

.faq-list .card .card-body h5 {

    margin: 0;

}

.faq-list .card .card-body h5 a {

    font-size: 18px;

    text-decoration: none;

    text-transform: uppercase;

    font-weight: bold;

    text-align: center;

    padding: 30px 0;

    color: #5f5f5f;

    display: block;

}

.faq-list .card .card-body {

    padding: 0;

}

.innerpage.faq-page .h-title h1 {

    padding-left: 30px;

}
.innerpage.recommendedInstaller-page .h-title h1 {

    padding-left: 30px;

}
.innerpage.recommendedInstaller-page .h-title p {

    font-size: 16px;

    margin: 10px 0 30px;

}
.h-title p {

    font-size: 16px;

    margin: 10px 0 30px;

}

.faq-list .faqlist .card-header {

    padding: 0;

}



.faq-list .faqlist .card-header button {

    color: #333;

    display: block;

    width: 100%;

    text-align: left;

    text-decoration: none;

}



.faq-list .faqlist .card {

    margin: 00;

}

.faq-list .faqlist .card-body {

    padding: .75rem;

}

.faqlist h1.faq-title {

    font-size: 16px;

    text-transform: uppercase;

    font-weight: bold;

    color: #757575;

}

.faqlist>div {

    padding: 30px 0;

}

.your-slider.slick-initialized .slick-slide {

    margin: 0 15px;

}

.blogImageHome {

    overflow: hidden;

}

.blogHomeBotList:hover .blogImageHome img {

    transform: scale(1.1);

}

.your-slider.slick-initialized .slick-slide img {

    width: 100%;

}

.bottom2Content h1 {

    font-size: 38px;

    color: #fff;

}

.bottom2Content p {

    font-size: 18px;

    color: #fff;

}

.signup-page label {

    font-size: 16px;

}

.signup-page label span {

    color: #d40000;

}

.track-order {

    padding: 3rem 0;

    background-color: #f1f1f1;

}

.form-track-order {

    width: 100%;

    max-width: 600px;

    padding: 30px;

    margin: 0 auto;

    border: 1px solid #dedede;

    background-color: #fff;

}

.stepper .nav-tabs {

  position: relative;

  border: 0;

}

.stepper .nav-tabs > li {

  width: 25%;

  position: relative;

  /* display: block; */

}

.stepper .nav-tabs > li:after {

  content: '';

  position: absolute;

  background: #f1f1f1;

  display: block;

  width: 100%;

  height: 5px;

  top: 38px;

  left: 50%;

  z-index: 1;

}

.stepper .nav-tabs > li.completed::after {

  background: #34bc9b;

}

.stepper .nav-tabs > li:last-child::after {

  background: transparent;

}

.stepper .nav-tabs > li.active:last-child .round-tab {

  background: #34bc9b;

}

.stepper .nav-tabs > li.active:last-child .round-tab::after {

  content: 'âœ”';

  color: #fff;

  position: absolute;

  left: 0;

  height: 20px;

  right: 0;

  top: 0;

  bottom: 0;

  display: block;

  margin: auto;

}

.stepper .nav-tabs [data-toggle='tab'] {

  width: 40px;

  height: 40px;

  margin: 20px auto;

  border-radius: 100%;

  border: none;

  padding: 0;

  color: #f1f1f1;

  display: block;

  pointer-events: none;

}

.stepper .nav-tabs [data-toggle='tab']:hover {

  background: transparent;

  border: none;

}

.stepper .nav-tabs > .active > [data-toggle='tab'], .stepper .nav-tabs > .active > [data-toggle='tab']:hover, .stepper .nav-tabs > .active > [data-toggle='tab']:focus {

  color: #34bc9b;

  cursor: default;

  border: none;

}

.stepper .tab-pane {

  position: relative;

  padding-top: 0;

}

.stepper .round-tab {

  width: 40px;

  height: 40px;

  line-height: 22px;

  display: inline-block;

  border-radius: 25px;

  background: #fff;

  border: 2px solid #34bc9b;

  color: #34bc9b;

  z-index: 2;

  position: absolute;

  left: 0;

  right: 0;

  margin: auto;

  text-align: center;

  font-size: 16px;

  font-weight: bold;

  padding: 7px 0;

}

.stepper .completed .round-tab {

  background: #34bc9b;

}

.stepper .completed .round-tab::after {

  content: 'âœ”';

  color: #fff;

  position: absolute;

  left: 0;

  right: 0;

  margin: 0 auto;

  top: 0;

  display: block;

}

.stepper .active .round-tab {

  background: #fff;

  border: 2px solid #34bc9b;

}

.stepper .active .round-tab:hover {

  background: #fff;

  border: 2px solid #34bc9b;

}

.stepper .active .round-tab::after {

  display: none;

}

.stepper .disabled .round-tab {

  background: #fff;

  color: #f1f1f1;

  border-color: #f1f1f1;

}

.stepper .disabled .round-tab:hover {

  color: #4dd3b6;

  border: 2px solid #a6dfd3;

}

.stepper .disabled .round-tab::after {

  display: none;

}

.track-order .tab-content p {

    font-size: 16px;

    color: #333;

}

.track-order .stepper>p {

    font-size: 20px;

    font-weight: bold;

}

.track-order .stepper>h1 {

    text-transform: uppercase;

    font-weight: bold;

    font-size: 42px;

}

.track-order .tab-content .orderStatusProduct p {

    font-size: 20px;

    margin: 0;

}

.track-order .stepper h3 {

    font-size: 26px;

    text-transform: uppercase;

    font-weight: bold;

}

.track-order .stepper .orderHistory {

    margin-top: 30px;

}

.track-order .stepper .orderHistory {

    margin-top: 30px;

}

.track-order .stepper .orderHistory p {

    font-size: 18px;

    margin: 0 0 5px;

}

.track-order .stepper .orderHistory p span {

    color: #757575;

    float: right;

}

.privacy-statement {

    padding: 70px 0;

    background-color: #f1f1f1;

}

.privacy-statement>div>h1 {

    font-size: 42px;

    font-weight: bold;

    text-transform: uppercase;

    text-align: center;

}

.privacy-statement>div>p {

    text-align: center;

    padding: 0 8rem;

    font-size: 1rem;

    margin: 0 0 50px;

}

.privacy-statement .privacyStateTitle h1 {

    text-align: right;

    font-size: 22px;

    font-weight: bold;

}

.privacy-statement ul {

    padding: 0;

    margin: 0;

    list-style: none;

}

.privacy-statement ul li {

    list-style: none;

}



.privacy-statement .privacyStateContent p {

    font-size: 1rem;

}



.privacy-statement .privacyStateContent {

    border-left: 1px solid #bfbfbf;

}

.privacy-statement>div {

    background: #fff;

    padding-top: 50px;

    padding-bottom: 50px;

}

.return-policyContent {

    padding: 0 2rem;

}

.return-policyContent p {

    font-size: 16px;

}

.return-policyContent ul li {

    font-size: 16px;

    list-style-position: unset;

    list-style-type: disc;

}

.return-policyContent ul {

    font-size: 16px;

    list-style-position: unset;

    list-style-type: disc;

    padding-left: 30px;

}

.return-policyContent ul>p {

    font-weight: bold;

    text-transform: uppercase;

    margin-left: -30px;

}

.useful-links {

    padding: 70px 0;

    background-color: #f1f1f1;

}

.useful-links>div>h1 {

    font-size: 42px;

    font-weight: bold;

    text-transform: uppercase;

    text-align: center;

}

.useful-links>div>p {

    text-align: center;

    padding: 0 8rem;

    font-size: 1rem;

    margin: 0 0 50px;

}

.useful-links>div {

    background: #fff;

    padding-top: 50px;

    padding-bottom: 50px;

}

.useful-links>div .useful-linksList {

    padding: 0 50px;

}

.useful-links>div .useful-linksList h1 {

    font-size: 22px;

    font-weight: bold;

    text-transform: uppercase;

}

.useful-links>div .useful-linksList ul {

    margin: 0;

    padding: 0 0 0;

    list-style: none;

}

.useful-links>div .useful-linksList ul li a {

    color: #757575;

    text-decoration: none;

}

.useful-links>div .useful-linksList ul li a:hover {

    color: #000;

}

.useful-links>div .useful-linksList ul li {

    padding-left: 15px;

    position: relative;

}

.useful-links>div .useful-linksList ul li:before {

    content: "\f105";

    font-family: FontAwesome;

    position: absolute;

    left: 0;

    top: 0;

    bottom: 0;

    margin: auto;

}



.why-us {

    padding: 70px 0;

    background-color: #f1f1f1;

}

.why-us>div>h1 {

    font-size: 42px;

    font-weight: bold;

    text-transform: uppercase;

    text-align: center;

}

.why-us>div>p {

    text-align: center;

    padding: 0 8rem;

    font-size: 1rem;

    margin: 0 0 50px;

}

.why-us>div {

    background: #fff;

    padding-top: 50px;

    padding-bottom: 50px;

}

.why-us>div .why-usContent {

    padding: 0 50px;

}

.why-us>div .why-usContent h1 {

    font-size: 22px;

    font-weight: bold;

    text-transform: uppercase;

}

.why-us>div .why-usContent .why-usList {

    padding: 20px;

    background: rgba(0, 0, 0, 0.02);

    border: 1px solid #dedede;

}

.why-us>div .why-usContent .why-usList {

    padding: 20px;

    background: rgba(0, 0, 0, 0.02);

    border: 1px solid #dedede;

    height: 100%;

}

.why-us>div .why-usContent>h1 {

    font-size: 24px;

    padding-right: 10rem;

}



.why-us>div .why-usContent p {

    font-size: 16px;

}

.why-us>div .why-usContent .why-usList p {

    margin: 0;

}

.why-us>div .why-usContent>div>div {

    margin-top: 30px;

}

.terms-services {

    padding: 70px 0;

    background-color: #f1f1f1;

}

.terms-services>div>h1 {

    font-size: 42px;

    font-weight: bold;

    text-transform: uppercase;

    text-align: center;

}

.terms-services>div>p {

    text-align: center;

    padding: 0 8rem;

    font-size: 1rem;

    margin: 0 0 50px;

}

.terms-services>div {

    background: #fff;

    padding-top: 50px;

    padding-bottom: 50px;

}

.terms-services>div .terms-servicesContent {

    padding: 0 50px;

}

.terms-services>div .terms-servicesContent h1 {

    font-size: 22px;

    font-weight: bold;

    text-transform: uppercase;

}

.terms-services>div .terms-servicesContent p, .terms-services>div .terms-servicesContent ul li {

    font-size: 16px;

}

.terms-services>div .terms-servicesContent .terms-servicesitem p:last-child, .terms-services>div .terms-servicesContent .terms-servicesitem ul:last-child {

    margin: 0;

}

.terms-services>div .terms-servicesContent .terms-servicesitem {

    margin-bottom: 30px;

    padding-bottom: 30px;

    border-bottom: 1px solid #dedede;

}



.roadHazardProg {

    padding: 70px 0;

    background-color: #f1f1f1;

}

.roadHazardProg>div>h1 {

    font-size: 42px;

    font-weight: bold;

    text-transform: uppercase;

    text-align: center;

}

.roadHazardProg>div>p {

    text-align: center;

    padding: 0 8rem;

    font-size: 1rem;

    margin: 0 0 50px;

}

.roadHazardProg>div {

    background: #fff;

    padding-top: 50px;

}

.roadHazardProg .roadHazardProgContent {

    padding: 0 50px;

    background: url(../images/rhp-img.png) no-repeat right bottom;



}

.roadHazardProg .roadHazardProgContent p {

    font-size: 16px;

    margin: 0;

}

.roadHazardProg .roadHazardProgContent li {

    margin-bottom: 10px;

}

.rhp-bottom {

    background-color: #8c3232;

}

.rhp-bottom h1 {

    color: #fff;

    font-size: 32px;

    text-transform: uppercase;

    font-weight: bold;

    margin: 0;

    padding: 30px;

    text-align: center;

}
.recommededZip form h1 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 30px;
    color: #555;
}
.recommededZip form p {
    margin: 0 0 15px;
    font-size: 18px;
}
.recommededZip form p select {
    padding: 8px;
    border: 0;
    border-bottom: 1px solid #dedede;
    color: #757575;
    outline: none;
}
.recommededZip form p input {
    padding: 8px;
    border: 0;
    border-bottom: 1px solid #dedede;
    color: #757575;
    outline: none;
}
.recommededZip form p input[type="submit"] {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #ed1c24;
    padding: 10px 15px;
    width: 100%;
    cursor: pointer;
    margin-top: 15px;
}
.recommededZip form {
    padding: 15px 0 0;
}
.recommendedInstallerContent {
    border-bottom: 1px solid #dedede;
    padding: 30px 0 30px;
    margin: 0 0 30px;
}
.recommendedInstallerList dl dt {
    padding: 15px;
    font-size: 18px;
}
.recommendedInstallerList {
    padding: 0 15px;
    margin-bottom: 50px;
}
.recommendedInstallerList > dl {
    margin-bottom: 0;
}
.recommendedInstallerList > dl:first-child {
    padding: 0;
}
.recommendedInstallerList > dl {
    padding: 15px 0;
    border-bottom: 1px solid #dededede;
}
.recommendedInstallerList > dl.selected {
    background-color: #ed1c24;
}
.recommendedInstallerList > dl.selected > dd {
    color: #fff;
}
.recommendedInstallerList > dl > dd {
    color: #333;
    font-size: 16px;
}
.recommendedInstallerList > dl > dd.recommendedInstallerNumber {
    position: relative;
}
.recommendedInstallerList > dl > dd.recommendedInstallerNumber>span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 50% 50% 50% 0;
    border: 3px solid #333;
    width: 40px;
    height: 40px;
    transform: rotate(-45deg);
}
.recommendedInstallerList > dl.selected > dd.recommendedInstallerNumber>span {
    border: 3px solid #fff;
}
.recommendedInstallerList > dl > dd.recommendedInstallerNumber>span>span {
    transform: rotate(45deg);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 16px;
    width: 100%;
    height: 24px;
    font-weight: bold;
    text-align: center;
}
.recommendedInstallerList .pagination {
    padding: 20px 0 0;
}
.recommendedInstallerList .pagination ul {
    padding: 0;
}
.recommendedInstallerList > dl dd a {
    display: block;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #f58220;
    background-color: transparent;
    border: 2px solid #f58220;
}
.recommendedInstallerList > dl.selected dd a {
    color: #000;
    background-color: #f1f1f1;
    border: 2px solid transparent;
}
.innerpage.my-account {
    margin: 0;
    padding: 80px 0;
    background-color: #f1f1f1;
}
.innerpage.my-account .h-title h1 {
    background: #f1f1f1;
}
.myAccountContainer .leftAccount, .myAccountContainer .rightAccount {
    padding: 15px;
    background: #fff;
}
.myAccountContainer .leftAccount ul.accountNav {
    padding: 0;
    margin: 0;
    list-style: none;
}
.myAccountContainer .leftAccount ul.accountNav li a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #dedede;
    text-decoration: none;
    color: #333;
    border-left: 2px solid transparent;
}
.myAccountContainer .leftAccount ul.accountNav li a:hover {
    color: #f58220;
}
.myAccountContainer .leftAccount ul.accountNav li.active a {
    border-left: 2px solid #f58220;
}
.myAccountContainer .leftAccount ul.accountNav li:first-child a {
    border-top: 1px solid #dedede;
}
.myAccountContainer .leftAccount .accountImage img {
    width: 100%;
}
.myAccountContainer .leftAccount h1.accountName {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 20px;
}
.rightAccount h1.rightAccountTitle a {
    font-size: 14px;
    color: #ed1c24;
    text-decoration: none;
}
.rightAccount h1.rightAccountTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dedede;
}
.myAcountLabels {
    font-size: 18px;
}
.myAcountLabels label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin: 0;
}
.myAcountLabels>div>div {
    margin-bottom: 15px;
}
.myAccountInfo .myAcountLabels>div>div:last-child {
    margin: 0;
}
.myAccountInfo, .myAccountAddress {
    margin-bottom: 50px;
}
.myAccountRecentOrder table tr th,.myAccountRecentOrder table tr td {
    border: 1px solid #dedede;
    padding: 10px;
}
.myAccountRecentOrder table tr td a {
    color: #ed1c24;
    text-decoration: none;
    font-weight: bold;
}
.myAcountLabels input, .myAcountLabels select {
    width: 100%;
    border: 1px solid #dedede;
    padding: 7px 10px;
    outline: none;
}
.myAcountLabels input[type="submit"] {
    background: #f58220;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.order-information {
    margin-top: 50px;
}
div#addPaymentMethod label {
    display: block;
    margin: 0 0;
    font-weight: bold;
}
div#addPaymentMethod input {
    width: 100%;
    padding: 7px 10px;
    outline: none;
}
div#addPaymentMethod .modal-body > div > div {
    margin-bottom: 15px;
}
div#removePaymentMethod .modal-header {
    border-bottom: 0;
}
.popupsize button.close {
    position: absolute;
    right: -25px;
    top: -2px;
    color: #fff;
    opacity: 1;
}
div.popupsize .modal-dialog {
    max-width: 1100px;
    margin-top: 100px;
}
div.popupsize .modal-dialog nav {
    background: transparent!important;
    border-radius: 0!important;
    border: 0!important;
}
div.popupsize .modal-dialog .tab-content {
    border-top: 0;
}
div.popupsize .modal-dialog nav .nav-tabs .nav-link.active {
    color: #333;
}
div.popupsize .modal-dialog nav .nav-tabs .nav-link {
    color: #75757575;
    font-size: 16px;
}
div.popupsize .modal-dialog .oeSize ul {
    padding: 0;
    margin: 0 -15px;
    list-style: none;
    font-size: 0;
}
div.popupsize .modal-dialog .oeSize ul li {
    display: inline-block;
    padding: 15px;
    text-align: left;
}
div.popupsize .modal-dialog .oeSize ul li h1 {
    font-size: 28px;
    font-weight: bold;
}
div.popupsize .modal-dialog .oeSize ul li h1 span {
    display: block;
    font-size: 14px;
    color: #757575;
    font-weight: normal;
}
div.popupsize .modal-dialog .oeSize ul li h1 a {
    display: block;
    font-size: 16px;
    color: #f58220;
    font-weight: normal;
    text-decoration: none;
}
div.sizeListSearch div div {
    padding: 15px;
    border: 1px solid #dedede;
    margin-top: 10px;
}
.optionalSizeMenu a {
    background: #333;
    outline: none;
    border: 0;
}
.optionalSizeMenu a:hover, .optionalSizeMenu a:focus {
    background: #ed1c24;
    box-shadow: none;
}
.optionalSizeMenu a:not(:disabled):not(.disabled):active {
    background: #ed1c24;
    box-shadow: none;
}
div.sizeListSearch a {
    font-size: 16px;
    width: 24%;
    display: inline-block;
    padding: 10px;
    background: #dedede;
    text-align: center;
    color: #333;
    margin: .5%;
    text-decoration: none;
    transition: all .3s;
}
div.sizeListSearch div {
    font-size: 0;
}
div.sizeListSearch a:hover {
    background: #333;
    color: #dedede;
}
.optionalSize p {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px;
}
div#cartOpen .modal-dialog {
    max-width: 700px;
    text-align: center;
    margin-top: 5%;
}
div#cartOpen .cartInstaller p {
    font-size: 18px;
}
div#cartOpen .cartInstaller a {
    display: inline-block;
    background: #f58220;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
div#cartOpen .modal-dialog .modal-body button.close {
    position: absolute;
    right: 15px;
    top: 15px;
}
div#cartOpen .modal-dialog .modal-body {
    padding: 30px;
}
.recommendedMap img {
    width: 100%;
}
.shippingContent {
    width: 100%;
    float: left;
}
.shippingContent .input-fields label {
    text-align: left;
}
.homeDelivery .fedex img {
    margin-bottom: 30px;
}
.installerSearchCO {
    margin-bottom: 30px;
}
.pickUp input[name="recommendedPostal"] {
    width: 100%;
    padding: 7px;
}
.pickUp input[name="recommendedSubmit"] {
    width: 100%;
    padding: 7px;
    border: 1px solid #dedede;
    cursor: pointer;
}
.checkBillingInfo.checkOrderProduct img {
    width: 100%;
}
.checkBillingInfo.checkOrderProduct h1 {
    font-size: 24px;
    font-weight: bold;
}
.checkBillingInfo.checkOrderProduct h4 {
    font-size: 18px;
    font-weight: bold;
}
.checkBillingInfo.checkOrderProduct p {
    margin: 0 0 10px;
}
.checkBillingInfo h1.checkBillingInfoTitle {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.checkBillingInfo {
    margin: 30px 0;
    border-bottom: 1px solid #dedede;
    padding: 0 0 15px;
}
.checkBillingInfo:last-child {
    margin: 30px 0 0;
    padding: 0;
    border: 0;
}
.checkBillingInfo h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 10px;
}
.reviewAppliedProm h1 {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    background: #eaeaeaea;
    padding: 11px;
}
.reviewAppliedProm h1 span {
    font-size: 14px;
    font-weight: normal;
    display: block;
}
.reviewAppliedProm {
    border: 1px solid #dedede;
    margin-top: 30px;
}
.reviewAppliedProm ul {
    padding: 5px 20px 0;
}
.reviewAppliedProm ul li {
    margin: 5px 0;
    font-size: 16px;
}
.reviewAppliedProm ul li i {
    margin-right: 5px;
}
.reviewProductTotal {
    margin: 30px 0;
    background-color: #ebebeb;
    padding: 15px 15px 1px;
}
.reviewProductTotal ul li span {
    width: 65%;
    display: inline-block;
    font-size: 16px;
    text-align: right;
    font-weight: bold;
}
.reviewProductTotal ul li span:last-child {
    width: 35%;
    display: inline-block;
}
.reviewProductTotal ul li {
    font-size: 0;
    margin: 5px 0;
}
.reviewProductTotal ul li span span.sm-t {
    width: 100%;
    font-size: 12px;
    font-weight: normal;
}
.reviewProductTotal ul li:last-child span {
    font-size: 20px;
}
.reviewProductTotal ul li:last-child span:last-child {
    color: #ed1921;
}
.reviewProductTotal ul li:last-child {
    border-top: 1px solid #dedede;
    padding-top: 5px;
}
.orderThankyouMsg {
    padding: 40px;
    border: 1px solid #dedede;
    margin: 100px 0 30px;
}
.orderThankyouMsg h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
}
.orderThankyouMsg p {
    font-size: 18px;
    margin: 0 0 7px;
}
.orderThankyouMsg p a {
    color: #ed1c24;
    text-decoration: none;
}
.orderThankyouSave {
    padding: 40px;
    border: 1px solid #dedede;
    margin: 0 0 30px;
}
.orderThankyouSave {
    padding: 40px;
    border: 1px solid #dedede;
    margin: 30px 0 30px;
}
.orderThankyouSave h3 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 30px;
}
button.thankyouCA {
    border: 0;
    padding: 15px 25px;
    color: #fff;
    outline: none;
    background: #f58220;
    position: relative;
    float: right;
}