= render "mainpages/header"
.container.signup-page
  .py-5.text-center
    h2 Create Account form
    p.lead Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.
  .row.mb-5
    .col-md-12.order-md-1
      / :first_name, :last_name, :email, :password, :address, :address2, :country, :state, :zip
      / form.needs-validation
      = form_for @user, html: { class: 'needs-validation' } do |f|
        .row
          .col-md-6.mb-3
            label for="firstName" 
              | First name
              span *
            / input#firstName.form-control placeholder="" required="" type="text" value="" /
            = f.text_field :first_name, class: "form-control", id:"firstName", placeholder: "", required: true  
            .invalid-feedback
              | Valid first name is required.
          .col-md-6.mb-3
            label for="lastName" 
              | Last name
              span *
            / input#lastName.form-control placeholder="" required="" type="text" value="" /
            = f.text_field :last_name, class: "form-control", id:"lastName", placeholder: "", required: true
            .invalid-feedback
              | Valid last name is required.
        .mb-3
          label for="username" 
            | Username
            span *
          .input-group
            .input-group-prepend
              span.input-group-text @
            / input#username.form-control placeholder="Username" required="" type="text" /
            = f.text_field :username, class: "form-control", id:"username", placeholder: "", required: true
            .invalid-feedback style=("width: 100%;") 
              | Your username is required.
        .mb-3
          label for="email" 
            | Email Address
            span *
          / input#email.form-control placeholder="you@example.com" required="" type="email" /
          = f.email_field :email, class: "form-control", id:"email", placeholder: "", required: true
          .invalid-feedback
            | Please enter a valid email address for shipping updates.
        .mb-3
          label for="password" 
            | Password
            span *
          / input#password.form-control placeholder="**********" required="" type="password" /
          = f.password_field :password, class: "form-control", id:"password", placeholder: "", required: true
          .invalid-feedback
            | Please enter your shipping address.
        .mb-3
          label for="confirm_password"  Confirm Password
          span#message
          / input#confirm_password.form-control placeholder="**********" type="password" /
          = f.password_field :password_confirmation, class: "form-control", id:"confirm_password", placeholder: "", required: true
          password_field
          .invalid-feedback
            | Please enter your shipping address.
        .mb-3
          label for="address" 
            | Address
            span *
          / input#address.form-control placeholder=("1234 Main St") required="" type="text" /
          = f.text_field :address, class: "form-control", id:"address", placeholder: "1234 Main St", required: true
          .invalid-feedback
            | Please enter your shipping address.
        .mb-3
          label for="address2" 
            | Address 2
            span.text-muted (Optional)
          / input#address2.form-control placeholder=("Apartment or suite") type="text" /
          = f.text_field :address2, class: "form-control", id:"address2", placeholder: "Apartment or suite", required: true
        .row
          .col-md-5.mb-3
            label for="country" 
              | Country
              span *
            select#country.custom-select.d-block.w-100 required="" 
              option value=""  Choose...
              option United States
            .invalid-feedback
              | Please select a valid country.
          .col-md-4.mb-3
            label for="state" 
              | State
              span *
            select#state.custom-select.d-block.w-100 required="" 
              option value=""  Choose...
              option California
            .invalid-feedback
              | Please provide a valid state.
          .col-md-3.mb-3
            label for="zip" 
              | Zip
              span *
            input#zip.form-control placeholder="" required="" type="text" /
            .invalid-feedback
              | Zip code required.
        hr.mb-4/
        button#signup-btn.btn.btn-primary.btn-lg.btn-block type="submit"  Create Account
= render "mainpages/footer"
javascript:
  $('#password, #confirm_password').on('keyup', function () {
    if ($('#password').val() == $('#confirm_password').val()) {
      $('#message').html('Matched').css('color', 'green');
      $('#signup-btn').removeAttr("disabled");
    } else {
      $('#message').html('Not Matching').css('color', 'red');
      $('#signup-btn').attr("disabled", "disabled");
    }
  });
