= render "mainpages/header"
.innerpage
  .container
    .row
      .col-md-12
        .h-title
          h1 SHOPPING CART
          hr/
        .co-inner
          .row
            .col-md-12
              - @grand_total = []
              - @carts.each do |cart|
                - @tire_info = TireInventory.find cart.item_id
                .cart-top-1
                  .row
                    .col-md-2
                      a href="product-landing-page-tire.html" 
                        img.img-fluid alt="" src="#{@tire_info.Imageurlquarter}" /
                    .col-md-3.ct-desc
                      h2 = @tire_info.Brand
                      h1 = @tire_info.Model
                      h3 #{@tire_info.FullSize} #{@tire_info.Loadindex1}#{@tire_info.Speedrating} #{@tire_info.Sidewallstyle}
                      p
                        | Item SKU: ##{@tire_info.MSPN}
                        br/
                        - @stars = compute_ratings(@tire_info.Brand, @tire_info.Model)
                        - if @stars == 5 
                          span
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                        - elsif @stars == 4
                          span
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star-o
                        - elsif @stars == 3
                          span
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                        - elsif @stars == 2
                          span
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o

                        - elsif @stars == 1
                          span
                            i.fa.fa-star
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                        - else
                          span
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                            i.fa.fa-star-o
                          
                          | &nbsp; #{@stars}
                    .col-md-4.pp-tool-1
                      p
                        i.fa.fa-map-marker
                        | MY NEAREST STORE
                      p.str-stock
                        | 0 In Stock
                        strong
                          i.fa.fa-check style=("color: green;") 
                          | Order now, available in 3 - 5 days
                          i.fa.fa-info-circle data-container=".pp-tool-1" data-content=("Installation appointments are available on the next business day after products arrive at your store.") data-placement="bottom" data-toggle="popover" 
                      p.str-add 20741 S Avalon Blvd Carson, CA 90746
                    .col-md-1.text-right
                      p
                        strong EACH
                      p
                        - @price = cart.price
                        strong = number_to_currency(@price, unit:"$")
                    .col-md-1.text-right
                      p
                        strong Qty
                      p
                        input.form-control name="" type="number" value="#{cart.quantity}" /
                        = link_to "remove", cart_path(cart), method: :delete, class: "", data: { confirm: "Are you sure?" }
                    .col-md-1.text-right
                      p
                        strong Price
                      p
                        - @total = cart.quantity * cart.price
                        / - @grand_total << @total
                        strong = number_to_currency(@total, unit:"$")
                hr/
                .cart-top-2 style="display:none;" 
                  .row
                    .offset-md-3.col-md-6
                      p
                        strong Fee Details
                      p
                        | Mounting &amp; Balancing
                        a href="#"  view details
                    .col-md-1.text-right
                      p
                        strong EACH
                      p
                        - @mount_fee = 19
                        strong $19.00
                    .col-md-1.text-right
                      p
                        strong Qty
                      p
                        - @qty = cart.quantity 
                        strong = @qty
                    .col-md-1.text-right
                      p
                        strong Price
                      p
                        - @mount_fee_tot = @mount_fee * @qty
                        strong = number_to_currency(@mount_fee_tot, unit:"$")
                  .row
                    .offset-md-3.col-md-6
                      p.pp-tool-3
                        | Environmental Fee (State Required)
                        a data-container=".pp-tool-3" data-content=("Installation appointments are available on the next business day after products arrive at your store.") data-placement="top" data-toggle="popover" tabindex="0" 
                          i.fa.fa-info-circle
                    .col-md-1.text-right
                      p
                        - @environment_fee = 1.75
                        strong $1.75
                    .col-md-1.text-right
                      p
                        strong = @qty
                    .col-md-1.text-right
                      p
                        - @environment_fee_tot = @environment_fee * @qty
                        strong = number_to_currency(@environment_fee_tot, unit:"$")
                  .row
                    .offset-md-3.col-md-6
                      p.pp-tool
                        | Disposal Fee
                        a data-container=".pp-tool" data-content=("The Disposal Fee covers the cost for a licensed regulated disposal service to properly discard your tires.") data-placement="top" data-toggle="popover" tabindex="0" 
                          i.fa.fa-info-circle
                    .col-md-1.text-right
                      p
                        - @disposal_fee = 2
                        strong $2.00
                    .col-md-1.text-right
                      p
                        strong = @qty
                    .col-md-1.text-right
                      p
                        - @disposal_fee_tot = @disposal_fee * @qty
                        strong = number_to_currency(@disposal_fee_tot, unit:"$")
                .cart-button
                  .row
                    .offset-md-8.col-md-2.text-right
                      p
                        a.show-fee href="#"  Show Fee Details +
                    .col-md-2.text-right
                      p style=("font-size: 18px;")
                        - @subtotal = @mount_fee_tot + @environment_fee_tot + @disposal_fee_tot
                        strong
                          | subtotal
                          span style=("margin-left: 10px;") = number_to_currency(@subtotal, unit:"$")
                div
                  .row
                    .offset-md-3.col-md-9
                      .cart-rebate
                        .row
                          .col-md-9
                            p
                              input name="road_hazzard" id="road_hazzard" type="checkbox" /
                              | + Add Road Hazzard Program
                          .col-md-1.text-right
                            p
                              - @road_hazzard_val = @price * 0.1
                              strong = number_to_currency(@road_hazzard_val, unit:"$")
                          .col-md-1.text-right
                            p = @qty
                          .col-md-1.text-right
                            p
                              - @hazzard_tot = @road_hazzard_val * @qty
                              strong = number_to_currency(@hazzard_tot, unit:"$")
                div
                  .row
                    .offset-md-3.col-md-9
                      .cart-rebate-2
                        .row
                          .col-md-7
                            p
                              img.img-fluid alt="" src="/images/fedex.png" /
                          .col-md-3.text-right
                            p
                              - cart.fedex_rates.each do |rate|
                                p = rate.service_name
                                p = number_to_currency(rate.price.to_f / 100)
                              / - @rate = cart.fedex_rates[0]
                              / strong = @rate.service_name
                          .col-md-2.text-right
                            p
                              / strong = number_to_currency(@rate.price.to_f / 100)
                          
                          / .col-md-9
                          /   - cart.fedex_rates.each do |rate|
                          /     p = rate.service_name
                          /     p = number_to_currency(rate.price.to_f / 100)    
                          / .col-md-3.text-right
                          /   p
                          /     a href="#" target="_blank"  view details
                div
                  .row
                    .offset-md-3.col-md-9
                      .cart-rebate-2
                        .row
                          .col-md-9
                            p
                              i.fa.fa-tag
                              | Up to $50 Mail in Rebate -
                              i Valid 11/1 - 12/1/18
                          .col-md-3.text-right
                            p
                              a href="#" target="_blank"  view details
                div
                  .row
                    .offset-md-6.col-md-6
                      .row
                        .col-md-8.text-right
                          h3
                            strong Item Subtotal
                        .col-md-4.text-right
                          h3
                            - @item_subtotal = @total + @subtotal
                            strong = number_to_currency(@item_subtotal, unit:"$")
                            - @grand_total << @item_subtotal
                hr/
            / .col-md-12
            /   .co-left
            /     .check-items
            /       .co-l-top
            /         .row
            /           .col-2
            /             | Image/s
            /           .col-10
            /             .row
            /               .col-md-4
            /                 | Description
            /               .col-md-2
            /                 | QTY
            /               .col-md-2
            /                 | Each
            /               .col-md-2
            /                 | Price
            /               .col-md-2
            /                 | Delete
            /       - @grand_total = []
            /       - @carts.each do |cart|
            /         - if cart.tag_location == 'add_to_cart'
            /           - @tire_info = TireInventory.find cart.item_id
            /           .co-l-items
            /             .row
            /               .col-2
            /                 a href="product-landing-page-tire.html" 
            /                   img.img-fluid alt="" src="#{@tire_info.Imageurlquarter}" /
            /               .col-10
            /                 .row
            /                   .col-md-4
            /                     .co-li
            /                       / a href="product-landing-page-tire.html" /
            /                       = link_to "<h1>#{@tire_info.Brand} - #{@tire_info.Model}</h1>".html_safe, product_page_path(params.merge(id: @tire_info.id))
            /                       ul.list-unstyled
            /                         li
            /                           span Part Number:
            /                           | &nbsp; #{@tire_info.MSPN}
            /                         li
            /                           span Section Width:
            /                           | &nbsp; #{@tire_info.Sectionwidth}
            /                         li
            /                           span Aspect Ratio:
            /                           | &nbsp; #{@tire_info.Aspectratio}
            /                   .col-md-2
            /                     | #{cart.quantity}
            /                   .col-md-2
            /                     .co-price
            /                       | $ #{cart.price}
            /                   .col-md-2
            /                     .co-subtotal
            /                       - @total = cart.quantity * cart.price
            /                       | $ #{@total}
            /                       - @grand_total << @total
            /                   .col-md-2
            /                     .co-delete
            /                       = link_to "<i class='fa fa-window-close-o'></i>".html_safe, cart_path(cart), method: :delete, class: "", data: { confirm: "Are you sure?" } 
            /                       / a href="#" 
            /                         i.fa.fa-window-close-o
            /                   .col-md-12
            /                     .co-road
            /                       a href="#" 
            /                         | + Add Road Hazzard Program
            /                         i.fa.fa-info-circle
            /         - else
            /           - @wheel_info = WheelInventory.find cart.item_id
            /           .co-l-items
            /             .row
            /               .col-2
            /                 a href="product-landing-page-tire.html" 
            /                   img.img-fluid alt="" src="/images/niche-img.jpg" /
            /               .col-10
            /                 .row
            /                   .col-md-4
            /                     .co-li
            /                       / a href="product-landing-page-tire.html" /
            /                       = link_to "<h1>#{@wheel_info.Brand} - #{@wheel_info.ModelName}</h1>".html_safe, product_page_path(params.merge(id: @wheel_info.id))
            /                       ul.list-unstyled
            /                         li
            /                           span Part Number:
            /                           | &nbsp; #{@wheel_info.ManufacturerPartNum}
            /                         li
            /                           span Wheel Size:
            /                           | &nbsp; #{@wheel_info.WheelSize}
            /                         li
            /                           span Description:
            /                           | &nbsp; #{@wheel_info.ManufacturersFinishDescription}
            /                   .col-md-2
            /                     | #{cart.quantity}
            /                   .col-md-2
            /                     .co-price
            /                       | $ #{cart.price}
            /                   .col-md-2
            /                     .co-subtotal
            /                       - @total = cart.quantity * cart.price
            /                       | $ #{@total}
            /                       - @grand_total << @total
            /                   .col-md-2
            /                     .co-delete
            /                       = link_to "<i class='fa fa-window-close-o'></i>".html_safe, cart_path(cart), method: :delete, class: "", data: { confirm: "Are you sure?" } 
            /                       / a href="#" 
            /                         i.fa.fa-window-close-o
            /                   .col-md-12
            /                     .co-road
            /                       a href="#" 
            /                         | + Add Road Hazzard Program
            /                         i.fa.fa-info-circle
            /       / .co-l-items
            /       /   .row
            /       /     .col-2
            /       /       a href="product-landing-page-tire.html" 
            /       /         img.img-fluid alt="" src="/images/saffiro-tires21312.png" /
            /       /     .col-10
            /       /       .row
            /       /         .col-md-4
            /       /           .co-li
            /       /             a href="product-landing-page-tire.html" /
            /       /             h1 SAFFIRO - SF7000
            /       /             ul.list-unstyled
            /       /               li
            /       /                 span Part Number:
            /       /                 | SF-AEP026
            /       /               li
            /       /                 span Section Width:
            /       /                 | 215
            /       /               li
            /       /                 span Aspect Ratio:
            /       /                 | 70
            /       /         .col-md-2
            /       /           .form-group
            /       /             input.form-control name="" type="number" value="4" /
            /       /         .col-md-2
            /       /           .co-price
            /       /             | $84.99
            /       /         .col-md-2
            /       /           .co-subtotal
            /       /             | $339.96
            /       /         .col-md-2
            /       /           .co-delete
            /       /             a href="#" 
            /       /               i.fa.fa-window-close-o
            /       /         .col-md-12
            /       /           .co-road
            /       /             a href="#" 
            /       /               | + Add Road Hazzard Program
            /       /               i.fa.fa-info-circle
            /       .co-update
            /         .row
            /           .col-md-4
            /             a href="#"  Empty Cart
            /           .col-md-8
            /             .co-up-r
            /               ul.list-unstyled
            /                 li
            /                   a href="cart.html"  Update Shopping Cart
            /                 li.co-or
            /                   | or
            /                 li
            /                   a href="index.html"  Continue Shopping
            .col-md-12.divider-title
              h1 OPTIONAL SERVICES
            .col-md-12
              .co-os-inner
                .coosi-head
                  .row
                    .col-md-5
                      | Product Item(s)
                    .col-md-2
                      | Quantity
                    .col-md-2
                      | Each
                    .col-md-2
                      | Price
                    .col-md-1
                .coosi-inner
                  / .row
                  /   .col-md-5
                  /     .coosi-pd
                  /       | Mount Balance Tires & Weights
                  /   .col-md-2
                  /     .coosi-tm
                  /       | 4
                  /   .col-md-2
                  /     .coosi-tm
                  /       | $17.99
                  /   .col-md-2
                  /     .coosi-tm
                  /       strong $71.96
                  /       input#switch1_price type="hidden" value=71.96
                  /   .col-md-1
                  /     label.switch#switch1
                  /       input type="checkbox" /
                  /       span.slider
                .coosi-inner
                  .row
                    .col-md-5
                      .coosi-pd
                        | Valve Stems
                    .col-md-2
                      .coosi-tm
                        | 4
                    .col-md-2
                      .coosi-tm
                        | $17.99
                    .col-md-2
                      .coosi-tm
                        strong $71.96
                        input#switch2_price type="hidden" value=71.96
                    .col-md-1
                      label.switch#switch2
                        input type="checkbox" /
                        span.slider
                .coosi-inner
                  .row
                    .col-md-5
                      .coosi-pd
                        | Liftime Tire Rotation
                    .col-md-2
                      .coosi-tm
                        | 4
                    .col-md-2
                      .coosi-tm
                        | Free
                    .col-md-2
                      .coosi-tm
                        strong Free
                    .col-md-1
                      label.switch
                        input type="checkbox" /
                        span.slider
                .coosi-inner
                  .row
                    .col-md-5
                      .coosi-pd
                        | $20 Off Alignment Services
                    .col-md-2
                      .coosi-tm
                        | \-
                    .col-md-2
                      .coosi-tm
                        | \-
                    .col-md-2
                      .coosi-tm
                        strong -
                    .col-md-1
                      label.switch
                        input type="checkbox" /
                        span.slider
                .coosi-inner
                  .row
                    .col-md-5
                      .coosi-pd
                        | $20 Off Brake Services
                    .col-md-2
                      .coosi-tm
                        | \-
                    .col-md-2
                      .coosi-tm
                        | \-
                    .col-md-2
                      .coosi-tm
                        strong -
                    .col-md-1
                      label.switch
                        input type="checkbox" /
                        span.slider
                .coosi-inner
                  .row
                    .col-md-5
                      .coosi-pd
                        | 15% Off Shocks/Struts Services
                    .col-md-2
                      .coosi-tm
                        | \-
                    .col-md-2
                      .coosi-tm
                        | \-
                    .col-md-2
                      .coosi-tm
                        strong -
                    .col-md-1
                      label.switch
                        input type="checkbox" /
                        span.slider
                .coosi-inner
                  .row
                    .col-md-5
                      .coosi-pd
                        | Oil Change (Premium Conventional)
                    .col-md-2
                      .coosi-tm
                        | 4
                    .col-md-2
                      .coosi-tm
                        | $17.99
                    .col-md-2
                      .coosi-tm
                        strong $71.96
                        input#switch3_price type="hidden" value=71.96
                    .col-md-1
                      label.switch#switch3
                        input type="checkbox" /
                        span.slider
                .coosi-inner
                  .row
                    .col-md-5
                      .coosi-pd
                        | Oil Change (Synthetic Blend)
                    .col-md-2
                      .coosi-tm
                        | 4
                    .col-md-2
                      .coosi-tm
                        | $17.99
                    .col-md-2
                      .coosi-tm
                        strong $71.96
                        input#switch4_price type="hidden" value=71.96
                    .col-md-1
                      label.switch#switch4
                        input type="checkbox" /
                        span.slider
                .coosi-inner
                  .row
                    .col-md-5
                      .coosi-pd
                        | Oil Change (Full Synthetic)
                    .col-md-2
                      .coosi-tm
                        | 4
                    .col-md-2
                      .coosi-tm
                        | $17.99
                    .col-md-2
                      .coosi-tm
                        strong $71.96
                        input#switch5_price type="hidden" value=71.96
                    .col-md-1
                      label.switch#switch5
                        input type="checkbox" /
                        span.slider
            .col-md-12.co-pro-title
              .row
                / .col-md-8
                /   .copt
                /     h1 APPLIED PROMOTIONS
                /     p GO TO THE PROMOTIONS PAGE TO SEE THE DETAILS ON THE PROMOTION APPLICABLE.
                /   .copt-ul
                /     ul.list-unstyled
                /       li
                /         i.fa.fa-hand-o-right
                /         | 70 Michelin Tires Mail In Rebate
                /       li
                /         i.fa.fa-hand-o-right
                /         | Buy Any Set Of 4 Tires &amp; Receive 4 FREE Tickets To RACER'S EDGE
                /       li
                /         i.fa.fa-hand-o-right
                /         | Get 4 FREE LEGOLAND TICKETS When You Spend $800
                .offset-md-7.col-md-5
                  .copt-right
                    .coup
                      form
                        .form-group
                          label Discount Codes
                          input.form-control name="" type="text" /
                          input.btn.btn-danger name="" type="submit" /
                    .co-total
                      ul.list-unstyled
                        - @tot_sub = @grand_total.inject(:+).to_f
                        - @tot = @tot_sub
                        li
                          span
                            | Subtotal
                          span = number_to_currency(@tot, unit:"$")
                        li
                          span
                            | Tire Disposal Free
                            br/
                            span.sm-t $1.25 Included On Each Tire Item.
                          span $5.00
                        li
                          span HI - Sales Tax
                          span $10.53
                        li
                          - @tot = (@tot + 5) + 10.53
                          span Grand Total $
                          / span $238.97
                          span#tot = number_to_currency(@tot, unit: " ")
                          
                          input#grand_total type="hidden" value="#{@tot}"
                      .co-ch-btn
                        / a.btn.btn-danger href="checkout.html"  Checkout
                        = link_to "Checkout", cart_checkouts_path(gt: @tot), class: "btn btn-danger"
                        a href="index.html"  Continue Shopping

footer
  .container
    .row
      .col-sm-4
        .footer-inner
          h2 WHY ONLINE TIRES?
          ul
            li
              a href="#"  The Online Tires Advantage
            li
              a href="#"  Our Expertise
            li
              a href="#"  Events & Sponsorships
            li
              a href="#"  Road Hazard Protection
            li
              a href="#"  Careers
      .col-sm-5
        .footer-inner
          h2
            | DELIVERY &
            br>/
            | INSTALLATION
          ul
            li
              a href="#"  Quick Delivery
            li
              a href="#"  Recommended Installers
            li
              a href="#"  Installers' Price Pledge
            li
              a href="#"  Package Installation Instructions
      .col-sm-3
        .footer-inner
          h2 CUSTOMER SUPPORT
          ul
            li
              a href="#"  Contact Us
            li
              a href="#"  Order Tracking
            li
              a href="#"  Warranty Information
            li
              a href="#"  Returns/Refunds
            li
              a href="#"  FAQs
          h2 style=("color: #d40000; font-size: 28px; font-style: italic; margin-bottom: 20px")  877-465-8473
    .footer-menu-b
      ul
        li
          a href="#"  TERMS OF USE
        li
          a href="#"  PRIVACY PLEDGE
        li
          a href="#"  ACCESSIBILITY STATEMENT
      .row
        .col-sm-4
          img src="/images/footer-b.jpg" /
        .col-sm-8
          .text-right.social-media-a
            a href="#" 
              img src="/images/pin.jpg" /
            a href="#" 
              img src="/images/you.jpg" /
            a href="#" 
              img src="/images/gplus.jpg" /
            a href="#" 
              img src="/images/rss.jpg" /
            a href="#" 
              img src="/images/vimeo.jpg" /
            a href="#" 
              img src="/images/twit.jpg" /
            a href="#" 
              img src="/images/link.jpg" /
            a href="#" 
              img src="/images/fb.jpg" /
.footer-bottom.text-center
  | © 2018 Online Tires. All Rights Reserved.

javascript:
  $(function () {
    $('.your-slider').slick({
      dots: false,
      infinite: true,
      speed: 300,
      slidesToShow: 6,
      slidesToScroll: 6,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });

    $(".filters").on("click",function(){
      $(this).next().slideToggle();
    });

    $('#switch1 input[type="checkbox"]').on('change', function() {
      var state = $(this).is(':checked');
      var price1 = parseFloat($("#switch1_price").val(), 10);
      var grand_total = parseFloat($("#grand_total").val(), 10);
      if(state){
        var tot = price1 + grand_total
        $("#tot").html(tot);
        $("#grand_total").val(tot);
      }else{
        var tot = grand_total - price1
        $("#tot").html(tot);
        $("#grand_total").val(tot);
      }
    });

    $('#switch2 input[type="checkbox"]').on('change', function() {
      var state = $(this).is(':checked');
      var price2 = parseFloat($("#switch2_price").val(), 10);
      var grand_total = parseFloat($("#grand_total").val(), 10);
      if(state){
        var tot = price2 + grand_total
        $("#tot").html(tot);
        $("#grand_total").val(tot);
        alert(grand_total);
      }else{
        var tot = grand_total - price2
        $("#tot").html(tot);
        $("#grand_total").val(tot);
        alert(grand_total);
      }
    });

    $('#switch3 input[type="checkbox"]').on('change', function() {
      var state = $(this).is(':checked');
      var price3 = parseFloat($("#switch3_price").val(), 10);
      var grand_total = parseFloat($("#grand_total").val(), 10);
      if(state){
        var tot = price3 + grand_total
        $("#tot").html(tot);
        $("#grand_total").val(tot);
      }else{
        var tot = grand_total - price3
        $("#tot").html(tot);
        $("#grand_total").val(tot);
      }
    });

    $('#switch4 input[type="checkbox"]').on('change', function() {
      var state = $(this).is(':checked');
      var price4 = parseFloat($("#switch4_price").val(), 10);
      var grand_total = parseFloat($("#grand_total").val(), 10);
      if(state){
        var tot = price4 + grand_total
        $("#tot").html(tot);
        $("#grand_total").val(tot);
      }else{
        var tot = grand_total - price4
        $("#tot").html(tot);
        $("#grand_total").val(tot);
      }
    });

    $('#switch5 input[type="checkbox"]').on('change', function() {
      var state = $(this).is(':checked');
      var price5 = parseFloat($("#switch5_price").val(), 10);
      var grand_total = parseFloat($("#grand_total").val(), 10);
      if(state){
        var tot = price5 + grand_total
        $("#tot").html(tot);
        $("#grand_total").val(tot);
      }else{
        var tot = grand_total - price5
        $("#tot").html(tot);
        $("#grand_total").val(tot);
      }
    });   
  });