footer
  .container
    img src="/images/footer-logo.png" /
    .row
      .col-sm-4
        .footer-inner style=("padding-left: 0;") 
          h2 WHY ONLINE TIRES?
          ul
            li
              a href="promotions.html"  Deals and Rebates
            li
              a href="financing.html"  Financing
            li
              a href="useful-links.html"  Useful Links
            li
              a href="road-hazard-program.html"  Road Hazard Protection
            li
              a href="why-us.html"  Why Us?
            li
              a href="blog.html"  Blogs
      .col-sm-4
        .footer-inner
          h2 DELIVERY INSTALLATION
          ul
            li
              a href="#"  Quick Delivery
            li
              a href="#"  Installer Locator
            li
              a href="#"  Recommended Installers
            li
              a href="#"  Package Installation Instructions
      .col-sm-4
        .footer-inner style=("padding-right: 0;") 
          h2 CUSTOMER SUPPORT
          ul
            li
              a href="contact.html"  Contact Us
            li
              a href="tracking-order.html"  Order Tracking
            li
              a href="key-learnings.html"  Key Learnings
            li
              a href="help-center.html"  Help Center
            li
              a href="faq.html"  FAQs
          h2 style=("color: #d40000; font-size: 28px; font-style: italic; margin-bottom: 20px")  877-465-8473
  .footer-menu-b
    .container
      ul
        li
          a href="terms-services.html"  TERMS OF SERVICES
        li
          a href="privacy-statement.html"  PRIVACY STATEMENT
        li
          a href="return-policy.html"  RETURN POLICY
      .row
        .col-sm-4.align-self-end style=("margin: 0;") 
          img src="/images/footer-b.jpg" /
        .col-sm-8
          .text-right.social-media-a
            a href="#" 
              img src="/images/pin.jpg" /
            a href="#" 
              img src="/images/you.jpg" /
            a href="#" 
              img src="/images/gplus.jpg" /
            a href="#" 
              img src="/images/rss.jpg" /
            a href="#" 
              img src="/images/vimeo.jpg" /
            a href="#" 
              img src="/images/twit.jpg" /
            a href="#" 
              img src="/images/link.jpg" /
            a href="#" 
              img src="/images/fb.jpg" /
.footer-bottom.text-center © 2018 Online Tires. All Rights Reserved.