/ header
/   .container
/     .row
/       .col-sm-3
/         a.navbar-brand href="/http://132.148.159.133/" 
/           img src="/images/olt-logo.png" /
/       .col-sm-9
/         .uppermenu
/           .clearfix
/             .up-left
/               ul.list-unstyled
/                 li
/                   a href="/coming-soon.html" 
/                     | Create Account
/                     img src="/images/create.jpg" /
/                 li
/                   a href="/coming-soon.html" 
/                     | Login
/                     img src="/images/login.jpg" /
/                 li
/                   a href="/coming-soon.html" 
/                     | Track Order
/                     img src="/images/track.jpg" /
/                 li
/                   a href="/coming-soon.html" 
/                     | Help Center
/                     img src="/images/track.jpg" /
/             .up-right
/               span style=("color: #d40000;")  Call
/               | 877-465-8473
/         .bottommenu
/           .clearfix
/             .bottom-left
/               ul.list-unstyled
/                 li
/                   a href="/tire-brands.html" 
/                     | Tires
/                   .msubmenu
/                     .row
/                       .col-lg-8
/                         .row
/                           .col-lg-6
/                             .ms-title
/                               | Shop For Tires
/                             ul
/                               li
/                                 a href="/tire-brands.html"  by Vehicle
/                               li
/                                 a href="/tire-brands.html"  by Size
/                               li
/                                 a href="/tire-brands.html"  By Brand
/                               li
/                                 a href="/tire-brands.html"  By Tyre
/                           .col-lg-6
/                             .ms-title
/                               | Tire Tech
/                             ul
/                               li
/                                 a href="/blogs/load-range-vs-load-index.html"  Load Range vs Load Index
/                               li
/                                 a href="/blogs/proper-tire-storage.html"  Proper Tire Storage
/                               li
/                                 a href="/blogs/tire-basics.html"  Tire Basics
/                               li
/                                 a href="/blogs/tire-ratings.html"  Tire Ratings
/                               li
/                                 a href="/blogs/have-a-flat-tire.html"  What To Do When You Have a Flat Tire?
/                       .col-lg-4.last-me
/                         .ms-title
/                           | Search. Order. Ride.
/                         p
/                           | Unlike other wheel and tire websites,
/                           br/
/                           | Onlinetires.com is easy on the eyes and to use.
/                         img.img-fluid alt="" src="/images/wheels-banner.jpg" /
/                 li
/                   a href="/wheel-brands.html"  Wheels
/                   .msubmenu
/                     .row
/                       .col-lg-8
/                         .row
/                           .col-lg-6
/                             .ms-title
/                               | Shop For Wheels
/                             ul
/                               li
/                                 a href="/wheel-brands.html"  by Vehicle
/                               li
/                                 a href="/wheel-brands.html"  By Brand
/                               li
/                                 a href="/wheel-brands.html"  By Size
/                               li
/                                 a href="/wheel-brands.html"  By Tyre
/                           .col-lg-6
/                             .ms-title
/                               | Tire Tech
/                             ul
/                               li
/                                 a href="/blogs/what-is-hub-centric-rings.html"  What is Hub Centric Rings?
/                               li
/                                 a href="/blogs/difference-between-hub-centric-and-lug-centric-wheels.html"  Difference between Hub-Centric and Lug-Centric Wheels
/                               li
/                                 a href="/blogs/lug-nut-type-and-sized.html"  Lug Nut Type & Sized
/                               li
/                                 a href="/blogs/how-to-measure-rim-width.html"  How to Measure Rim Width
/                       .col-lg-4.last-me
/                         .ms-title
/                           | Search. Order. Ride.
/                         p
/                           | Unlike other wheel and tire websites,
/                           br/
/                           | Onlinetires.com is easy on the eyes and to use.
/                         img.img-fluid alt="" src="/images/tire-menu.jpg" /
/                 li
/                   a href="/#"  Wheel &amp; Tire Package
/                   .msubmenu
/                     .row
/                       .col-lg-8
/                         .row
/                           .col-lg-6
/                             .ms-title
/                               | Shop For Package
/                             ul
/                               li
/                                 a href="/coming-soon.html"  by Vehicle
/                           .col-lg-6
/                             .ms-title
/                               | Tire Tech
/                             ul
/                               li
/                                 a href="/blogs/wheels.html"  Wheels
/                               li
/                                 a href="/blogs/How-Proper-Inflation-of-Tires-Help-Your-Car-Perform-on-Dry-Weather-Conditions.html"  How Proper Inflation of Tires Help Your Car Perform on Dry Weather Conditions
/                               li
/                                 a href="/blogs/Run-Flat-Tires-Its-Meaning-and-Importance.html"  Run Flat Tires: Its Meaning and Importance
/                               li
/                                 a href="/blogs/Staggered-Wheel-Fitment-Its-Meaning.html"  Staggered Wheel Fitment: Its Meaning
/                               li
/                                 a href="/blogs/Understanding-Vehicle-Tim-and-Assembly"  Understanding Vehicle Tim and Assembly
/                       .col-lg-4.last-me
/                         .ms-title
/                           | Search. Order. Ride.
/                         p
/                           | Unlike other wheel and tire websites,
/                           br/
/                           | Onlinetires.com is easy on the eyes and to use.
/                         img.img-fluid alt="" src="/images/package-menu.jpg" /
/                 li
/                   a href="/promotions.html"  Deals & Rebates
/                 li
/                   a href="/financing.html"  Financing
/                 li
/                   a href="/coming-soon.html"  Delivery & Installers
/             .bottom-right
/               ul
/                 li
/                   a#addClass href="/#" 
/                     img src="/images/search-w.png" /
/                 li.cart-p
/                   a.cart-ic href="/#" 
/                     img src="/images/cart.png" /
/                   .cart-pop
/                     .cp-content
/                       h1 Recently added item(s)
/                       .cpp-items
/                         img src="/images/saffiro1.png" /
/                         .cppi-inner
/                           | SAFFIRO SF612
/                           br/
/                           span
/                             | Part Number: CP77-2921MB18
/                             br/
/                             | Finish: MATTE BLACK
/                             br/
/                             | Size: 20x9
/                         input.form-control name="" type="text" value="4" /
/                         .removeHeader-btn
/                           a href="/#"
/                             | Remove /
/                       .cpp-items
/                         img src="/images/saffiro1.png" /
/                         .cppi-inner
/                           | SAFFIRO SF612
/                           br/
/                           span
/                             | Part Number: CP77-2921MB18
/                             br/
/                             | Finish: MATTE BLACK
/                             br/
/                             | Size: 20x9
/                         input.form-control name="" type="text" value="4" /
/                         .removeHeader-btn
/                           a href="/#"
/                             | Remove /
/                       .cpp-items
/                         img src="/images/saffiro1.png" /
/                         .cppi-inner
/                           | SAFFIRO SF612
/                           br/
/                           span
/                             | Part Number: CP77-2921MB18
/                             br/
/                             | Finish: MATTE BLACK
/                             br/
/                             | Size: 20x9
/                         input.form-control name="" type="text" value="4" /
/                         .removeHeader-btn
/                           a href="/#"
/                             | Remove /
/                     .cp-btns.clearfix
/                       .cp-btn
/                         a href="/cart.html"  Update Cart
/                       .cp-btn
/                         a href="/checkout.html"  Proceed to Checkout
/             #qnimate.off
/               #search.open
/                 button#removeClass.close data-widget="remove" type="button"  ×
/                 form action="http://bootsnipp.com/user/snippets/508jR" autocomplete="off" method="" 
/                   input#term name="term" placeholder=("Type search keywords here") type="text" value="" /
/                   button.btn.btn-lg.btn-site type="submit" 
/                     span.glyphicon.glyphicon-search
/                     | Search

header
  .container
    .row
      .col-sm-3
        a.navbar-brand href="http://132.148.159.133/" 
          img src="/images/olt-logo.png" /
      .col-sm-9
        .uppermenu
          .clearfix
            .up-left
              ul.list-unstyled
                li
                  / a href="signup.html" 
                    | Create Account
                    img src="/images/create.jpg" /
                  = link_to ("Create Account <img src='/images/create.jpg'>").html_safe, new_user_path
                li
                  / create condition here when user login
                  a href="login.html" 
                    | Login
                    img src="/images/login.jpg" /
                li
                  a href="tracking-order.html" 
                    | Track Order
                    img src="/images/track.jpg" /
                li
                  a href="help-center.html" 
                    | Help Center
                    img src="/images/track.jpg" /
            .up-right
              span style=("color: #d40000;") Call 
              span 877-465-8473
        .bottommenu
          .clearfix
            .bottom-left
              ul.list-unstyled
                li
                  a href="tire-brands.html"  Tires
                  .msubmenu
                    .row
                      .col-lg-8
                        .row
                          .col-lg-6
                            .ms-title Shop For Tires
                            ul
                              li
                                a href="tire-brands.html"  by Vehicle
                              li
                                a href="tire-brands.html"  by Size
                              li
                                / a href="tire-brands.html"  By Brand
                                = link_to "By Brand", tires_path
                          .col-lg-6
                            .ms-title Tire Tech
                            ul
                              li
                                a href="blogs/load-range-vs-load-index.html"  Load Range vs Load Index
                              li
                                a href="blogs/proper-tire-storage.html"  Proper Tire Storage
                              li
                                a href="blogs/tire-basics.html"  Tire Basics
                              li
                                a href="blogs/tire-ratings.html"  Tire Ratings
                              li
                                a href="blogs/have-a-flat-tire.html"  What To Do When You Have a Flat Tire?
                      .col-lg-4.last-me
                        .ms-title Search. Order. Ride.
                        p
                          | Unlike other wheel and tire websites,
                          | Onlinetires.com is easy on the eyes and to use.
                        img.img-fluid alt="" src="/images/wheels-banner.jpg" /
                li
                  a href="wheel-brands.html"  Wheels
                  .msubmenu
                    .row
                      .col-lg-8
                        .row
                          .col-lg-6
                            .ms-title Shop For Wheels
                            ul
                              li
                                a href="wheel-brands.html"  by Vehicle
                              li
                                / a href="wheel-brands.html"  By Brand
                                = link_to "By Brand", wheels_path
                          .col-lg-6
                            .ms-title Tire Tech
                            ul
                              li
                                a href="blogs/what-is-hub-centric-rings.html"  What is Hub Centric Rings?
                              li
                                a href="blogs/difference-between-hub-centric-and-lug-centric-wheels.html"  Difference between Hub-Centric and Lug-Centric Wheels
                              li
                                a href="blogs/lug-nut-type-and-sized.html"  Lug Nut Type &amp; Sized
                              li
                                a href="blogs/how-to-measure-rim-width.html"  How to Measure Rim Width
                      .col-lg-4.last-me
                        .ms-title Search. Order. Ride.
                        p
                          | Unlike other wheel and tire websites,
                          | Onlinetires.com is easy on the eyes and to use.
                        img.img-fluid alt="" src="/images/tire-menu.jpg" /
                li.wheelstiresmenu
                  a href="#"  Wheel &amp; Tire Package
                li
                  a href="promotions.html"  Deals & Rebates
                li
                  a href="financing.html"  Financing
                li
                  a href="coming-soon.html"  Delivery &amp; Installers
            .bottom-right
              ul
                li
                  a#addClass href="#" 
                    img src="/images/search-w.png" /
                li.cart-p
                  a.cart-ic href="#" 
                    img src="/images/cart.png" /
                  .cart-pop
                    .cp-content
                      h1 Recently added item(s)
                      .cpp-items
                        img src="/images/saffiro1.png" /
                        .cppi-inner
                          | SAFFIRO SF612
                          br/
                          span
                            | Part Number: CP77-2921MB18
                            br>/
                            | Finish: MATTE BLACK
                            br>/
                            | Size: 20x9
                        input.form-control name="" type="text" value="4" /
                        .removeHeader-btn
                          a href="#"  Remove
                      .cpp-items
                        img src="/images/saffiro1.png" /
                        .cppi-inner
                          | SAFFIRO SF612
                          br/
                          span
                            | Part Number: CP77-2921MB18
                            br>/
                            | Finish: MATTE BLACK
                            br>/
                            | Size: 20x9
                        input.form-control name="" type="text" value="4" /
                        .removeHeader-btn
                          a href="#"  Remove
                      .cpp-items
                        img src="/images/saffiro1.png" /
                        .cppi-inner
                          | SAFFIRO SF612
                          br/
                          span
                            | Part Number: CP77-2921MB18
                            br>/
                            | Finish: MATTE BLACK
                            br>/
                            | Size: 20x9
                        input.form-control name="" type="text" value="4" /
                        .removeHeader-btn
                          a href="#"  Remove
                    .cp-btns.clearfix
                      .cp-btn
                        a href="cart.html"  Update Cart
                      .cp-btn
                        a href="checkout.html"  Proceed to Checkout
            #qnimate.off
              #search.open
                button#removeClass.close data-widget="remove" type="button"  ×
                form action="http://bootsnipp.com/user/snippets/508jR" autocomplete="off" method="" 
                  input#term name="term" placeholder=("Type search keywords here") type="text" value="" /
                  button.btn.btn-lg.btn-site type="submit" 
                    span.glyphicon.glyphicon-search
                    | Search