= render "header"
.innerpage
  .container
    .row
      .col-md-12
        .h-title
          h1 CART
          hr/
        .co-inner
          .row
            .col-md-12
              .co-left
                .check-items
                  .co-l-top
                    .row
                      .col-2
                        | Image/s
                      .col-10
                        .row
                          .col-md-4
                            | Description
                          .col-md-2
                            | QTY
                          .col-md-2
                            | Each
                          .col-md-2
                            | Price
                          .col-md-2
                            | Delete
                  .co-l-items
                    .row
                      .col-2
                        a href="product-landing-page-tire.html" 
                          img.img-fluid alt="" src="/images/saffiro-tires21312.png" /
                      .col-10
                        .row
                          .col-md-4
                            .co-li
                              a href="product-landing-page-tire.html" /
                              h1 SAFFIRO - SF7000
                              ul.list-unstyled
                                li
                                  span Part Number:
                                  | SF-AEP026
                                li
                                  span Section Width:
                                  | 215
                                li
                                  span Aspect Ratio:
                                  | 70
                          .col-md-2
                            .form-group
                              input.form-control name="" type="number" value="4" /
                          .col-md-2
                            .co-price
                              | $84.99
                          .col-md-2
                            .co-subtotal
                              | $339.96
                          .col-md-2
                            .co-delete
                              a href="#" 
                                i.fa.fa-window-close-o
                          .col-md-12
                            .co-road
                              a href="#" 
                                | + Add Road Hazzard Program
                                i.fa.fa-info-circle
                  .co-l-items
                    .row
                      .col-2
                        a href="product-landing-page-tire.html" 
                          img.img-fluid alt="" src="/images/saffiro-tires21312.png" /
                      .col-10
                        .row
                          .col-md-4
                            .co-li
                              a href="product-landing-page-tire.html" /
                              h1 SAFFIRO - SF7000
                              ul.list-unstyled
                                li
                                  span Part Number:
                                  | SF-AEP026
                                li
                                  span Section Width:
                                  | 215
                                li
                                  span Aspect Ratio:
                                  | 70
                          .col-md-2
                            .form-group
                              input.form-control name="" type="number" value="4" /
                          .col-md-2
                            .co-price
                              | $84.99
                          .col-md-2
                            .co-subtotal
                              | $339.96
                          .col-md-2
                            .co-delete
                              a href="#" 
                                i.fa.fa-window-close-o
                          .col-md-12
                            .co-road
                              a href="#" 
                                | + Add Road Hazzard Program
                                i.fa.fa-info-circle
                  .co-update
                    .row
                      .col-md-4
                        a href="#"  Empty Cart
                      .col-md-8
                        .co-up-r
                          ul.list-unstyled
                            li
                              a href="cart.html"  Update Shopping Cart
                            li.co-or
                              | or
                            li
                              a href="index.html"  Continue Shopping
            .col-md-12.divider-title
              h1 OPTIONAL SERVICES
            .col-md-12
              .co-os-inner
                .coosi-head
                  .row
                    .col-md-5
                      | Product Item(s)
                    .col-md-2
                      | Quantity
                    .col-md-2
                      | Each
                    .col-md-2
                      | Price
                    .col-md-1
                .coosi-inner
                  .row
                    .col-md-5
                      .coosi-pd
                        | Mount Balance Tires & Weights
                    .col-md-2
                      .coosi-tm
                        | 4
                    .col-md-2
                      .coosi-tm
                        | $17.99
                    .col-md-2
                      .coosi-tm
                        strong $71.96
                    .col-md-1
                      label.switch
                        input type="checkbox" /
                        span.slider
                .coosi-inner
                  .row
                    .col-md-5
                      .coosi-pd
                        | Valve Stems
                    .col-md-2
                      .coosi-tm
                        | 4
                    .col-md-2
                      .coosi-tm
                        | $17.99
                    .col-md-2
                      .coosi-tm
                        strong $71.96
                    .col-md-1
                      label.switch
                        input type="checkbox" /
                        span.slider
                .coosi-inner
                  .row
                    .col-md-5
                      .coosi-pd
                        | Liftime Tire Rotation
                    .col-md-2
                      .coosi-tm
                        | 4
                    .col-md-2
                      .coosi-tm
                        | Free
                    .col-md-2
                      .coosi-tm
                        strong Free
                    .col-md-1
                      label.switch
                        input type="checkbox" /
                        span.slider
                .coosi-inner
                  .row
                    .col-md-5
                      .coosi-pd
                        | $20 Off Alignment Services
                    .col-md-2
                      .coosi-tm
                        | \-
                    .col-md-2
                      .coosi-tm
                        | \-
                    .col-md-2
                      .coosi-tm
                        strong -
                    .col-md-1
                      label.switch
                        input type="checkbox" /
                        span.slider
                .coosi-inner
                  .row
                    .col-md-5
                      .coosi-pd
                        | $20 Off Brake Services
                    .col-md-2
                      .coosi-tm
                        | \-
                    .col-md-2
                      .coosi-tm
                        | \-
                    .col-md-2
                      .coosi-tm
                        strong -
                    .col-md-1
                      label.switch
                        input type="checkbox" /
                        span.slider
                .coosi-inner
                  .row
                    .col-md-5
                      .coosi-pd
                        | 15% Off Shocks/Struts Services
                    .col-md-2
                      .coosi-tm
                        | \-
                    .col-md-2
                      .coosi-tm
                        | \-
                    .col-md-2
                      .coosi-tm
                        strong -
                    .col-md-1
                      label.switch
                        input type="checkbox" /
                        span.slider
                .coosi-inner
                  .row
                    .col-md-5
                      .coosi-pd
                        | Oil Change (Premium Conventional)
                    .col-md-2
                      .coosi-tm
                        | 4
                    .col-md-2
                      .coosi-tm
                        | $17.99
                    .col-md-2
                      .coosi-tm
                        strong $71.96
                    .col-md-1
                      label.switch
                        input type="checkbox" /
                        span.slider
                .coosi-inner
                  .row
                    .col-md-5
                      .coosi-pd
                        | Oil Change (Synthetic Blend)
                    .col-md-2
                      .coosi-tm
                        | 4
                    .col-md-2
                      .coosi-tm
                        | $17.99
                    .col-md-2
                      .coosi-tm
                        strong $71.96
                    .col-md-1
                      label.switch
                        input type="checkbox" /
                        span.slider
                .coosi-inner
                  .row
                    .col-md-5
                      .coosi-pd
                        | Oil Change (Full Synthetic)
                    .col-md-2
                      .coosi-tm
                        | 4
                    .col-md-2
                      .coosi-tm
                        | $17.99
                    .col-md-2
                      .coosi-tm
                        strong $71.96
                    .col-md-1
                      label.switch
                        input type="checkbox" /
                        span.slider
            .col-md-12.co-pro-title
              .row
                .col-md-8
                  .copt
                    h1 APPLIED PROMOTIONS
                    p GO TO THE PROMOTIONS PAGE TO SEE THE DETAILS ON THE PROMOTION APPLICABLE.
                  .copt-ul
                    ul.list-unstyled
                      li
                        i.fa.fa-hand-o-right
                        | 70 Michelin Tires Mail In Rebate
                      li
                        i.fa.fa-hand-o-right
                        | Buy Any Set Of 4 Tires &amp; Receive 4 FREE Tickets To RACER'S EDGE
                      li
                        i.fa.fa-hand-o-right
                        | Get 4 FREE LEGOLAND TICKETS When You Spend $800
                .col-md-4
                  .copt-right
                    .coup
                      form
                        .form-group
                          label Discount Codes
                          input.form-control name="" type="text" /
                          input.btn.btn-danger name="" type="submit" /
                    .co-total
                      ul.list-unstyled
                        li
                          span
                            | Subtotal
                          span $223.44
                        li
                          span
                            | Tire Disposal Free
                            br/
                            span.sm-t $1.25 Included On Each Tire Item.
                          span $5.00
                        li
                          span HI - Sales Tax
                          span $10.53
                        li
                          span Grand Total
                          span $238.97
                      .co-ch-btn
                        a.btn.btn-danger href="checkout.html"  Checkout
                        a href="index.html"  Continue Shopping
.container
  .h-title
    h1 PROMOTIONS / REBATES
    hr/
  .your-slider
    div
      a href="#" 
        img alt="" src="/images/cslide1.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide2.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide3.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide4.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide5.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide6.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide4.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide5.jpg" /
.bottom-banner
  a href="#" 
    img.center-block alt="" src="/images/bottom-banner.jpg" style=("width: 100%;") /
.bottom-banner2
  .container
    .row
      .col-sm-6
        div
          iframe allow=("autoplay; encrypted-media") allowfullscreen="" frameborder="0" height="365" src="https://www.youtube.com/embed/KsSA14uYuTY?rel=0" width="100%" 
      .col-sm-6
        div
          iframe allow=("autoplay; encrypted-media") allowfullscreen="" frameborder="0" height="365" src="https://www.youtube.com/embed/KsSA14uYuTY?rel=0" width="100%" 
.footer-top
  .floating-img
    img src="/images/team.png" /
  .container
    h1 CUSTOMER SERVICE
    p Have questions? We are here to help you.
    p
      a.btn.btn-danger href="#"  Contact Us
footer
  .container
    .row
      .col-sm-4
        .footer-inner
          h2 WHY ONLINE TIRES?
          ul
            li
              a href="#"  The Online Tires Advantage
            li
              a href="#"  Our Expertise
            li
              a href="#"  Events & Sponsorships
            li
              a href="#"  Road Hazard Protection
            li
              a href="#"  Careers
      .col-sm-5
        .footer-inner
          h2
            | DELIVERY &
            br>/
            | INSTALLATION
          ul
            li
              a href="#"  Quick Delivery
            li
              a href="#"  Recommended Installers
            li
              a href="#"  Installers' Price Pledge
            li
              a href="#"  Package Installation Instructions
      .col-sm-3
        .footer-inner
          h2 CUSTOMER SUPPORT
          ul
            li
              a href="#"  Contact Us
            li
              a href="#"  Order Tracking
            li
              a href="#"  Warranty Information
            li
              a href="#"  Returns/Refunds
            li
              a href="#"  FAQs
          h2 style=("color: #d40000; font-size: 28px; font-style: italic; margin-bottom: 20px")  877-465-8473
    .footer-menu-b
      ul
        li
          a href="#"  TERMS OF USE
        li
          a href="#"  PRIVACY PLEDGE
        li
          a href="#"  ACCESSIBILITY STATEMENT
      .row
        .col-sm-4
          img src="/images/footer-b.jpg" /
        .col-sm-8
          .text-right.social-media-a
            a href="#" 
              img src="/images/pin.jpg" /
            a href="#" 
              img src="/images/you.jpg" /
            a href="#" 
              img src="/images/gplus.jpg" /
            a href="#" 
              img src="/images/rss.jpg" /
            a href="#" 
              img src="/images/vimeo.jpg" /
            a href="#" 
              img src="/images/twit.jpg" /
            a href="#" 
              img src="/images/link.jpg" /
            a href="#" 
              img src="/images/fb.jpg" /
.footer-bottom.text-center
  | © 2018 Online Tires. All Rights Reserved.

javascript:
  $(function () {
    $('.your-slider').slick({
      dots: false,
      infinite: true,
      speed: 300,
      slidesToShow: 6,
      slidesToScroll: 6,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });

    $(".filters").on("click",function(){
      $(this).next().slideToggle();
    });
  });