<%= render "header" %>    
<div class="pbanner">
  <img src="/images/wheel-banner.jpg">
</div>
<div class="innerpage blog-page">
  <div class="container">
    <div class="h-title">
      <h1>Comparison</h1>
      <hr>
    </div>
    <div class="content">
      <div class="comparison">

        <table>
          <thead>
            <tr>
              <th class="tl tl2"></th>
              <th class="qbse">
                <a href="#">remove</a>
              </th>
              <th class="qbse">
                <a href="#">remove</a>
              </th>
              <th class="qbse">
                <a href="#">remove</a>
              </th>
              <th class="qbse">
                <a href="#">remove</a>
              </th>
            </tr>
            <tr>
              <th class="tl"></th>
              <% @compare_tires.each do |a| %>
                <th class="compare-heading">
                  <a href="#">
                    <span><%= a.Brand%></span>
                    <%= a.Model %>
                  </a>
                </th>
              <% end %>
            </tr>
            <tr>
              <th></th>
              <% @compare_tires.each do |b| %>
                <th class="price-info">
                  <a class="prod-img-trr" href="#"><img alt="" src=<%="#{b.Imageurlquarter}"%> ><span>40k warranty</span></a>
                  <div class="price-was"><%= b.FullSize %></div>
                  <div class="com-t">
                    <div class="row">
                      <div class="col-md-4">
                        <label>Qty</label>
                        <input value="4" class="form-control" type="number" name="cart[quantity]" id="cart_quantity">
                      </div>
                      <div class="col-md-8">
                        <label>Each</label>
                        <div class="price-now"><span><%= number_to_currency(b.price, unit: "$")%></span></span></div>
                      </div>
                    </div>
                  </div>
                  <% if b.free_shipping == 'yes' %>
                    <div class="cart-ship">
                      <i class="fa fa-truck"></i> Free Shipping
                    </div>
                  <% else %>
                    <div class="cart-ship">
                      Not Available
                    </div>
                  <% end %>
                  <div class="cart-pack">
                    <% @price = b.price %>
                    <% @tot = @price * 4 %>
                    <%= number_to_currency(@tot, unit:"$")%>&nbsp;<span>set of 4</span>
                  </div>
                  <div><a href="#" class="price-buy">Add to Cart</span></a></div>
                </th>
              <% end %>  
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td colspan="4" style="background: #dcdcdc;"><strong>AVAILABILITY</strong></td>
            </tr>
            <tr class="compare-row">
              <td><strong>Estimated Availability</strong></td>
              <td>In Stock</td>
              <td>In Stock</td>
              <td>In Stock</td>
              <td>In Stock</td>
            </tr>
            <tr>
              <td><strong>Estimate tax payments</strong></td>
              <td>Tomorrow, 11/07</td>
              <td>Tomorrow, 11/07</td>
              <td>Tomorrow, 11/07</td>
              <td>Tomorrow, 11/07</td>
            </tr>
            <tr>
              <td></td>
              <td colspan="4" style="background: #dcdcdc;"><strong>GENERAL INFORMATION</strong></td>
            </tr>
            <tr>
              <td><strong>Performance Category</strong></td>
              <td>Ultra High Performance All-Season</td>
              <td>Ultra High Performance All-Season</td>
              <td>Ultra High Performance All-Season</td>
              <td>Ultra High Performance All-Season</td>
            </tr>
            <tr>
              <td><strong>Sidewall Style</strong></td>
              <% @compare_tires.each do |c| %>
                <td><%= c.Sidewallstyle %></td>
              <% end %>
            </tr>
            <tr>
              <td><strong>Clarifier</strong></td>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
            </tr>
            <tr>
              <td><strong>Speed Rating/Service Description</strong></td>
              <% @compare_tires.each do |d| %>
                <td><%= d.Speedrating %></td>
              <% end %>
            </tr>
            <tr>
              <td><strong>Treadlife Warranty</strong></td>
              <% @compare_tires.each do |e| %>
                <td><%= e.Warrantyinmiles %></td>
              <% end %>

            </tr>
            <tr>
              <td><strong>Road Hazard Protection</strong></td>
              <% @compare_tires.each do |f| %>
                <td>
                  <% @price_h = f.price * 0.1 %>
                  <% @tot_h = @price_h * 4 %>
                  Free<br>
                  <span style="font-size: 12px;">(<%= number_to_currency(@tot_h, unit:"$")%> value. Two-year coverage.)</span>
                </td>
              <% end %>
            </tr>
            <tr>
              <td></td>
              <td colspan="4" style="background: #dcdcdc;"><strong>TIRE SPECIFICATIONS</strong></td>
            </tr>
            <tr>
              <td><strong>UTQG</strong></td>
              <% @compare_tires.each do |g| %>
                <td><%= g.UTQG %></td>
              <% end %>
            </tr>
            <tr>
              <td><strong>Maximum Load</strong></td>
              <% @compare_tires.each do |h| %>
                <td><%= h.Maxloadlb %></td>
              <% end %>
            </tr>
            <tr>
              <td><strong>Maximum Inflation Pressure</strong></td>
              <% @compare_tires.each do |i| %>
                <td><%= i.Maxpsi %> psi</td>
              <% end %>
            </tr>
            <tr>
              <td><strong>Tread Depth</strong></td>
              <% @compare_tires.each do |j| %>
                <td><%= j.Treaddepth %></td>
              <% end %>
            </tr>
            <tr>
              <td><strong>Tire Weight</strong></td>
              <% @compare_tires.each do |k| %>
                <td><%= k.Weighttire %> lbs</td>
              <% end %>
            </tr>
            <tr>
              <td><strong>Rim Width Range</strong></td>
              <% @compare_tires.each do |l| %>
                <td><%= l.Minrimwidth %>-<%= l.Maxrimwidth %>"</td>
              <% end %>
            </tr>
            <tr>
              <td><strong>Measuring Rim Width</strong></td>
              <% @compare_tires.each do |m| %>
                <td><%= m.Rimwidth %>"</td>
              <% end %>
            </tr>
            <tr>
              <td><strong>Section Width</strong></td>
              <% @compare_tires.each do |m| %>
                <td><%= m.Sectionwidth %>"</td>
              <% end %>
            </tr>
            <tr>
              <td><strong>Tread Width</strong></td>
              <td> -- </td>
              <td> -- </td>
              <td> -- </td>
              <td> -- </td>
            </tr>
            <tr>
              <td><strong>Overall Diameter</strong></td>
              <% @compare_tires.each do |m| %>
                <td><%= m.Overalldiameter %>"</td>
              <% end %>
            </tr>
            <tr>
              <td><strong>Revolutions per Mile</strong></td>
              <td>--</td>
              <td>--</td>
              <td>--</td>
              <td>--</td>
            </tr>
            <tr>
              <td><strong>Country of Origin</strong></td>
              <% @compare_tires.each do |m| %>
                <td><%= m.Country %></td>
              <% end %>
            </tr>
            <tr>
              <td><strong>Eco Focus</strong></td>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
            </tr>                
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="footer-inner">
          <h2>WHY ONLINE TIRES?</h2>
          <ul>
            <li><a href="#">The Online Tires Advantage</a></li>
            <li><a href="#">Our Expertise</a></li>
            <li><a href="#">Events & Sponsorships</a></li>
            <li><a href="#">Road Hazard Protection</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="footer-inner">
          <h2>DELIVERY &<br>INSTALLATION</h2>
          <ul>
            <li><a href="#">Quick Delivery</a></li>
            <li><a href="#">Recommended Installers</a></li>
            <li><a href="#">Installers' Price Pledge</a></li>
            <li><a href="#">Package Installation Instructions</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="footer-inner">
          <h2>CUSTOMER SUPPORT</h2>
          <ul>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Order Tracking</a></li>
            <li><a href="#">Warranty Information</a></li>
            <li><a href="#">Returns/Refunds</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
          <h2 style="color: #d40000; font-size: 28px; font-style: italic; margin-bottom: 20px">877-465-8473</h2>
        </div>
      </div>
    </div>
    <div class="footer-menu-b">
      <ul>
        <li><a href="#">TERMS OF USE</a></li>
        <li><a href="#">PRIVACY PLEDGE</a></li>
        <li><a href="#">ACCESSIBILITY STATEMENT</a></li>
      </ul>
      <div class="row">
        <div class="col-sm-4">
          <img src="images/footer-b.jpg">
        </div>
        <div class="col-sm-8">
          <div class="text-right social-media-a">
            <a href="#"><img src="images/pin.jpg"></a>  
            <a href="#"><img src="images/you.jpg"></a>  
            <a href="#"><img src="images/gplus.jpg"></a>  
            <a href="#"><img src="images/rss.jpg"></a>  
            <a href="#"><img src="images/vimeo.jpg"></a>  
            <a href="#"><img src="images/twit.jpg"></a>  
            <a href="#"><img src="images/link.jpg"></a>  
            <a href="#"><img src="images/fb.jpg"></a>  
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="footer-bottom text-center">
  © 2018 Online Tires. All Rights Reserved.
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-3.2.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/main.js"></script>
<script>
  // You can also use "$(window).load(function() {"
  $(function () {

    $('.your-slider').slick({
      dots: false,
      infinite: true,
      speed: 300,
      slidesToShow: 6,
      slidesToScroll: 6,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });

    $(".filters").on("click",function(){
      $(this).next().slideToggle();
    });
  });


</script>