= render "header"
/! slider
- if params[:search] == 'true'
- else
  .clearfix
    .rslides_container
      ul#slider1.rslides
        li
          img alt="" src="images/slider-1.jpg" /
        li
          img alt="" src="images/slide2.jpg" /
        li
          img alt="" src="images/slide4.jpg" /
        li
          img alt="" src="images/slide5.jpg" /
        li
          img alt="" src="images/slide6.jpg" /
        li
          img alt="" src="images/slide7.jpg" /
        li
          img alt="" src="images/slide8.jpg" /
        li
          img alt="" src="images/slide9.jpg" /
        li
          img alt="" src="images/slide10.jpg" /


  .searchby-slider#searchby-homepage
    .container
      ul
        - if params[:tab] == "1" || params[:tab].nil?
          - @class = "sbv red-now"
        - else
          - @class = "sbv"

        - if params[:tab] == "2"
          - @class2 = "sbs red-now"
        - else
          - @class2 = "sbs"
        
        - if params[:tab] == "3"
          - @class3 = "sbb red-now"
        - else
          - @class3 = "sbb"

        / - if params[:tab].nil?
          / - @class = "sbv red-now"
        / - else
          / - @class = "sbv"  


        li
          / a.sbv.red-now href="#?"  SHOP BY VEHICLE
          = link_to "SHOP BY VEHICLE", root_path(tab: 1), class: @class
        li
          = link_to "SHOP BY SIZE", root_path(tab: 2), class: @class2
          / a.sbs href="#"  SHOP BY SIZE
        li
          / a.sbb href="#"  SHOP BY BRAND
          = link_to "SHOP BY BRAND", root_path(tab: 3), class: @class3

  .container.form-sea
    .fsbv
      - if params[:tab] == "1" || params[:tab].nil?
        form
          ul
            li
              = select_tag :year, options_for_select(@years.collect { |year| [year.cyear, year.cyear] }, 1), {include_blank: true, id: 'cyear', placeholder: "Year"}  
            li
              / = f.select :make, Vehicle.select(:make1).distinct.order('make1 ASC').map{|e| [e.make1, e.make1] }, {include_blank: true }, { id: 'make_select' }
              = select_tag :make, options_for_select( @makes.collect { |make| [make.make2.titleize, make.make2] }, 1), {include_blank: true, id: 'make2', placeholder: 'Vehicle', disabled: true }
            li
              = select_tag :model, options_for_select( @models.collect { |mod| [mod.model, mod.model] }, 1), {include_blank: true, id: 'model', placeholder: 'Model', disabled: true }
            li

              = select_tag :option, options_for_select( @options.collect { |opt| [opt.option2, opt.option2] }, ''), {include_blank: true, id: 'option2', placeholder: 'Option', disabled: true }
            li
              = text_field_tag :zipcode, '', placeholder: "ZIP/Postal code..."
              / input name="" placeholder=("ZIP/Postal code...") type="text"
              / - @zipcodes = Zipcode.all
              / = select_tag :zipcode, options_for_select(@zipcodes.collect{ |e| ["#{e.zipcode} - #{e.city}, #{e.state}", e.id]}, ''), {include_blank: true, class: "chosen-select"}
            .text-right 
              = hidden_field_tag :search, true
              = submit_tag 'Find Product'
      - elsif params[:tab] == "2"
        / = form_tag
        = form_tag({:controller => "mainpages", :action => "search_by_size"}, {:method => "get"})
          ul
            li
              select#choice
                option value="TIRES" TIRES
                option value="WHEELS" WHEELS
            li#for_wheels1
              = select_tag :WheelDiameter, options_for_select(@WheelDiameter.collect { |x| [x.WheelDiameter, x.WheelDiameter] }, 1), {include_blank: true, id: 'wheeldiameter', placeholder: "WheelDiameter"}
            li#for_wheels2
              = select_tag :WheelWidth, options_for_select( @WheelWidth.collect { |y| [y.WheelWidth, y.WheelWidth] }, 1), {include_blank: true, id: 'wheelwidth', placeholder: 'WheelWidth' }
            li#for_tires1
              = select_tag :Sectionwidth, options_for_select(@Sectionwidth.collect { |x| [x.Sectionwidth, x.Sectionwidth] }, 1), {include_blank: true, id: 'sectionwidth', placeholder: "Sectionwidth"}  
            li#for_tires2
              / = f.select :make, Vehicle.select(:make1).distinct.order('make1 ASC').map{|e| [e.make1, e.make1] }, {include_blank: true }, { id: 'make_select' }
              = select_tag :Aspectratio, options_for_select( @Aspectratio.collect { |y| [y.Aspectratio, y.Aspectratio] }, 1), {include_blank: true, id: 'aspectratio', placeholder: 'Aspectratio' }
            li#for_tires3
              = select_tag :Rimdiameter, options_for_select( @Rimdiameter.collect { |z| [z.Rimdiameter, z.Rimdiameter] }, 1), {include_blank: true, id: 'rimdiameter', placeholder: 'Rimdiameter' }
            
            .text-right
              = hidden_field_tag :search_size, true
              = submit_tag 'Find Size'
      - else
        | 

- if !params[:search].nil?

  .innerpage
    .container
      .row
        .col-sm-12
          .h-title
            h1 CHOOSE PACKAGE
            hr/
          .vr-result-text
            h3
              | Your selected vehicle #{params[:year]} #{params[:make]} #{params[:model]}  #{params[:option]}
              br/
              | These sizes are guaranteed to fit your vehicle. Please select a size below.
          .pkg-s
            .row
              .col-sm-4
                / = link_to search_tires_path(params), class: 'hvr-overline-from-center'
                / = link_to search_locations_path(params.merge(st: true)), class: 'hvr-overline-from-center'
                = link_to search_tires_path(params.merge(st: true)), class: 'hvr-overline-from-center'
                  = image_tag '/images/tire-pk.png', class: 'img-fluid'
                / a.hvr-overline-from-center href="#" 
                /   img.img-fluid alt="" src="/images/tire-pk.png" /
                h3 Shop Tires
                p
                  span.sub-f Tires as low as
                  span.sub-d $
                  span 36.99
              .col-sm-4
                / a.hvr-overline-from-center href="#" 
                  img.img-fluid alt="" src="/images/wheel-pk.png" /
                / = link_to search_locations_path(params.merge(sw: true)), class: 'hvr-overline-from-center'
                = link_to search_wheels_path(params.merge(sw: true)), class: 'hvr-overline-from-center'
                  = image_tag '/images/wheel-pk.png', class: 'img-fluid'
                h3 Shop Wheels
                p
                  span.sub-f Wheels as low as
                  span.sub-d $
                  span 69
              .col-sm-4
                / a.hvr-overline-from-center href="#" 
                  img.img-fluid alt="" src="/images/whee-tire-pk.png" /
                = link_to search_wheels_tires_path(params.merge(sw_st: true)), class: 'hvr-overline-from-center'
                  = image_tag '/images/wheel-pk.png', class: 'img-fluid'
                h3 Wheel & Tire Packages
                p
                  span.sub-f Packages as low as
                  span.sub-d $
                  span 399
- else  
  .container
    .h-title
      h1 PROMOTIONS / REBATES
      hr/
    .your-slider
      div
        a href="#" tabindex="0" 
          img alt="" src="images/cslide1.jpg" /
      div
        a href="#" tabindex="0" 
          img alt="" src="images/cslide2.jpg" /
      div
        a href="#" tabindex="0" 
          img alt="" src="images/cslide3.jpg" /
      div
        a href="#" tabindex="0" 
          img alt="" src="images/cslide4.jpg" /
      div
        a href="#" tabindex="0" 
          img alt="" src="images/cslide5.jpg" /
      div
        a href="#" tabindex="0" 
          img alt="" src="images/cslide6.jpg" /
  .center-inner
    .container
      .row
        .col-sm-4
          .c-inner
            img alt="" src="images/find.jpg" /
            .ci-inner
              h3 Find Your Product
              p Use our easy search tools to find the products that you need. You can search by vehicle, size or brand.
        .col-sm-4
          .c-inner
            img alt="" src="images/deliver.jpg" /
            .ci-inner
              h3 Get It Delivered
              p We can ship your order anywhere in the world. Free shipping available with certain orders.
        .col-sm-4
          .c-inner
            img alt="" src="images/install.jpg" /
            .ci-inner
              h3 Have It Installed
              p We have an extensive network of installers throughout the country that can install our products and meet our standards of professionalism.
  .mid-banner
    .white-t
    .mb-inner
      .container
        .row
          .col-sm-6
            img alt="" src="images/tire-banner.png" style=("margin-top: 30px;") /
          .col-sm-6
            h1
              | MAKE IT
              span PACKAGE
            p It’s easy to find the perfect package. Four tires, four wheels. An exact fit for your vehicle.
            p It’s ready to bolt right on. They’re mounted and Hunter Road Force balanced. You can even install it yourself!
            p It arrives quickly and with all necessary hardware included. TPMS sensors, when purchased as part of a package, are installed free of charge, too.
            p
              a href="#" 
                | See Packages for My Vehicle
                span
  .most-pol
    .container
      .h-title
        h1 MOST POPULAR BRANDS
        hr/
    .container
      .top-brand
        .row
          .col-sm-4
            a href="#" 
              img alt="" src="images/b1.jpg" /
          .col-sm-4
            a href="#" 
              img alt="" src="images/b2.jpg" /
          .col-sm-4
            a href="#" 
              img alt="" src="images/b3.jpg" /
      .bottom-brand
        .row
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l1.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l2.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l3.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l4.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l5.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l6.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l7.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l8.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l9.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l10.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l11.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l12.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l13.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l14.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l15.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l16.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l17.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l18.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l19.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l20.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l21.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l22.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l23.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l24.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l25.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l26.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l27.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l28.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l29.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l30.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l31.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l32.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l33.jpg" /
          .col-sm-2
            a href="#" 
              img.img-fluid.center-block alt="" src="images/l34.jpg" /
  .bottom-banner
    a href="#" 
      img.center-block alt="" src="images/bottom-banner.jpg" style=("width: 100%;") /
  .bottom-center
    .container
      .product-bottomCenter.row
        .h-title
          h1 Featured Product
          hr/
        .productListBottomCenter.col-sm-3
          .productListImg
            a href="#" 
              img src="images/saffiro-tires21312.png" /
          .productListContent
            a href="#" /
            h1
              | Falken
              span Ziex ZE950 A/S
            p.homePrice $124.25
        .productListBottomCenter.col-sm-3
          .productListImg
            a href="#" 
              img src="images/saffiro-tires21312.png" /
          .productListContent
            a href="#" /
            h1
              | Falken
              span Ziex ZE950 A/S
            p.homePrice $124.25
        .productListBottomCenter.col-sm-3
          .productListImg
            a href="#" 
              img src="images/saffiro-tires21312.png" /
          .productListContent
            a href="#" /
            h1
              | Falken
              span Ziex ZE950 A/S
            p.homePrice $124.25
        .productListBottomCenter.col-sm-3
          .productListImg
            a href="#" 
              img src="images/saffiro-tires21312.png" /
          .productListContent
            a href="#" /
            h1
              | Falken
              span Ziex ZE950 A/S
            p.homePrice $124.25
  .bottom-banner2
    .container
      .row
        .col-sm-6
        .col-sm-6.pull-right
          .bottom2Content
            h1 Some text here
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            .row
              .col-sm-6
                div
                  iframe allow=("autoplay; encrypted-media") allowfullscreen="" frameborder="0" height="200" src="https://www.youtube.com/embed/KsSA14uYuTY?rel=0" width="100%" 
              .col-sm-6
                div
                  iframe allow=("autoplay; encrypted-media") allowfullscreen="" frameborder="0" height="200" src="https://www.youtube.com/embed/yd7tmjcJgys" width="100%" 
  .bottomBot
    .container
      .blogHomeBot
        .row
          .col-sm-8
            .row
              .col-sm-12.blogHomeBotList
                .blogImageHome
                  a href="#" 
                    img src="images/blogSample1.jpg" /
                .blogContentHome
                  a href="#"  Tire Info
              .col-sm-6.blogHomeBotList
                .blogImageHome
                  a href="#" 
                    img src="images/blogSample3.jpg" /
                .blogContentHome
                  a href="#"  Help Center
              .col-sm-6.blogHomeBotList
                .blogImageHome
                  a href="#" 
                    img src="images/blogSample4.jpg" /
                .blogContentHome
                  a href="#"  Tips & Guides
          .col-sm-4.blogHomeBotList
            .blogImageHome
              a href="#" 
                img src="images/blogSample2.jpg" /
            .blogContentHome
              a href="#"  Blogs
  .footer-top
    .floating-img.container
      img src="images/OWD-Customer-Service-Pic.png" /
    .container
      h1 CUSTOMER SERVICE
      p Have questions? We are here to help you.
  #searchMenuWT.modal.fade aria-hidden="true" aria-labelledby="myLargeModalLabel" role="dialog" tabindex="-1" 
    .modal-dialog.modal-lg
      .modal-content
        .searchmenuWheelstires-content
          .custom-search-list
            ul
              li
                a#custom-search-vehicle href="#" 
                  img src="images/search-icon-vehicle.png" >/
                  | Shop by Vehicle
              li
                a#custom-search-size href="#" 
                  img src="images/search-icon-size.png" >/
                  | Shop by Size
              li
                a#custom-search-brand href="#" 
                  img src="images/search-icon-brand.png" >/
                  | Shop by Brand
          #customSearchVechile
            ul
              li
                a#customSearchYear href="#"  Year
              li
                a#customSearchMake href="#"  Make
              li
                a#customSearchModel href="#"  Model
              li
                a#customSearchOption href="#"  Option
              li
                a#customSearchPostal href="#"  ZIP / Postal Code
            #custom-search-year.active
              .input-group
                input#custom-menuSearch.form-control.input-lg placeholder="Search" type="text" /
              ul.list-group
              .row
                li.col-sm-3
                  a href="#"  2019
                li.col-sm-3
                  a href="#"  2018
                li.col-sm-3
                  a href="#"  2017
                li.col-sm-3
                  a href="#"  2016
                li.col-sm-3
                  a href="#"  2015
                li.col-sm-3
                  a href="#"  2014
                li.col-sm-3
                  a href="#"  2013
                li.col-sm-3
                  a href="#"  2012
                li.col-sm-3
                  a href="#"  2011
                li.col-sm-3
                  a href="#"  2010
                li.col-sm-3
                  a href="#"  2009
                li.col-sm-3
                  a href="#"  2008
                li.col-sm-3
                  a href="#"  2007
                li.col-sm-3
                  a href="#"  2006
                li.col-sm-3
                  a href="#"  2005
                li.col-sm-3
                  a href="#"  2004
                li.col-sm-3
                  a href="#"  2003
                li.col-sm-3
                  a href="#"  2002
                li.col-sm-3
                  a href="#"  2001
                li.col-sm-3
                  a href="#"  2000
                li.col-sm-3
                  a href="#"  1999
                li.col-sm-3
                  a href="#"  1998
                li.col-sm-3
                  a href="#"  1997
                li.col-sm-3
                  a href="#"  1996
                li.col-sm-3
                  a href="#"  1995
                li.col-sm-3
                  a href="#"  1994
                li.col-sm-3
                  a href="#"  1993
                li.col-sm-3
                  a href="#"  1992
                li.col-sm-3
                  a href="#"  1991
                li.col-sm-3
                  a href="#"  1990
            #custom-search-make
              .input-group
                input#custom-menuSearch2.form-control.input-lg placeholder="Search" type="text" /
              ul.list-group
              .row
                li.col-sm-3
                  a href="#"  Make1
                li.col-sm-3
                  a href="#"  Make2
                li.col-sm-3
                  a href="#"  Make3
                li.col-sm-3
                  a href="#"  Make4
                li.col-sm-3
                  a href="#"  Make5
                li.col-sm-3
                  a href="#"  Make6
                li.col-sm-3
                  a href="#"  Make7
                li.col-sm-3
                  a href="#"  Make8
            #custom-search-model
              .input-group
                input#custom-menuSearch3.form-control.input-lg placeholder="Search" type="text" /
              ul.list-group
              .row
                li.col-sm-3
                  a href="#"  Model1
                li.col-sm-3
                  a href="#"  Model2
                li.col-sm-3
                  a href="#"  Model3
                li.col-sm-3
                  a href="#"  Model4
                li.col-sm-3
                  a href="#"  Model5
                li.col-sm-3
                  a href="#"  Model7
                li.col-sm-3
                  a href="#"  Model6
                li.col-sm-3
                  a href="#"  Model8
            #custom-search-option
              .input-group
                input#custom-menuSearch4.form-control.input-lg placeholder="Search" type="text" /
              ul.list-group
              .row
                li.col-sm-3
                  a href="#"  Option1
                li.col-sm-3
                  a href="#"  Option2
                li.col-sm-3
                  a href="#"  Option3
                li.col-sm-3
                  a href="#"  Option4
                li.col-sm-3
                  a href="#"  Option5
                li.col-sm-3
                  a href="#"  Option6
                li.col-sm-3
                  a href="#"  Option7
                li.col-sm-3
                  a href="#"  Option8
            #custom-search-last
              ul.list-group
              .row
                li.col-sm-4
                  a href="#"  ZIP/Postal Code
                li.col-sm-3
                  a href="#"  Search
= render "footer"

javascript:
  // $('.chosen-select').chosen();

  $('#cyear').change(function(){
    var cyear = $(this).val()
    $.ajax({
      url: "#{update_makes_path}",
      data: {
        cyear : cyear
      },
      dataType: "script"
      // success: function(data){
      //   console.log(data);
      // }
    });
  });
  
  $('#make2').change(function(){
    var cyear = $('#cyear').val()
    var make2 = $(this).val()
    $.ajax({
      url: "#{update_models_path}",
      data: {
        cyear : cyear,
        make2 : make2
      },
      dataType: "script"
      // success: function(data){
      //   console.log(data);
      // }
    });
  });

  $('#model').change(function(){
    var cyear = $('#cyear').val()
    var make2 = $('#make2').val()
    var model = $(this).val()
    $.ajax({
      url: "#{update_options_path}",
      data: {
        cyear : cyear,
        make2 : make2,
        model : model
      },
      dataType: "script"
      // success: function(data){
      //   console.log(data);
      // }
    });
  });

  $('#sectionwidth').change(function(){
    var sectionwidth = $(this).val()
    $.ajax({
      url: "#{update_aspectratio_path}",
      data: {
        sectionwidth : sectionwidth
      },
      dataType: "script"
      // success: function(data){
      //   console.log(data);
      // }
    });
  });

  $('#aspectratio').change(function(){
    var sectionwidth = $('#sectionwidth').val()
    var aspectratio = $(this).val()
    $.ajax({
      url: "#{update_rimdiameter_path}",
      data: {
        sectionwidth : sectionwidth,
        aspectratio : aspectratio
      },
      dataType: "script"
      // success: function(data){
      //   console.log(data);
      // }
    });
  });

  $('#wheeldiameter').change(function(){
    var wheeldiameter = $(this).val()
    $.ajax({
      url: "#{update_wheelwidth_path}",
      data: {
        wheeldiameter : wheeldiameter
      },
      dataType: "script"
      // success: function(data){
      //   console.log(data);
      // }
    });
  });

  $('#for_tires1').show();
  $('#for_tires2').show();
  $('#for_tires3').show();
  $('#for_wheels1').hide();
  $('#for_wheels2').hide();

  $('#choice').blur(function(){
    var choice = $(this).val()
    if (choice == 'TIRES'){
      $('#for_tires1').show();
      $('#for_tires2').show();
      $('#for_tires3').show();
      $('#for_wheels1').hide();
      $('#for_wheels2').hide();
      $('#wheeldiameter').val(null);
    }else{
      $('#for_tires1').hide();
      $('#for_tires2').hide();
      $('#for_tires3').hide();
      $('#for_wheels1').show();
      $('#for_wheels2').show();
      $('#sectionwidth').val(null);
    } 
  });

  $("#slider1").responsiveSlides({
    auto: false,
    pager: true,
    nav: true,
    speed: 500,
    namespace: "centered-btns"
  });

  $('.searchby-slider ul li a').click(function(){
    if ($(this).hasClass('sbv')) {
      $('.sbv').addClass('red-now');
      $('.sbs').removeClass('red-now');
      $('.sbb').removeClass('red-now');
      $('.fsbv').show();
      $('.fsbs').hide();
      $('.fsbb').hide();
    }
    else if ($(this).hasClass('sbs')){
      $('.sbs').addClass('red-now');
      $('.sbv').removeClass('red-now');
      $('.sbb').removeClass('red-now');
      $('.fsbs').show();
      $('.fsbv').hide();
      $('.fsbb').hide(); 
    }
    else{
      $('.sbb').addClass('red-now');
      $('.sbv').removeClass('red-now');
      $('.sbs').removeClass('red-now');
      $('.fsbb').show();
      $('.fsbv').hide();
      $('.fsbs').hide(); 
    }
  });

  $(function () {
    $('.your-slider').slick({
      dots: false,
      infinite: true,
      speed: 300,
      slidesToShow: 6,
      slidesToScroll: 6,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });

    $(".filters").on("click",function(){
      $(this).next().slideToggle();
    });

    $(function(){
      $(".b-letters").on('click','div',function(){
        var classToShow = this.id.split('-')[1],
        filter = classToShow === "all" ? 'div': '.' + classToShow;
        $(this).parent().children('div').removeClass('addactive');
        $(this).addClass('addactive');
        $("#bb-logo")
        .children().show()
        .not(filter).hide();
      });
    });
  });

