= render "header"
.innerpage
  .container
    .row
      .col-md-2.left-filter
        .f-title
          | Filter your Tire Results
        .filters
          | All Items
        .filters-result
          ul
            li
              a href="#" 
                | All Items
                span (137+)
            li
              a href="#" 
                | Recommended
                span (65+)
            li
              a href="#" 
                | Deals
                span (65+)
            li
              a href="#" 
                | Original Equipment
                span (4+)
        .filters
          | Category
        .filters-result
          ul
            li
              a href="#" 
                | All Tires
                span (500+)
            li
              a href="#" 
                | Car Tires
                span (500+)
            li
              a href="#" 
                | Light Trucks &amp; SUV Tires
                span (500+)
            li
              a href="#" 
                | Trailer Tires
                span (500+)
            li
              a href="#" 
                | Truck Tires
                span (500+)
            li
              a href="#" 
                | RV Tires
                span (150+)
            li
              a href="#" 
                | Run Flat Tires
                span (150+)
            li
              a href="#" 
                | Winter Tires
                span (150+)
        .filters
          | Brands
        .filters-result
          ul
            li
              a href="#" 
              .squaredFour
                input#squaredFour1 name="check" type="checkbox" value="None" /
                label for="squaredFour1" 
              | Michelin
              span (500+)
            li
              a href="#" 
              .squaredFour
                input#squaredFour2 name="check" type="checkbox" value="None" /
                label for="squaredFour2" 
              | Saffiro
              span (500+)
            li
              a href="#" 
              .squaredFour
                input#squaredFour3 name="check" type="checkbox" value="None" /
                label for="squaredFour3" 
              | Goodyear
              span (500+)
            li
              a href="#" 
              .squaredFour
                input#squaredFour4 name="check" type="checkbox" value="None" /
                label for="squaredFour4" 
              | Continental
              span (487)
            li
              a href="#" 
              .squaredFour
                input#squaredFour5 name="check" type="checkbox" value="None" /
                label for="squaredFour5" 
              | Winrun
              span (436)
            li
              a href="#" 
              .squaredFour
                input#squaredFour6 name="check" type="checkbox" value="None" /
                label for="squaredFour6" 
              | BFGoodrich
              span (425)
          .f-seemore
            a href="#"  see more +
        .filters
          | Review Ratings
        .filters-result
          ul
            li
              a href="#" 
              .squaredFour
                input#star5 name="check" type="checkbox" value="None" /
                label for="star5" 
              img src="/images/5stars.jpg" /
              | only
            li
              a href="#" 
              .squaredFour
                input#star4 name="check" type="checkbox" value="None" /
                label for="star4" 
              img src="/images/4stars.jpg" /
              | or better
            li
              a href="#" 
              .squaredFour
                input#star3 name="check" type="checkbox" value="None" /
                label for="star3" 
              img src="/images/3stars.jpg" /
              | or better
            li
              a href="#" 
              .squaredFour
                input#star2 name="check" type="checkbox" value="None" /
                label for="star2" 
              img src="/images/2stars.jpg" /
              | or better
            li
              a href="#" 
              .squaredFour
                input#star1 name="check" type="checkbox" value="None" /
                label for="star1" 
              img src="/images/1stars.jpg" /
              | or better
        .filters
          | Load Index
        .filters-result
          ul
            li
              a href="#" 
              .squaredFour
                input#li1 name="check" type="checkbox" value="None" /
                label for="li1" 
              | 89
              span 26
            li
              a href="#" 
              .squaredFour
                input#li2 name="check" type="checkbox" value="None" /
                label for="li2" 
              | 91
              span (103)
            li
              a href="#" 
              .squaredFour
                input#li3 name="check" type="checkbox" value="None" /
                label for="li3" 
              | 94
              span (1)
        .filters
          | Speed Ratings
        .filters-result
          ul
            li
              a href="#" 
              .squaredFour
                input#sr1 name="check" type="checkbox" value="None" /
                label for="sr1" 
              | H: 130 mph
              span (69)
            li
              a href="#" 
              .squaredFour
                input#sr2 name="check" type="checkbox" value="None" /
                label for="sr2" 
              | S: 112 mph
              span (2)
            li
              a href="#" 
              .squaredFour
                input#sr3 name="check" type="checkbox" value="None" /
                label for="sr3" 
              | T: 118 mph
              span (18)
            li
              a href="#" 
              .squaredFour
                input#sr4 name="check" type="checkbox" value="None" /
                label for="sr4" 
              | V: 124 mph
              span (25)
        .filters
          | Sidewall
        .filters-result
          ul
            li
              a href="#" 
              .squaredFour
                input#sw1 name="check" type="checkbox" value="None" /
                label for="sw1" 
              | Black Letter
              span (2)
            li
              a href="#" 
              .squaredFour
                input#sr2 name="check" type="checkbox" value="None" /
                label for="sr2" 
              | Black Wall
              span (118)
        .filters
          | Recommended
        .filters-result
          ul
            li
              a href="#" 
              .squaredFour
                input#rc1 name="check" type="checkbox" value="None" /
                label for="rc1" 
              | Good
              span (16)
            li
              a href="#" 
              .squaredFour
                input#rc2 name="check" type="checkbox" value="None" /
                label for="rc2" 
              | Better
              span (132)
            li
              a href="#" 
              .squaredFour
                input#rc2 name="check" type="checkbox" value="None" /
                label for="rc2" 
              | Best
              span (138)
        .filters
          | Promotions
        .filters-result
          ul
            li
              a href="#" 
              .squaredFour
                input#pm1 name="check" type="checkbox" value="None" /
                label for="pm1" 
              | Tires with rebates
              span $40
            li
              a href="#" 
              .squaredFour
                input#pm2 name="check" type="checkbox" value="None" /
                label for="pm2" 
              | Tires with rebates
              span $50
            li
              a href="#" 
              .squaredFour
                input#pm3 name="check" type="checkbox" value="None" /
                label for="pm3" 
              | Tires with rebates
              span $60
            li
              a href="#" 
              .squaredFour
                input#pm4 name="check" type="checkbox" value="None" /
                label for="pm4" 
              | Tires with rebates
              span $70
            li
              a href="#" 
              .squaredFour
                input#pm5 name="check" type="checkbox" value="None" /
                label for="pm5" 
              | Tires with rebates
              span $160
          .f-seemore
            a href="#"  see more +
        .filters
          | Prices
        .filters-result
          ul
            li
              a href="#" 
              .squaredFour
                input#pr1 name="check" type="checkbox" value="None" /
                label for="pr1" 
              | $0 - $100
              span (500+)
            li
              a href="#" 
              .squaredFour
                input#pr2 name="check" type="checkbox" value="None" /
                label for="pr2" 
              | $100 - $150
              span (500+)
            li
              a href="#" 
              .squaredFour
                input#pr3 name="check" type="checkbox" value="None" /
                label for="pr3" 
              | $150 - $200
              span (500+)
            li
              a href="#" 
              .squaredFour
                input#pr4 name="check" type="checkbox" value="None" /
                label for="pr4" 
              | $200 - $325
              span (500+)
            li
              a href="#" 
              .squaredFour
                input#pr5 name="check" type="checkbox" value="None" /
                label for="pr5" 
              | $325 &amp; above
              span (254)
          .f-pricerange
            input name="" type="text" /
            | to
            input name="" type="text" /
            input name="" type="submit" value="GO" /
        .filters
          | Performance Category
        .filters-result
          ul
            li
              a href="#" 
              .squaredFour
                input#pc1 name="check" type="checkbox" value="None" /
                label for="pc1" 
              | All Season
              span (52)
            li
              a href="#" 
              .squaredFour
                input#pc2 name="check" type="checkbox" value="None" /
                label for="pc2" 
              | High Performance
              span (10)
            li
              a href="#" 
              .squaredFour
                input#pc3 name="check" type="checkbox" value="None" /
                label for="pc3" 
              | Touring
              span (45)
            li
              a href="#" 
              .squaredFour
                input#pc4 name="check" type="checkbox" value="None" /
                label for="pc4" 
              | Ultra High Performance
              span (47)
          .f-seemore
            a href="#"  see more +
        .filters
          | Warranty Level
        .filters-result
          ul
            li
              a href="#" 
              .squaredFour
                input#wl1 name="check" type="checkbox" value="None" /
                label for="wl1" 
              | Any Warranty Level
            li
              a href="#" 
              .squaredFour
                input#wl2 name="check" type="checkbox" value="None" /
                label for="wl2" 
              | 42,000 mi+ Tread Life Limited Warranty
            li
              a href="#" 
              .squaredFour
                input#wl3 name="check" type="checkbox" value="None" /
                label for="wl3" 
              | 60,000 mi+ Tread Life Limited Warranty
            li
              a href="#" 
              .squaredFour
                input#wl4 name="check" type="checkbox" value="None" /
                label for="wl4" 
              | 75,000 mi+ Tread Life Limited Warranty
      .col-md-10
        .top-tr-text
          .row
            .col-md-12.ttrt-left
              h3
                | Vehicle Selected: &nbsp;
                span style=("color: #454545;font-size: 22px;font-weight: bold;text-transform: uppercase;") #{params[:year]} #{params[:make]} #{params[:model]} #{params[:option]}
                a href="#"  (Change)
              h3
                | FOUND #{@tires_catalogue2.count} items total for your: &nbsp;
                span style=("color: #454545;font-size: 22px;font-weight: bold;text-transform: uppercase;") #{params[:sp1]}/#{params[:sp2]}-#{params[:sp3]}
                a href="#"  (Change)
              h3
                | Original Equipment Tire:&nbsp;
                span style=("color: #454545;font-size: 22px;font-weight: bold;text-transform: uppercase;") #{params[:sp1]}/#{params[:sp2]}-#{params[:sp3]}
          .recomm
            ul
              li.active
                a href="#"  Recommended
              li
                a href="#"  Best Seller
              / li
              /   a href="#"  Price
              li
                a href="#"  Promotions
              li
                a href="#"  Free Shipping
        .grid-search-result.row
          - @wheels = WheelInventory.where(WheelDiameter: @tgp_wheels_search_value.first.SIZE_PART_3).where(WheelWidth: @tgp_wheels_search_value.first.MINRIM..@tgp_wheels_search_value.first.MAXRIM).distinct
          - @inventory_view.zip(@wheels).each do |inv, wl|
            - tc = inventory_lookup(inv.mspn)
            - if !tc.nil?
              - @brand_logo = look_up_brand(tc.Brand)
              / - @mount_wheel = look_for_wheels(tc.Sectionwidth, tc.Aspectratio, tc.Rimdiameter)
              / @budget.zip(@actual).each do |budget, actual|
              / - @wheels.each do |wl|  
              .col-sm-4.col-xs-6
                .trr-best
                  .trrb-t
                    | BestSeller
                .grid-search-list
                  .grid-search-brand-img
                    - @brand = look_up_wheel_brand(wl.Brand)
                    img src="/images/#{@brand}" /
                  .grid-search-img
                    a href="product-landing-page-wheel.html" 
                      img src="/images/niche-img.jpg" /
                  .grid-search-brand-size.row
                    .text-brand.col-sm-6
                      h2 = wl.Brand
                    .text-size.col-sm-6
                      p
                        | Size:
                        span = wl.WheelSize
                    .text-pname.col-sm-12
                      p
                        span = wl.ModelName
                        | &nbsp;#{wl.ManufacturersFinishDescription}.
                  .grid-search-review.row
                    .rate-review.col-sm-6
                      img alt="" src="/images/star-4.png" /
                      br/
                      | (4 out of 5)
                      br/
                      a href="#"  Read 33 reviews
                    .rc-compare.col-sm-6
                      .squaredFour
                        input#compare1 name="check" type="checkbox" value="None" /
                        label for="compare1" 
                      | Compare
                      br/
                      a href="#" 
                        i.fa.fa-eye
                        | View on Vehicle
                  - @price_w = price_lookup(wl.Brand)
                  = form_for @cart, html: { class: '' } do |f|      
                    .grid-search-price.row
                      .col-md-4.margb-10
                        h2 QTY:
                        = f.text_field :quantity, value: 4, class: "form-control"
                        = f.hidden_field :price, value: @price
                        = f.hidden_field :item_id, value: wl.id
                        = f.hidden_field :brand, value: wl.Brand
                        = f.hidden_field :model, value: wl.ModelName
                        = f.hidden_field :tag_location, value: 'add_to_cart_wheels'
                        = hidden_field_tag :make, params[:make]
                        = hidden_field_tag :model, params[:model]
                        = hidden_field_tag :option, params[:option]
                        = hidden_field_tag :search, params[:search]
                        = hidden_field_tag :sp1, params[:sp1]
                        = hidden_field_tag :sp2, params[:sp2]
                        = hidden_field_tag :sp3, params[:sp3]
                        = hidden_field_tag :sw, params[:sw]
                        = hidden_field_tag :str_num, params[:str_num]
                        = hidden_field_tag :year, params[:year]
                        = hidden_field_tag :zipcode, params[:zipcode]
                        / input.form-control name="" type="number" value="4" /
                      .col-md-8.margb-10
                        .trrir-right style=("text-align: right;") 
                          - @price_t = inv.price.to_f * 4
                          - @price_w2 = @price_w * 4
                          - @price = @price_t + @price_w2   
                          h3.trr-price
                            | $#{@price.to_f}
                            span set
                          h5.trr-set
                            span 4 Wheels & 4 Tires
                      .clearfix
                      .col-sm-8.grid-search-lowerp
                        a href="#"  Found it lower
                      .col-sm-4.grid-search-availability
                        p.trr-prod-status In Stock
                  .grid-search-package
                    .grid-search-package-details
                      h1 = tc.Brand
                      p = tc.Model
                      p Size: #{tc.FullSize} Speed Rating: #{tc.Speedrating}
                    - if tc.Imageurlquarter.nil?
                      img src="/images/nichepackage-img.jpg" /
                    - else
                      img src="#{tc.Imageurlquarter}" /
                  .grid-search-action
                    a.addtocart href="cart.html"  Buy Package
                    a.addtocart href="cart.html" 
                      | Buy Wheels
                    a.addtocart.upgtires href="tires-search-result-grid.html"  Buy Wheels & Upgrade Tires
                  .grid-search-delivery
                    img src="/images/free-delivery.jpg" /
        / .p-nation
        /   ul
        /     li.pprev
        /       a href="#" 
        /         img alt="" src="/images/pprev.png" /
        /     li
        /       a href="#"  1
        /     li.active
        /       span 2
        /     li
        /       a href="#"  3
        /     li
        /       a href="#"  4
        /     li
        /       a href="#"  5
        /     li
        /       a href="#"  6
        /     li
        /       a href="#"  7
        /     li
        /       a href="#"  8
        /     li.pnext
        /       a href="#" 
        /         img alt="" src="/images/pnext.png" /
.container
  .h-title
    h1 PROMOTIONS / REBATES
    hr/
  .your-slider
    div
      a href="#" 
        img alt="" src="/images/cslide1.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide2.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide3.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide4.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide5.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide6.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide4.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide5.jpg" /
.bottom-banner
  a href="#" 
    img.center-block alt="" src="/images/bottom-banner.jpg" style=("width: 100%;") /
.bottom-banner2
  .container
    .row
      .col-sm-6
        div
          iframe allow=("autoplay; encrypted-media") allowfullscreen="" frameborder="0" height="365" src="https://www.youtube.com/embed/KsSA14uYuTY?rel=0" width="100%" 
      .col-sm-6
        div
          iframe allow=("autoplay; encrypted-media") allowfullscreen="" frameborder="0" height="365" src="https://www.youtube.com/embed/KsSA14uYuTY?rel=0" width="100%" 
.footer-top
  .floating-img
    img src="/images/team.png" /
  .container
    h1 CUSTOMER SERVICE
    p Have questions? We are here to help you.
    p
      a.btn.btn-danger href="#"  Contact Us
footer
  .container
    .row
      .col-sm-4
        .footer-inner
          h2 WHY ONLINE TIRES?
          ul
            li
              a href="#"  The Online Tires Advantage
            li
              a href="#"  Our Expertise
            li
              a href="#"  Events & Sponsorships
            li
              a href="#"  Road Hazard Protection
            li
              a href="#"  Careers
      .col-sm-5
        .footer-inner
          h2
            | DELIVERY &
            br>/
            | INSTALLATION
          ul
            li
              a href="#"  Quick Delivery
            li
              a href="#"  Recommended Installers
            li
              a href="#"  Installers' Price Pledge
            li
              a href="#"  Package Installation Instructions
      .col-sm-3
        .footer-inner
          h2 CUSTOMER SUPPORT
          ul
            li
              a href="#"  Contact Us
            li
              a href="#"  Order Tracking
            li
              a href="#"  Warranty Information
            li
              a href="#"  Returns/Refunds
            li
              a href="#"  FAQs
          h2 style=("color: #d40000; font-size: 28px; font-style: italic; margin-bottom: 20px")  877-465-8473
    .footer-menu-b
      ul
        li
          a href="#"  TERMS OF USE
        li
          a href="#"  PRIVACY PLEDGE
        li
          a href="#"  ACCESSIBILITY STATEMENT
      .row
        .col-sm-4
          img src="/images/footer-b.jpg" /
        .col-sm-8
          .text-right.social-media-a
            a href="#" 
              img src="/images/pin.jpg" /
            a href="#" 
              img src="/images/you.jpg" /
            a href="#" 
              img src="/images/gplus.jpg" /
            a href="#" 
              img src="/images/rss.jpg" /
            a href="#" 
              img src="/images/vimeo.jpg" /
            a href="#" 
              img src="/images/twit.jpg" /
            a href="#" 
              img src="/images/link.jpg" /
            a href="#" 
              img src="/images/fb.jpg" /
.footer-bottom.text-center
  | © 2018 Online Tires. All Rights Reserved.
javascript:
  $(function () {
    $('.your-slider').slick({
      dots: false,
      infinite: true,
      speed: 300,
      slidesToShow: 6,
      slidesToScroll: 6,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });

    $(".filters").on("click",function(){
      $(this).next().slideToggle();
    });
  });