<%= render "header" %>
    <div class="innerpage">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="prod-land">
              <div class="pl-top row">
                <div class="col-md-5">
                  <div class="pl-image">
                    <!-- <div class="for-sign">Best Seller</div> -->
                    
                    <a href="#"><img src=<%= "#{@prod_info.Imageurlquarter}"%> alt="" class="img-fluid"></a>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="row">
                    <div class="col-md-7">
                      <div class="pl-m-top">
                        <div class="row">
                          <div class="col-md-6">
                            <% @brand_logo = look_up_brand(@prod_info.Brand) %>
                            <img src=<%="/images/#{@brand_logo}"%> style="width: 100px;" alt="">
                          </div>
                          <% @stars = compute_ratings(@prod_info.Brand, @prod_info.Model) %>
                          <div class="col-md-6 pl-reviews">
                            <% if @stars == 5 %>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            <% elsif @stars == 4 %>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o"></i>
                            <% elsif @stars == 3 %>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                            <% elsif @stars == 2 %>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>

                            <% elsif @stars == 1 %>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                            <% else %>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                            <% end %>
                            <!-- <i class="fa fa-star-half-o"></i> -->
                            
                            <span> - <%= @stars %></span>
                          </div>
                        </div>
                        <h2><%= @prod_info.Brand %> - <%= @prod_info.Model %></h2>
                        <hr>
                      </div>
                      <div class="pl-m-mid">
                        <div class="pl-price row">
                          <% @price = params[:price].to_f %>
                          <% @price_total = params[:price].to_f * 4 %>
                            
                          <div class="col-md-6">
                            <%= number_to_currency(@price, unit: "$") %> each
                          </div>
                          <div class="col-md-6">
                            <%= number_to_currency(@price_total, unit: "$") %> set of 4
                          </div>
                        </div>
                        <ul class="list-unstyled">
                          <li><span>Part Number:</span><%= @prod_info.MSPN %></li>
                          <li><span>Brand:</span> <%= @prod_info.Brand %></li>
                          <li><span>Model:</span> <%= @prod_info.Model %></li>
                          <li><span>Section Width:</span> <%= @prod_info.Sectionwidth %></li>
                          <li><span>Aspect Ratio:</span>  <%= @prod_info.Aspectratio %></li>
                        </ul>
                      </div>
                      <hr>
                      <div class="pl-m-bot">
                        <h4>Promotion/s:</h4>
                        <ul class="list-unstyled">
                          <li><a href="promotions-landing.html"><i class="fa fa-hand-o-right"></i>70 Michelin Tires Mail In Rebate</a></li>
                          <li><a href="promotions-landing.html"><i class="fa fa-hand-o-right"></i>Buy Any Set Of 4 Tires & Receive 4 FREE Tickets To RACER'S EDGE</a></li>
                          <li><a href="promotions-landing.html"><i class="fa fa-hand-o-right"></i>Get 4 FREE LEGOLAND TICKETS When You Spend $800</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="pl-r-top">
                        <%= form_for @cart, html: { class: '' } do |f| %>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-2">
                                <label><strong>QTY</strong></label>
                              </div>
                              <div class="col-md-10">
                                <%= f.text_field :quantity, value: 4, class: "form-control" %>
                                <%= f.hidden_field :price, value: @price %>
                                <%= f.hidden_field :item_id, value: @prod_info.id %>
                                <%= f.hidden_field :brand, value: @prod_info.Brand %>
                                <%= f.hidden_field :model, value: @prod_info.Model %>
                                <%= f.hidden_field :tag_location, value: 'add_to_cart' %>
                                <%= hidden_field_tag :make, params[:make] %>
                                <%= hidden_field_tag :model, params[:model] %>
                                <%= hidden_field_tag :option, params[:option] %>
                                <%= hidden_field_tag :search, params[:search] %>
                                <%= hidden_field_tag :sp1, params[:sp1] %>
                                <%= hidden_field_tag :sp2, params[:sp2] %>
                                <%= hidden_field_tag :sp3, params[:sp3] %>
                                <%= hidden_field_tag :st, params[:st] %>
                                <%= hidden_field_tag :str_num, params[:str_num] %>
                                <%= hidden_field_tag :year, params[:year] %>
                                <%= hidden_field_tag :zipcode, params[:zipcode] %>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <%= f.submit "Add To Cart", style:"font-size: 19px; font-weight: bold; background: #d70000; display: block; width: 100%; padding: 10px 10px; color: #fff; line-height: 1.1; border-radius: 3px; text-decoration: none !important; margin-bottom: 0px; text-align: center; text-transform: uppercase; border: 0;"%>
                          </div>
                          <div class="form-group">
                            <button style="background: #76777C; font-size: 15px;padding: 12px 10px;" type="submit">Add to Cart &amp; Shop for Wheels</button>
                            <!-- <a href="wheels-search-result-grid.html" class="dark-b">Add to Cart &amp; Shop for Wheels </a> -->
                          </div>
                        <% end %>
                      </div>

                      
                      <div class="pl-r-bottom">
                        <ul class="list-unstyled">
                          <li>
                            <h4><i class="fa fa-thumbs-up"></i> 100% Original</h4>
                            <p>We guarantee you the sale of Original Brands.</p>
                          </li>
                          <li>
                            <h4><i class="fa fa-cc"></i> Payment Options</h4>
                            <p>We accept Visa, MasterCard and American Express.</p>
                          </li>
                          <li>
                            <h4><i class="fa fa-truck "></i> Free Shipping</h4>
                            <p>Free Delivery to 100+ Locations on orders above $40.</p>
                          </li>
                          <li>
                            <h4><i class="fa fa-rotate-left "></i> 30 days returns</h4>
                            <p>Return or exchange items purchased within 30 days.</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="pl-bot">
                <div>
                  <ul class="tabs-bot list-unstyled">
                    <li><a href="#tab1">Details</a></li>
                    <li><a href="#tab2">Specs</a></li>
                    <li><a href="#tab3">Reviews</a></li>
                  </ul>
                </div>
                <div id="tab1" class="tab-content">
                <h1><%= @prod_info.Brand %></h1>
                <% @content = brand_details(@prod_info.Brand, @prod_info.Model) %>  
                <p>
                  <%= @content.description %>
                </p>
                </div>
                <div id="tab2" class="tab-content">
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Specifications</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Part Number</th>
                        <td><%= @prod_info.MSPN %></td>
                      </tr>
                      <tr>
                        <th scope="row">Brand</th>
                        <td><%= @prod_info.Brand %></td>
                      </tr>
                      <tr>
                        <th scope="row">Weight</th>
                        <td><%= @prod_info.Weighttire %></td>
                      </tr>
                      <tr>
                        <th scope="row">Diameter</th>
                        <td><%= @prod_info.Rimdiameter %></td>
                      </tr>
                      <tr>
                        <th scope="row">Load Range</th>
                        <td><%= @prod_info.Loadrange %></td>
                      </tr>
                      <tr>
                        <th scope="row">Tire Type</th>
                        <td><%= @prod_info.Tiretypeperformance %></td>
                      </tr>
                      <tr>
                        <th scope="row">Speed Rating</th>
                        <td><%= @prod_info.Speedrating %></td>
                      </tr>
                      <tr>
                        <th scope="row">Utqg</th>
                        <td><%= @prod_info.UTQG %></td>
                      </tr>
                      <tr>
                        <th scope="row">Side Wall </th>
                        <td><%= @prod_info.Sidewallstyle %></td>
                      </tr>
                      <tr>
                        <th scope="row">Warranty</th>
                        <td><%= @prod_info.Warrantyinmiles %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <br>
                <div id="tab3" class="tab-content">
                  <!-- <div class="b-reviews">
                    <h2>RATINGS</h2>
                    <ul class="list-unstyled">
                      <div class="col-sm-12">
                        <h2>DRY</h2>
                        
                        <div class="progress">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: <%= "#{@dry}%" %>" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <h2>WET</h2>
                        <% @wet = tire_ratings(@prod_info.Brand, @prod_info.Model, "wet")%>
                        <div class="progress">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: <%= "#{@wet}%" %>" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <h2>SNOW</h2>
                        <% @snow = tire_ratings(@prod_info.Brand, @prod_info.Model, "snow")%>
                        <div class="progress">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: <%= "#{@snow}%" %>" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <h2>COMFORT</h2>
                        <% @comfort = tire_ratings(@prod_info.Brand, @prod_info.Model, "comfort")%>
                        <div class="progress">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: <%= "#{@comfort}%" %>" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <h2>TREADWEAR</h2>
                        <% @treadwear = tire_ratings(@prod_info.Brand, @prod_info.Model, "treadwear")%>
                        <div class="progress">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: <%= "#{@treadwear}%" %>" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <h2>NOISE</h2>
                        <% @noise = tire_ratings(@prod_info.Brand, @prod_info.Model, "noise")%>
                        <div class="progress">
                          <div class="progress-bar bg-danger " role="progressbar" style="width: <%= "#{@noise}%" %>" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </ul>
                  </div>
                  <br> -->
                  <div class="b-reviews">
                    <h2>REVIEWS</h2>
                    <ul class="list-unstyled">
                      <% @data = reviews(@prod_info.Brand, @prod_info.Model) %>
                      <% @data.each do |review| %>
                        <li>
                          <div class="row">
                            <div class="col-sm-6 ratingWheels">
                              <h5><%= review.first_name %>&nbsp;<%= review.last_name%></h5>
                              <p class="r-date"><%= review.created_at %></p>
                              <p>
                                <%= review.content %>
                              </p>
                            </div>
                            <div class="col-sm-6 ratingWheels">
                              <div class="row">
                                
                                <% @dry = tire_ratings(@prod_info.Brand, @prod_info.Model, "dry")%>

                                <div class="ratingDry <%= "rating#{@dry}"%> col-sm-6">
                                  <p>Dry</p>
                                  <div></div>
                                  <div></div>
                                  <div></div>
                                  <div></div>
                                  <div></div>
                                </div>
                                
                                <% @wet = tire_ratings(@prod_info.Brand, @prod_info.Model, "wet")%>

                                <div class="ratingWet <%= "rating#{@wet}"%> col-sm-6">
                                  <p>Wet</p>
                                  <div></div>
                                  <div></div>
                                  <div></div>
                                  <div></div>
                                  <div></div>
                                </div>

                                <% @snow = tire_ratings(@prod_info.Brand, @prod_info.Model, "snow")%>

                                <div class="ratingSnow <%= "rating#{@snow}"%> col-sm-6">
                                  <p>Snow</p>
                                  <div></div>
                                  <div></div>
                                  <div></div>
                                  <div></div>
                                  <div></div>
                                </div>

                                <% @comfort = tire_ratings(@prod_info.Brand, @prod_info.Model, "comfort")%>

                                <div class="ratingComfort <%= "rating#{@comfort}" %> col-sm-6">
                                  <p>Comfort</p>
                                  <div></div>
                                  <div></div>
                                  <div></div>
                                  <div></div>
                                  <div></div>
                                </div>

                                <% @noise = tire_ratings(@prod_info.Brand, @prod_info.Model, "noise")%>
                                <div class="ratingNoise col-sm-6 <%= "rating#{@noise}" %>" >
                                  <p>Noise</p>
                                  <div></div>
                                  <div></div>
                                  <div></div>
                                  <div></div>
                                  <div></div>
                                </div>
                                
                                <% @treadwear = tire_ratings(@prod_info.Brand, @prod_info.Model, "treadwear")%>

                                <div class="ratingTreadwear <%= "rating#{@treadwear}"%> col-sm-6">
                                  <p>Treadwear</p>
                                  <div></div>
                                  <div></div>
                                  <div></div>
                                  <div></div>
                                  <div></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <!-- <li>
                          <h5><%= review.first_name %>&nbsp;<%= review.last_name%></h5>
                          <p class="r-date"><%= review.created_at %></p>
                          <p>
                            <%= review.content %>
                          </p>
                        </li> -->
                      <% end %>
                    </ul>
                  </div>

                  <hr>
                  <!-- :brand_id, :brand_model_id, :title,
                  :content, :brand_model_name, :first_name, :last_name,
                  :email, :status, :stars, :dry, :wet, :snow, :comfort,
                  :noise, :treadwear, :ride -->

                  <div class="form-reviews">
                    <%= form_for @review do |f| %>
                      <%= f.hidden_field :brand_id, value: @content.brand_id  %>
                      <%= f.hidden_field :brand_model_name, value: @content.brand_model_name %>
                      <%= f.hidden_field :brand_model_id, value: @content.id %>
                      <%= f.hidden_field :status, value: 1 %>
                      <%= hidden_field_tag :id, params[:id] %>
                      <%= hidden_field_tag :make, params[:make] %>
                      <%= hidden_field_tag :model, params[:model] %>
                      <%= hidden_field_tag :option, params[:option] %>
                      <%= hidden_field_tag :search, params[:search] %>
                      <%= hidden_field_tag :sp1, params[:sp1] %>
                      <%= hidden_field_tag :sp2, params[:sp2] %>
                      <%= hidden_field_tag :sp3, params[:sp3] %>
                      <%= hidden_field_tag :st, params[:st] %>
                      <%= hidden_field_tag :year, params[:year] %>
                      <%= hidden_field_tag :zipcode, params[:zipcode] %>
                      <h2>ADD REVIEW</h2>
                      <hr>
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label>Title</label>
                            <%= f.text_field :title, class: "form-control" %>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3">
                          <div class="form-group">
                            <label>First Name</label>
                            <%= f.text_field :first_name, class: "form-control" %>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-group">
                            <label>Last Name</label>
                            <%= f.text_field :last_name, class: "form-control" %>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-group">
                            <label>Email</label>
                            <%= f.text_field :email, class: "form-control" %>
                          </div>
                        </div>
                        <!-- <div class="col-sm-3">
                          <div class="form-group">
                            <label>Overall Ratings</label>
                            <%= f.select :stars, Review::RATINGS, {include_blank: false }, class: "form-control" %>
                          </div>
                        </div> -->
                        <div class="col-sm-3 col-xs-6">
                          <div class="form-group">
                            <label>Overall Ratings</label>
                            <div class='rating-stars reviewall'>
                              <ul id='stars'>
                                <li class='star' title='Poor' data-value='1'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-2">
                          <div class="form-group">
                            <label>Dry</label>
                            <%= f.select :dry, Review::RATINGS, {include_blank: false }, class: "form-control" %>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group">
                            <label>Wet</label>
                            <%= f.select :wet, Review::RATINGS, {include_blank: false }, class: "form-control" %>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group">
                            <label>Snow</label>
                            <%= f.select :snow, Review::RATINGS, {include_blank: false }, class: "form-control" %>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group">
                            <label>Comfort</label>
                            <%= f.select :comfort, Review::RATINGS, {include_blank: false }, class: "form-control" %>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group">
                            <label>Treadwear</label>
                            <%= f.select :treadwear, Review::RATINGS, {include_blank: false }, class: "form-control" %>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group">
                            <label>Noise</label>
                            <%= f.select :noise, Review::RATINGS, {include_blank: false }, class: "form-control" %>
                          </div>
                        </div>
                      </div>
                      
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label>Message</label>
                            <%= f.text_area :content, rows: 5, class: "form-control" %>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group">
                            <input type="submit" name="" class="btn-danger btn" value="Submit" style="width: 100%;">
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="footer-inner">
              <h2>WHY ONLINE TIRES?</h2>
              <ul>
                <li><a href="#">The Online Tires Advantage</a></li>
                <li><a href="#">Our Expertise</a></li>
                <li><a href="#">Events & Sponsorships</a></li>
                <li><a href="#">Road Hazard Protection</a></li>
                <li><a href="#">Careers</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="footer-inner">
              <h2>DELIVERY &<br>INSTALLATION</h2>
              <ul>
                <li><a href="#">Quick Delivery</a></li>
                <li><a href="#">Recommended Installers</a></li>
                <li><a href="#">Installers' Price Pledge</a></li>
                <li><a href="#">Package Installation Instructions</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="footer-inner">
              <h2>CUSTOMER SUPPORT</h2>
              <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Order Tracking</a></li>
                <li><a href="#">Warranty Information</a></li>
                <li><a href="#">Returns/Refunds</a></li>
                <li><a href="#">FAQs</a></li>
              </ul>
              <h2 style="color: #d40000; font-size: 28px; font-style: italic; margin-bottom: 20px">877-465-8473</h2>
            </div>
          </div>
        </div>
        <div class="footer-menu-b">
          <ul>
            <li><a href="#">TERMS OF USE</a></li>
            <li><a href="#">PRIVACY PLEDGE</a></li>
            <li><a href="#">ACCESSIBILITY STATEMENT</a></li>
          </ul>
          <div class="row">
            <div class="col-sm-4">
              <img src="/images/footer-b.jpg">
            </div>
            <div class="col-sm-8">
              <div class="text-right social-media-a">
                <a href="#"><img src="/images/pin.jpg"></a>  
                <a href="#"><img src="/images/you.jpg"></a>  
                <a href="#"><img src="/images/gplus.jpg"></a>  
                <a href="#"><img src="/images/rss.jpg"></a>  
                <a href="#"><img src="/images/vimeo.jpg"></a>  
                <a href="#"><img src="/images/twit.jpg"></a>  
                <a href="#"><img src="/images/link.jpg"></a>  
                <a href="#"><img src="/images/fb.jpg"></a>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="footer-bottom text-center">
      © 2018 Online Tires. All Rights Reserved.
    </div>
<script>
	  $(document).ready(function () {
      /* Hover Rating */

      // $('#stars li').on('mouseover', function(){
      //   var onStar = parseInt($(this).data('value'), 10); // Kung nasaan yung mouse
      //   // Hover yung mga star
      //   alert("1");
      //   $(this).parent().children('li.star').each(function(e){
      //     if (e < onStar) {
      //       $(this).addClass('hover');
      //       alert("1w");
      //     }
      //     else{
      //       $(this).removeClass('hover');
      //       alert("1b");
      //     }
      //   });
      //   }).on('mouseout', function(){

      //     $(this).parent().children('li.star').each(function(e){

      //       $(this).removeClass('hover');

      //     });

      //   });
      //   /* Selected Rating */
      //   $('#stars li').on('click', function(){
      //     var onStar = parseInt($(this).data('value'), 10); // Kung nasaan yung selected
      //     var stars = $(this).parent().children('li.star');
      //     for (i = 0; i < stars.length; i++) {
      //       $(stars[i]).removeClass('selected');
      //     }
      //     for (i = 0; i < onStar; i++) {
      //       $(stars[i]).addClass('selected');
      //     }
      //   });

      //   /* Static Js for ratings */
      //   $('.reviewall li').on('click', function(){
      //     var ratingValue = parseInt($('.reviewall li.selected').last().data('value'), 10);
      //     // alert(ratingValue);
      //     $('#reviewAll').val(ratingValue);
      //   });

      //   $('.ratingdry li').on('click', function(){
      //     var ratingValue = parseInt($('.ratingdry li.selected').last().data('value'), 10);
      //     // alert(ratingValue);
      //     $('#ratingDry').val(ratingValue);
      //   });
      //   $('.ratingwet li').on('click', function(){
      //     var ratingValue = parseInt($('.ratingwet li.selected').last().data('value'), 10);
      //     // alert(ratingValue);
      //     $('#ratingWet').val(ratingValue);
      //   });

      //   $('.ratingsnow li').on('click', function(){
      //     var ratingValue = parseInt($('.ratingsnow li.selected').last().data('value'), 10);
      //     // alert(ratingValue);
      //     $('#ratingSnow').val(ratingValue);
      //   });

      //   $('.ratingcomfort li').on('click', function(){
      //     var ratingValue = parseInt($('.ratingcomfort li.selected').last().data('value'), 10);
      //     // alert(ratingValue);
      //     $('#ratingComfort').val(ratingValue);
      //   });

      //   $('.ratingtreadwear li').on('click', function(){
      //     var ratingValue = parseInt($('.ratingtreadwear li.selected').last().data('value'), 10);
      //     // alert(ratingValue);
      //     $('#ratingTreadwear').val(ratingValue);
      //   });

      //   $('.ratingnoise li').on('click', function(){
      //     var ratingValue = parseInt($('.ratingnoise li.selected').last().data('value'), 10);
      //     // alert(ratingValue);
      //     $('#ratingNoise').val(ratingValue);
      //   });
      // });

      $(".filters").on("click",function(){
        $(this).next().slideToggle();
      });

      $('.tab-content').hide();
      $('#tab1').show();

      // tabs clicking event
      $('.tabs-bot a').click(function(){
        $('.tabs-bot a').removeClass('active');
        $(this).addClass('active');
        var tabID = $(this).attr('href');
        $('.tab-content').hide();
        $(tabID).show();
      });

      // function updateTextArea() {         
      //   var allVals = [];
      //   $('#c_b :checked').each(function() {
      //     allVals.push($(this).val());
      //   });
      //   $('#t').val(allVals);
      // }
      
      // $(function() {
      //   $('#c_b input').click(updateTextArea);
      //   updateTextArea();
      // });

    });

</script>