= render "header"
.innerpage
  .container
    .row
      .col-sm-12
        .h-title
          h1 STORE LOCATOR
          hr/
        .vr-result-text
          h3
            | Your selected vehicle #{params[:year]} #{params[:make]} #{params[:model]}  #{params[:option]}
            br/
            | Choose from the #{@count_locations} closest store to
            |&nbsp;
            u #{params[:zipcode]}
        .st
          .row
            - counter = 1
            
            

            - @stores.each do |store|
              - if params[:st]
                - @path = search_tires_path(params.merge(str_num: store.store_number))
              - elsif params[:sw]
                - @path = search_wheels_path(params.merge(str_num: store.store_number))
              - else
                - @path = search_wheels_tires_path(params.merge(str_num: store.store_number))
              .col-md-3.st-link
                / a href="after-search-by-vehicle2.html"
                

                = link_to @path
                  .st-inner
                    .st-no = counter
                    h3.text-center #{store.location}
                    .st-a
                      i.fa.fa-map-pin
                      | #{store.Address}, #{store.city}, #{store.state} #{store.zip}
                    .st-p
                      i.fa.fa-phone
                      | #{store.phonenumber}
                    .st-dis
                      | SELECT
              - counter = counter + 1
            
.container
  .h-title
    h1 PROMOTIONS / REBATES
    hr/
  .your-slider
    div
      a href="#" 
        img alt="" src="/images/cslide1.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide2.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide3.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide4.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide5.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide6.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide4.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide5.jpg" /
.bottom-banner
  a href="#" 
    img.center-block alt="" src="/images/bottom-banner.jpg" style=("width: 100%;") /
.bottom-banner2
  .container
    .row
      .col-sm-6
        div
          iframe allow=("autoplay; encrypted-media") allowfullscreen="" frameborder="0" height="365" src="https://www.youtube.com/embed/KsSA14uYuTY?rel=0" width="100%" 
      .col-sm-6
        div
          iframe allow=("autoplay; encrypted-media") allowfullscreen="" frameborder="0" height="365" src="https://www.youtube.com/embed/KsSA14uYuTY?rel=0" width="100%" 
.footer-top
  .floating-img
    img src="images/team.png" /
  .container
    h1 CUSTOMER SERVICE
    p Have questions? We are here to help you.
    p
      a.btn.btn-danger href="#"  Contact Us
footer
  .container
    .row
      .col-sm-4
        .footer-inner
          h2 WHY ONLINE TIRES?
          ul
            li
              a href="#"  The Online Tires Advantage
            li
              a href="#"  Our Expertise
            li
              a href="#"  Events & Sponsorships
            li
              a href="#"  Road Hazard Protection
            li
              a href="#"  Careers
      .col-sm-5
        .footer-inner
          h2
            | DELIVERY &
            br>/
            | INSTALLATION
          ul
            li
              a href="#"  Quick Delivery
            li
              a href="#"  Recommended Installers
            li
              a href="#"  Installers' Price Pledge
            li
              a href="#"  Package Installation Instructions
      .col-sm-3
        .footer-inner
          h2 CUSTOMER SUPPORT
          ul
            li
              a href="#"  Contact Us
            li
              a href="#"  Order Tracking
            li
              a href="#"  Warranty Information
            li
              a href="#"  Returns/Refunds
            li
              a href="#"  FAQs
          h2 style=("color: #d40000; font-size: 28px; font-style: italic; margin-bottom: 20px")  877-465-8473
    .footer-menu-b
      ul
        li
          a href="#"  TERMS OF USE
        li
          a href="#"  PRIVACY PLEDGE
        li
          a href="#"  ACCESSIBILITY STATEMENT
      .row
        .col-sm-4
          img src="/images/footer-b.jpg" /
        .col-sm-8
          .text-right.social-media-a
            a href="#" 
              img src="/images/pin.jpg" /
            a href="#" 
              img src="/images/you.jpg" /
            a href="#" 
              img src="/images/gplus.jpg" /
            a href="#" 
              img src="/images/rss.jpg" /
            a href="#" 
              img src="/images/vimeo.jpg" /
            a href="#" 
              img src="/images/twit.jpg" /
            a href="#" 
              img src="/images/link.jpg" /
            a href="#" 
              img src="/images/fb.jpg" /
.footer-bottom.text-center
  | © 2018 Online Tires. All Rights Reserved.
javascript:
  $(function () {
    $('.your-slider').slick({
      dots: false,
      infinite: true,
      speed: 300,
      slidesToShow: 6,
      slidesToScroll: 6,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });

    $(".filters").on("click",function(){
      $(this).next().slideToggle();
    });
  });