= render "header"
.innerpage
  .container
    .row
      .col-md-2.left-filter
        .f-title
          | Filter your Tire Results
        .filters
          | All Items
        .filters-result
          ul
            li
              a href="#" 
                | All Items
                span (137+)
            li
              a href="#" 
                | Recommended
                span (65+)
            li
              a href="#" 
                | Deals'.
                span (65+)
            li
              a href="#" 
                | Original Equipment
                span (4+)
        .filters
          | Category
        .filters-result
          ul
            li
              a href="#" 
                | All Tires
                span (500+)
            li
              a href="#" 
                | Car Tires
                span (500+)
            li
              a href="#" 
                | Light Trucks &amp; SUV Tires
                span (500+)
            li
              a href="#" 
                | Trailer Tires
                span (500+)
            li
              a href="#" 
                | Truck Tires
                span (500+)
            li
              a href="#" 
                | RV Tires
                span (150+)
            li
              a href="#" 
                | Run Flat Tires
                span (150+)
            li
              a href="#" 
                | Winter Tires
                span (150+)
        .filters
          | Brands
        .filters-result
          ul
            li
              / a href="#"
              = link_to list_all_tires_path(params.merge(brands:'ACCELERA'))
                .squaredFour
                  input#squaredFour1 name="check" type="checkbox" value="None" /
                  label for="squaredFour1" 
                | ACCELERA
                span (500+)
            li
              = link_to list_all_tires_path(params.merge(brands:'ACHILLES')) 
                .squaredFour
                  input#squaredFour2 name="check" type="checkbox" value="None" /
                  label for="squaredFour2" 
                | ACHILLES
                span (500+)
            li
              = link_to list_all_tires_path(params.merge(brands:'ARROYO')) 
                .squaredFour
                  input#squaredFour3 name="check" type="checkbox" value="None" /
                  label for="squaredFour3" 
                | ARROYO
                span (500+)
            li
              = link_to list_all_tires_path(params.merge(brands:'ATTURO')) 
                .squaredFour
                  input#squaredFour4 name="check" type="checkbox" value="None" /
                  label for="squaredFour4" 
                | ATTURO
                span (487)
            li
              = link_to list_all_tires_path(params.merge(brands:'BFGOODRICH')) 
                .squaredFour
                  input#squaredFour5 name="check" type="checkbox" value="None" /
                  label for="squaredFour5" 
                | BFGOODRICH
                span (436)
            li
              = link_to list_all_tires_path(params.merge(brands:'BRIDGESTONE')) 
                .squaredFour
                  input#squaredFour6 name="check" type="checkbox" value="None" /
                  label for="squaredFour6" 
                | BRIDGESTONE
                span (425)
          .f-seemore
            a href="#"  see more +
        .filters
          | Review Ratings
        .filters-result
          ul
            li
              a href="#" 
              .squaredFour
                input#star5 name="check" type="checkbox" value="None" /
                label for="star5" 
              img src="/images/5stars.jpg" /
              | only
            li
              a href="#" 
              .squaredFour
                input#star4 name="check" type="checkbox" value="None" /
                label for="star4" 
              img src="/images/4stars.jpg" /
              | or better
            li
              a href="#" 
              .squaredFour
                input#star3 name="check" type="checkbox" value="None" /
                label for="star3" 
              img src="/images/3stars.jpg" /
              | or better
            li
              a href="#" 
              .squaredFour
                input#star2 name="check" type="checkbox" value="None" /
                label for="star2" 
              img src="/images/2stars.jpg" /
              | or better
            li
              a href="#" 
              .squaredFour
                input#star1 name="check" type="checkbox" value="None" /
                label for="star1" 
              img src="/images/1stars.jpg" /
              | or better
        / .filters
        /   | Load Index
        /   - @li = @load_indexes.compact
        /   - @sort = @li.map(&:to_i)
        /   - @val = @sort.sort
        / .filters-result
        /   ul
        /     - @val.each do |li|
        /       li
        /         a href="#" 
        /         .squaredFour
        /           input#li1 name="check" type="checkbox" value="None" /
        /           label for="li1" 
        /         | #{li}
        /         span
        / .filters
        /   | Speed Ratings
        /   - @speedratings = @speedratings.compact
        /   - @val2 = @speedratings.sort
        / .filters-result
        /   ul
        /     - @val2.each do |sr|
        /       li
        /         a href="#" 
        /         .squaredFour
        /           input#sr1 name="check" type="checkbox" value="None" /
        /           label for="sr1" 
        /         | #{sr}
        /         span
            
        / .filters
        /   | Sidewall
        /   - @sidewallstyles = @sidewallstyles.compact
        /   - @val3 = @sidewallstyles.sort
        / .filters-result
        /   ul
        /     - @val3.each do |ss|
        /       li
        /         a href="#" 
        /         .squaredFour
        /           input#sr2 name="check" type="checkbox" value="None" /
        /           label for="sr2" 
        /         | #{ss}
        /         span
        .filters
          | Recommended
        .filters-result
          ul
            li
              a href="#" 
              .squaredFour
                input#rc1 name="check" type="checkbox" value="None" /
                label for="rc1" 
              | Good
              span (16)
            li
              a href="#" 
              .squaredFour
                input#rc2 name="check" type="checkbox" value="None" /
                label for="rc2" 
              | Better
              span (132)
            li
              a href="#" 
              .squaredFour
                input#rc2 name="check" type="checkbox" value="None" /
                label for="rc2" 
              | Best
              span (138)
        .filters
          | Promotions
        .filters-result
          ul
            li
              a href="#" 
              .squaredFour
                input#pm1 name="check" type="checkbox" value="None" /
                label for="pm1" 
              | Tires with rebates
              span $40
          .f-seemore
            a href="#"  see more +
        .filters
          | Prices
        .filters-result
          ul
            li
              a href="#" 
              .squaredFour
                input#pr1 name="check" type="checkbox" value="None" /
                label for="pr1" 
              | $0 - $100
              span (500+)
          .f-pricerange
            input name="" type="text" /
            | to
            input name="" type="text" /
            input name="" type="submit" value="GO" /
        .filters
          | Performance Category
        .filters-result
          ul
            li
              a href="#" 
              .squaredFour
                input#pc1 name="check" type="checkbox" value="None" /
                label for="pc1" 
              | All Season
              span (52)
            li
              a href="#" 
              .squaredFour
                input#pc2 name="check" type="checkbox" value="None" /
                label for="pc2" 
              | High Performance
              span (10)
            li
              a href="#" 
              .squaredFour
                input#pc3 name="check" type="checkbox" value="None" /
                label for="pc3" 
              | Touring
              span (45)
            li
              a href="#" 
              .squaredFour
                input#pc4 name="check" type="checkbox" value="None" /
                label for="pc4" 
              | Ultra High Performance
              span (47)
          .f-seemore
            a href="#"  see more +
        .filters
          | Warranty Level
        .filters-result
          ul
            li
              a href="#" 
              .squaredFour
                input#wl1 name="check" type="checkbox" value="None" /
                label for="wl1" 
              | Any Warranty Level
            li
              a href="#" 
              .squaredFour
                input#wl2 name="check" type="checkbox" value="None" /
                label for="wl2" 
              | 42,000 mi+ Tread Life Limited Warranty
            li
              a href="#" 
              .squaredFour
                input#wl3 name="check" type="checkbox" value="None" /
                label for="wl3" 
              | 60,000 mi+ Tread Life Limited Warranty
            li
              a href="#" 
              .squaredFour
                input#wl4 name="check" type="checkbox" value="None" /
                label for="wl4" 
              | 75,000 mi+ Tread Life Limited Warranty
      .col-md-10
        - if @choice == "tires"
          .top-tr-text
            .row
              .col-md-12.ttrt-left
                / h3
                /   |  Selected: &nbsp;
                /   span style=("color: #454545;font-size: 22px;font-weight: bold;text-transform: uppercase;") #{params[:year]} #{params[:make]} #{params[:model]} #{params[:option]}
                /   a href="#"  (Change)
                h3
                  | FOUND #{@data.count} items total for your: &nbsp;
                  span style=("color: #454545;font-size: 22px;font-weight: bold;text-transform: uppercase;") #{params[:Sectionwidth]}/#{params[:Aspectratio]}-#{params[:Rimdiameter]}
                  a href="#"  (Change)
                / h3
                /   | Original Equipment Tire:&nbsp;
                /   span style=("color: #454545;font-size: 22px;font-weight: bold;text-transform: uppercase;") #{params[:sp1]}/#{params[:sp2]}-#{params[:sp3]}

            .recomm
              ul
                li.active
                  a href="#"  Recommended
                li
                  a href="#"  Best Seller
                / li
                /   a href="#"  Price
                li
                  a href="#"  Promotions
                li
                  a href="#"  Free Shipping
          .tr-right-result
            - @data.each do |inv|
              - tc = inventory_lookup(inv.mspn)
              - if !tc.nil?
                - @brand_logo = look_up_brand(tc.Brand)
                .tire-result-r
                  .trr-best
                    .trrb-t
                      | BestSeller
                  .trr-inner
                    .row
                      .col-md-3
                        a.prod-img-trr href="product-landing-page-tire.html" 
                          img alt="" src="#{tc.Imageurlquarter}" /
                          span 40k warranty
                      .col-md-6
                        .row
                          .trri-w

                            img src="/images/#{@brand_logo}" /
                            h3 = tc.Model
                            h4 High Performance All Season
                            .row
                              .col-md-6
                                ul.trr-sls
                                  li
                                    | Size: &nbsp;
                                    strong #{tc.FullSize}
                                  li
                                    | Load Index: &nbsp;
                                    strong = tc.Loadindex1
                                  li
                                    | Speed Rating: &nbsp;
                                    strong = tc.Speedrating
                              .col-md-6
                                ul.trr-sls
                                  li
                                    | Size: &nbsp;
                                    strong = tc.FullSize
                                  li
                                    | Load Index: &nbsp;
                                    strong = tc.Loadindex1
                                  li
                                    | Speed Rating: &nbsp;
                                    strong = tc.Speedrating
                            p
                              = tc.Description
                              br
                              = link_to 'Read More...', product_page_path(params.merge(id: tc.id))
                      .col-md-3
                        .row
                          .trri-r
                            .row
                              .col-md-4.margb-10
                                h2 QTY:
                                input.form-control name="" type="number" value="4" /
                              .col-md-8.margb-10
                                .trrir-right style=("text-align: right;") 
                                  h3.trr-price
                                    | $#{inv.price}
                                    span each
                                  - @total = inv.price.to_f * 4
                                  h5.trr-set
                                    | #{number_to_currency(@total, unit:"$")}&nbsp;
                                    span set of 4
                                  p.trr-prod-status In Stock
                              a.trrir-addtocart href="cart.html"  Add To Cart
                              a.trrir-addtocart.trrir-addthenshop href="index.html" 
                                | Add To Cart &amp;
                                span Shop For Wheels
                              a.trrir-addtocartred href="#"  Sign Up for Lower Price

                              
                    .margt-24
                      .row
                        .col-md-3
                          .rate-comp
                            .rate-review
                              - @star = ratings = compute_ratings(tc.Brand, tc.Model)
                              / img alt="" src="/images/star-4.png" /
                              img alt="" src="/images/#{@star}stars.jpg" /
                              br/
                              | ( #{@star} out of 5)
                              br/
                              - @text = count_reviews(tc.Brand, tc.Model)
                              / a href="product-landing-page-tire.html"  Read #{@text} reviews
                              = link_to "Read #{@text} reviews", product_page_path(params.merge(id: tc.id))
                            .rc-compare
                              .squaredFour
                                input#compare1 name="check" type="checkbox" value="None" /
                                label for="compare1" 
                              | Compare
                        .col-md-6
                          / .row
                          /   .del-ship
                          /     .ds
                          /       img alt="" src="/images/free-del.png" /
                          /       img alt="" src="/images/free-del.png" /
                          /     .btn-det.clearfix
                          /       = link_to 'Specs', product_page_path(params.merge(id: tc.id))
                          /         / span
                          /       = link_to 'Features', product_page_path(params.merge(id: tc.id))
                          /         / span
                          /       = link_to 'More Details', product_page_path(params.merge(id: tc.id))
                                  / span
                                / a href="product-landing-page-tire.html" 
                                /   | Specs
                                /   span 
                                / a href="product-landing-page-tire.html" 
                                /   | Features
                                /   span 
                                / a href="product-landing-page-tire.html" 
                                /   | More Details
                                /   span 
                        .col-md-3
                          .row
                            .hazzard
                              img alt="" src="/images/hazzard.jpg" /
                    .margt-24
                      .row
                        .col-md-4
                          a href="promotions-landing.html" 
                            img alt="" src="/images/promo1.jpg" style=("width: 100%;") /
                        .col-md-4
                          a href="promotions-landing.html" 
                            img alt="" src="/images/promo2.jpg" style=("width: 100%;") /
                        .col-md-4
                          - if tc.Brand == 'BFGOODRICH'
                            a href="promotions-landing.html" 
                              img alt="" src="/images/promo4.jpg" style=("width: 100%;") /
            / div
            /   = will_paginate @data, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
        - else
          .top-tr-text
            .row
              .col-md-12.ttrt-left
                h3
                  | FOUND #{@data.count} items total for your: &nbsp;
                  span style=("color: #454545;font-size: 22px;font-weight: bold;text-transform: uppercase;") #{params[:WheelDiameter]}-#{params[:WheelWidth]}
                  a href="#"  (Change)
            .recomm
              ul
                li.active
                  a href="#"  Recommended
                li
                  a href="#"  Best Seller
                li
                  a href="#"  Price
                li
                  a href="#"  Promotions
                li
                  a href="#"  Free Shipping
        
          .grid-search-result.row
            - @data.each do |wl|
              .col-sm-4.col-xs-6
                .grid-search-list
                  .grid-search-brand-img
                    / = wl.Brand
                    - @brand = look_up_wheel_brand(wl.Brand)
                    img src="/images/#{@brand}" /
                  .grid-search-img
                    a href="product-landing-page-wheel.html" 
                      img src="/images/niche-img.jpg" /
                  .grid-search-brand-size.row
                    .text-brand.col-sm-6
                      h2 = wl.Brand
                    .text-size.col-sm-6
                      p
                        | Size:
                        span = wl.WheelSize
                    .text-pname.col-sm-12
                      p
                        span = wl.ModelName
                        | &nbsp;#{wl.ManufacturersFinishDescription}.
                  .grid-search-review.row
                    .rate-review.col-sm-6
                      img alt="" src="/images/star-4.png" /
                      br/
                      | (4 out of 5)
                      br/
                      a href="#"  Read 33 reviews
                    .rc-compare.col-sm-6
                      .squaredFour
                        input#compare1 name="check" type="checkbox" value="None" /
                        label for="compare1" 
                      | Compare
                      br/
                      a href="#" 
                        i.fa.fa-eye
                        | View on Vehicle
                  .grid-search-price.row
                    .col-md-4.margb-10
                      h2 QTY:
                      input.form-control name="" type="number" value="4" /
                    .col-md-8.margb-10
                      .trrir-right style=("text-align: right;") 
                        h3.trr-price
                          - @price = price_lookup(wl.Brand)
                          | $ #{@price.to_f}
                          span each
                        h5.trr-set
                          - @total_price = @price.to_f * 4
                          | $ #{@total_price}
                          span set of 4
                    .clearfix
                    .col-sm-8.grid-search-lowerp
                      a href="#"  Found it lower
                    .col-sm-4.grid-search-availability
                      p.trr-prod-status In Stock
                  .grid-search-action
                    = link_to "Add To Cart", cart_path(params.merge(atc: true)), class: 'addtocart'
                    / a.addtocart href="cart.html"  Add To Cart
                    / a.addtocart.addthenshop href="tires-search-result-grid.html" 
                      | Add To Cart &amp;
                      span Shop For Tires
                    a.addtocartred href="#"  Sign Up for Lower Price
                  .grid-search-delivery
                    img src="/images/free-delivery.jpg" /
          / .p-nation
          /   ul
          /     li.pprev
          /       a href="#" 
          /         img alt="" src="/images/pprev.png" /
          /     li
          /       a href="#"  1
          /     li.active
          /       span 2
          /     li
          /       a href="#"  3
          /     li
          /       a href="#"  4
          /     li
          /       a href="#"  5
          /     li
          /       a href="#"  6
          /     li
          /       a href="#"  7
          /     li
          /       a href="#"  8
          /     li.pnext
          /       a href="#" 
          /         img alt="" src="/images/pnext.png" /
.container
  .h-title
    h1 PROMOTIONS / REBATES
    hr/
  .your-slider
    div
      a href="#" 
        img alt="" src="/images/cslide1.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide2.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide3.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide4.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide5.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide6.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide4.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide5.jpg" /
.bottom-banner
  a href="#" 
    img.center-block alt="" src="/images/bottom-banner.jpg" style=("width: 100%;") /
.bottom-banner2
  .container
    .row
      .col-sm-6
        div
          iframe allow=("autoplay; encrypted-media") allowfullscreen="" frameborder="0" height="365" src="https://www.youtube.com/embed/KsSA14uYuTY?rel=0" width="100%" 
      .col-sm-6
        div
          iframe allow=("autoplay; encrypted-media") allowfullscreen="" frameborder="0" height="365" src="https://www.youtube.com/embed/KsSA14uYuTY?rel=0" width="100%" 
.footer-top
  .floating-img
    img src="/images/team.png" /
  .container
    h1 CUSTOMER SERVICE
    p Have questions? We are here to help you.
    p
      a.btn.btn-danger href="#"  Contact Us
footer
  .container
    .row
      .col-sm-4
        .footer-inner
          h2 WHY ONLINE TIRES?
          ul
            li
              a href="#"  The Online Tires Advantage
            li
              a href="#"  Our Expertise
            li
              a href="#"  Events & Sponsorships
            li
              a href="#"  Road Hazard Protection
            li
              a href="#"  Careers
      .col-sm-5
        .footer-inner
          h2
            | DELIVERY &
            br>/
            | INSTALLATION
          ul
            li
              a href="#"  Quick Delivery
            li
              a href="#"  Recommended Installers
            li
              a href="#"  Installers' Price Pledge
            li
              a href="#"  Package Installation Instructions
      .col-sm-3
        .footer-inner
          h2 CUSTOMER SUPPORT
          ul
            li
              a href="#"  Contact Us
            li
              a href="#"  Order Tracking
            li
              a href="#"  Warranty Information
            li
              a href="#"  Returns/Refunds
            li
              a href="#"  FAQs
          h2 style=("color: #d40000; font-size: 28px; font-style: italic; margin-bottom: 20px")  877-465-8473
    .footer-menu-b
      ul
        li
          a href="#"  TERMS OF USE
        li
          a href="#"  PRIVACY PLEDGE
        li
          a href="#"  ACCESSIBILITY STATEMENT
      .row
        .col-sm-4
          img src="/images/footer-b.jpg" /
        .col-sm-8
          .text-right.social-media-a
            a href="#" 
              img src="/images/pin.jpg" /
            a href="#" 
              img src="/images/you.jpg" /
            a href="#" 
              img src="/images/gplus.jpg" /
            a href="#" 
              img src="/images/rss.jpg" /
            a href="#" 
              img src="/images/vimeo.jpg" /
            a href="#" 
              img src="/images/twit.jpg" /
            a href="#" 
              img src="/images/link.jpg" /
            a href="#" 
              img src="/images/fb.jpg" /
.footer-bottom.text-center
  | © 2018 Online Tires. All Rights Reserved.

javascript:
  $(function () {
    $('.your-slider').slick({
      dots: false,
      infinite: true,
      speed: 300,
      slidesToShow: 6,
      slidesToScroll: 6,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });

    $(".filters").on("click",function(){
      $(this).next().slideToggle();
    });
  });