= render "header"
.innerpage
  .container
    .row
      .col-sm-12
        .h-title
          h1 ORIGINAL EQUIPMENT
          hr/

        .vr-result-text
          h3
            | Your selected vehicle #{params[:year]} #{params[:make]} #{params[:model]}  #{params[:option]}
            br/
            | These sizes are guaranteed to fit your vehicle. Please select a size below.
          
        h4.sub-vr-text OE Original Factory Size
        .row
          - @tgp_mounts.each  do |vehicle|
            .col-sm-2
              = link_to ("<h1>#{vehicle.SIZE_PART_3}&Prime;</h1><p><br>#{vehicle.SIZE_PART_1} - #{vehicle.SIZE_PART_2} / #{vehicle.SIZE_PART_3}</p>").html_safe, list_all_wheels_path(params.merge(sp1: vehicle.SIZE_PART_1, sp2: vehicle.SIZE_PART_2, sp3: vehicle.SIZE_PART_3)), class: 'hover-now hvr-shutter-out-horizontal'
        h4.sub-vr-text Optional Size
        .row
          - @tgp_plus_mounts.each  do |tire|
            .col-sm-2
              = link_to ("<h1>#{tire.SIZE_PART_3}&Prime;</h1><p><br>#{tire.SIZE_PART_1} - #{tire.SIZE_PART_2} / #{tire.SIZE_PART_3}</p>").html_safe, list_all_wheels_path(params.merge(sp1: tire.SIZE_PART_1, sp2: tire.SIZE_PART_2, sp3: tire.SIZE_PART_3)), class: 'hover-now hvr-shutter-out-horizontal'
        hr/
        .vr-content
          p Most vehicles can be equipped with more than one possible size. The sizes listed above is the most common fitment for your selected vehicle, though do take note that some vehicles have different original equipment options.
          p Please select the size you want installed on your vehicle from the size options above.
          h5
            strong What do these sizes mean?
          p Please refer to the diagram below as an example of a vehicle equipped  with 16” OE Factory Size.
          p
            br/
            img.img-fluid.mx-auto.d-block alt="" src="/images/wheel-serv.jpg" /
            br/
          p
            | The safest way to determine your size is go for the OE (Original Equipment) size. When selecting an O.E. tire size, do consider that
            | the suitable O.E. tire size for the vehicle may have been changed, provided as an alternative or modified by the manufacturer.
          p Original Equipment sizes are based on the best information currently available to American Tire Depot. Vehicle model variants might have differences provided by the manufacturer. You can verify the size listed by matching the tire size listed on your vehicle. This may be found in the door jamb, gas cap or in the Owner's Manual.
          h5
            strong What is an “OE Size"?
          p OE or OEM stands for "Original Equipment Manufacturer". These are the size of tires or wheels the manufacturer included on the vehicle during release. Different variants of the vehicle would sometimes have different OE sizes. To know what your size is, you have to locate the sticker or plaque located usually in the driver side door jamb or within the glove box.
          p Some automakers choose different styles or features of the wheel and tires depending on its use. A luxury car could have an elegant wheel and a quiet tire; a sports vehicle could have a lightweight rim with tires that has good performance on acceleration and cornering; light trucks could have strong off-road wheels with all terrain tires mounted; this goes the same for hybrid cars that has eco-friendly low-rolling resistance tire.
          p To know what size to choose to maintain your OE size you can look at the details on the sticker which normally has inflation recommendation as well.
          h5
            strong What is "Plus Sizing"?
          p Plus sizing is when the size of the tires and/or wheels are increased from the original size. This is done to create a larger contact patch of the tire to the pavement and a shorter sidewall.
          p This is done by enthusiasts for many reasons beside aesthetics. Performances added usually are: Increased Steering response and improved handling and cornering.
          p There are 3 common plus sizing terms. First one is Plus Zero wherein the width is the one that usually changes while retaining wheel and tire diameter. Second is, Plus One wherein the diameter of the Rims are increased by one and reduced 1 inch in the tire diameter which would retain the overall diameter of the setup. Third and last is, Plus two, which increases the wheel diameter by 2 inches from the OE size and reduced the tire aspect ratio by 2 inches as well. Of course plus sizing could be a plus 3, plus 4 and so on but normally people limit the size change to 3% of the OE size to maximize the performance while not sacrificing anything in return.
          h5
            strong What is a staggered fitment or a staggered wheel setup?
          p
            br/
            img.img-fluid.mx-auto.d-block alt="" src="/images/stagg.jpg" /
            br/
          p Staggered usually means wider wheels in the rear of your vehicle.
          p This is done normally for aesthetics but with a rear wheel drive this could mean an extra contact of the rear end to the pavement for those heavy accelerations. This means added grip on cornering as well.
          p This kind of setup usually is for rear wheel sports vehicle like: Nissan 350z, Audi, VW, Mustang and others. This could be a larger width or diameter for the Wheels. One example would be a 19x7.5 on the front and a 19.8.5 on the rear. An 18 on the front and 19 on the back are also preferred by some like the Corvette or Acura NSX.
          p However, most normal drivers prefer same size due to maintenance: wheel rotation, primarily due to different sizes.
          h5
            strong I am still unsure. What do I do?
          p If you are uncertain what size is mounted on the vehicle please check your current tires for the appropriate size. This would be found listed on the tire sidewall.
          p
            br/
            img.img-fluid.mx-auto.d-block alt="" src="/images/howcan.jpg" /
            br/
          h5
            strong Can I go for non-OE sizes?
          p
            | Many people choose to personalize and improve the performance of their vehicle by mounting new wheels and tires. Since the original tires will not fit the larger wheels, new tires must be installed in the appropriate size. Opting for larger tires would require
            | getting a new set of wheels as well. This is commonly referred to as "Plus Sizing".
          p We suggest going for the suggested size of tires or wheels from your chosen size. For example, by choosing a 20inch wheels a set of 20inch tires will be an option for you. This would match the diameter and width of the chosen wheels. This option is also available when starting with a Search Tire by Vehicle with an option on getting a matching wheel.
.container
  .h-title
    h1 PROMOTIONS / REBATES
    hr/
  .your-slider
    div
      a href="#" 
        img alt="" src="/images/cslide1.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide2.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide3.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide4.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide5.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide6.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide4.jpg" /
    div
      a href="#" 
        img alt="" src="/images/cslide5.jpg" /
.bottom-banner
  a href="#" 
    img.center-block alt="" src="/images/bottom-banner.jpg" style=("width: 100%;") /
.bottom-banner2
  .container
    .row
      .col-sm-6
        div
          iframe allow=("autoplay; encrypted-media") allowfullscreen="" frameborder="0" height="365" src="https://www.youtube.com/embed/KsSA14uYuTY?rel=0" width="100%" 
      .col-sm-6
        div
          iframe allow=("autoplay; encrypted-media") allowfullscreen="" frameborder="0" height="365" src="https://www.youtube.com/embed/KsSA14uYuTY?rel=0" width="100%" 
.footer-top
  .floating-img
    img src="/images/team.png" /
  .container
    h1 CUSTOMER SERVICE
    p Have questions? We are here to help you.
    p
      a.btn.btn-danger href="#"  Contact Us
footer
  .container
    .row
      .col-sm-4
        .footer-inner
          h2 WHY ONLINE TIRES?
          ul
            li
              a href="#"  The Online Tires Advantage
            li
              a href="#"  Our Expertise
            li
              a href="#"  Events & Sponsorships
            li
              a href="#"  Road Hazard Protection
            li
              a href="#"  Careers
      .col-sm-5
        .footer-inner
          h2
            | DELIVERY &
            br>/
            | INSTALLATION
          ul
            li
              a href="#"  Quick Delivery
            li
              a href="#"  Recommended Installers
            li
              a href="#"  Installers' Price Pledge
            li
              a href="#"  Package Installation Instructions
      .col-sm-3
        .footer-inner
          h2 CUSTOMER SUPPORT
          ul
            li
              a href="#"  Contact Us
            li
              a href="#"  Order Tracking
            li
              a href="#"  Warranty Information
            li
              a href="#"  Returns/Refunds
            li
              a href="#"  FAQs
          h2 style=("color: #d40000; font-size: 28px; font-style: italic; margin-bottom: 20px")  877-465-8473
    .footer-menu-b
      ul
        li
          a href="#"  TERMS OF USE
        li
          a href="#"  PRIVACY PLEDGE
        li
          a href="#"  ACCESSIBILITY STATEMENT
      .row
        .col-sm-4
          img src="/images/footer-b.jpg" /
        .col-sm-8
          .text-right.social-media-a
            a href="#" 
              img src="/images/pin.jpg" /
            a href="#" 
              img src="/images/you.jpg" /
            a href="#" 
              img src="/images/gplus.jpg" /
            a href="#" 
              img src="/images/rss.jpg" /
            a href="#" 
              img src="/images/vimeo.jpg" /
            a href="#" 
              img src="/images/twit.jpg" /
            a href="#" 
              img src="/images/link.jpg" /
            a href="#" 
              img src="/images/fb.jpg" /
.footer-bottom.text-center
  | © 2018 Online Tires. All Rights Reserved.
javascript:
  $(function () {
    $('.your-slider').slick({
      dots: false,
      infinite: true,
      speed: 300,
      slidesToShow: 6,
      slidesToScroll: 6,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });

    $(".filters").on("click",function(){
      $(this).next().slideToggle();
    });
  });