<!-- This file lives in public/422.html -->
<div class="dialog">
  <div>
    <h1>The change you wanted was rejected.</h1>
    <p>Maybe you tried to change something you didn't have access to.</p>
  </div>
  <p>If you are the application owner check the logs for more information.</p>
</div>