<!-- This file lives in public/500.html -->
<div class="dialog">
  <div>
    <h1>We're sorry, but something went wrong.</h1>
  </div>
  <p>If you are the application owner check the logs for more information.</p>
</div>