= render "mainpages/header"
.pbanner
  img src="images/tire-banner.jpg" /
.searchby-slider.productTopSearch
  .container
    ul
      li
        a.sbv.red-now href="?tab=1"  SHOP BY VEHICLE
      li
        a.sbs href="?tab=2"  SHOP BY SIZE
      li
        a.sbb href="?tab=3"  SHOP BY BRAND
.container.form-sea
  .fsbv
    form
      ul
        li
          select#cyear name="year" placeholder="Year" 
            option value="" 
        li
          select#make2 disabled="disabled" name="make" placeholder="Vehicle" 
            option value="" 
        li
          select#model disabled="disabled" name="model" placeholder="Model" 
            option value="" 
        li
          select#option2 disabled="disabled" name="option" placeholder="Option" 
            option value="" 
        li
          input#zipcode name="zipcode" placeholder=("ZIP/Postal code...") type="text" value="" /
      .text-right style=("padding-right: 4px;") 
        input#search name="search" type="hidden" value="true" /
        input name="commit" type="submit" value=("Find Product") /
.innerpage
  .container
    .h-title
      h1 SHOP POPULAR TIRE BRANDS
      hr/
  .container
    .middle-brand
      .b-letters
        #sltr-all ALL
        #sltr-BA A
        #sltr-BB B
        #sltr-BC C
        #sltr-BD D
        #sltr-BE E
        #sltr-BF F
        #sltr-BG G
        #sltr-BH H
        #sltr-BI I
        #sltr-BJ J
        #sltr-BK K
        #sltr-BL L
        #sltr-BM M
        #sltr-BN N
        #sltr-BO O
        #sltr-BP P
        #sltr-BQ Q
        #sltr-BR R
        #sltr-BS S
        #sltr-BT T
        #sltr-BU U
        #sltr-BV V
        #sltr-BW W
        #sltr-BX X
        #sltr-BY Y
        #sltr-BZ Z
        #sltr-BNU 0-9
    .top-brand
      .row
        .col-sm-4
          a href="#" 
            img alt="" src="images/b1.jpg" /
        .col-sm-4
          a href="#" 
            img alt="" src="images/b2.jpg" /
        .col-sm-4
          a href="#" 
            img alt="" src="images/b3.jpg" /
    .bottom-brand
      #bb-logo.row
        .col-sm-2.BA
          = link_to ("<img src='images/l1.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "accelera")   
        .col-sm-2.BA
          / a href="tire-brands/tire-achilles.html" 
            img.img-fluid.center-block alt="" src="images/l2.jpg" /
          = link_to ("<img src='images/l2.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "achilles")
        .col-sm-2.BA
          / a href="tire-brands/tire-arroyo.html" 
            img.img-fluid.center-block alt="" src="images/l666.jpg" /
          = link_to ("<img src='images/l666.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "arroyo")
        .col-sm-2.BA
          / a href="tire-brands/tire-atturo.html" 
            img.img-fluid.center-block alt="" src="images/l555.jpg" /
          = link_to ("<img src='images/l555.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "atturo")
        .col-sm-2.BB
          / a href="tire-brands/tire-bfgoodrich.html" 
            img.img-fluid.center-block alt="" src="images/l4.jpg" /
          = link_to ("<img src='images/l4.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "bfgoodrich")
        .col-sm-2.BB
          / a href="tire-brands/tire-bridgestone.html" 
            img.img-fluid.center-block alt="" src="images/l5.jpg" /
          = link_to ("<img src='images/l5.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "bridgestone")
        .col-sm-2.BC
          / a href="#" 
            img.img-fluid.center-block alt="" src="images/l6.jpg" /
          = link_to ("<img src='images/l6.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "coker")
        .col-sm-2.BC
          / a href="#" 
            img.img-fluid.center-block alt="" src="images/l7.jpg" /
          = link_to ("<img src='images/l7.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "continental")
        .col-sm-2.BC
          / a href="#" 
            img.img-fluid.center-block alt="" src="images/l8.jpg" /
          = link_to ("<img src='images/l8.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "cooper")
        .col-sm-2.BD
          / a href="#" 
            img.img-fluid.center-block alt="" src="images/l9.jpg" /
          = link_to ("<img src='images/l9.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "delinte")
        .col-sm-2.BD
          / a href="#" 
            img.img-fluid.center-block alt="" src="images/l10.jpg" /
          = link_to ("<img src='images/l10.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "dick cepek")
        .col-sm-2.BD
          /a href="#" 
            img.img-fluid.center-block alt="" src="images/l11.jpg" /
          = link_to ("<img src='images/l11.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "dunlop")
        .col-sm-2.BF
          / a href="#" 
            img.img-fluid.center-block alt="" src="images/l12.jpg" /
          = link_to ("<img src='images/l12.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "falken")
        .col-sm-2.BF
          / a href="#" 
            img.img-fluid.center-block alt="" src="images/l13.jpg" /
          = link_to ("<img src='images/l13.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "firestone")
        .col-sm-2.BF
          / a href="#" 
            img.img-fluid.center-block alt="" src="images/l14.jpg" /
          = link_to ("<img src='images/l14.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "fuel")
        .col-sm-2.BF
          / a href="#" 
            img.img-fluid.center-block alt="" src="images/l15.jpg" /
          = link_to ("<img src='images/l15.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "fuzion")
        .col-sm-2.BG
          / a href="#" 
            img.img-fluid.center-block alt="" src="images/l16.jpg" /
          = link_to ("<img src='images/l16.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "general")
        .col-sm-2.BG
          / a href="#" 
            img.img-fluid.center-block alt="" src="images/l17.jpg" /
          = link_to ("<img src='images/l17.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "goodyear")
        .col-sm-2.BH
          /a href="#" 
            img.img-fluid.center-block alt="" src="images/l18.jpg" /
          = link_to ("<img src='images/l18.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "hankook")
        .col-sm-2.BK
          /a href="#" 
            img.img-fluid.center-block alt="" src="images/l19.jpg" /
          = link_to ("<img src='images/l19.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "kelly")
        .col-sm-2.BK
          /a href="#" 
            img.img-fluid.center-block alt="" src="images/l20.jpg" /
          = link_to ("<img src='images/l20.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "kumho")
        .col-sm-2.BL
          /a href="#" 
            img.img-fluid.center-block alt="" src="images/l21.jpg" /
          = link_to ("<img src='images/l21.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "lexani")
        .col-sm-2.BL
          /a href="#" 
            img.img-fluid.center-block alt="" src="images/l22.jpg" /
          = link_to ("<img src='images/l22.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "lionhart")
        .col-sm-2.BL
          /a href="#" 
            img.img-fluid.center-block alt="" src="images/l23.jpg" /
          = link_to ("<img src='images/l23.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "lizetti")
        .col-sm-2.BM
          /a href="#" 
            img.img-fluid.center-block alt="" src="images/l24.jpg" /
          = link_to ("<img src='images/l24.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "mastercraft")
        .col-sm-2.BM
          /a href="#" 
            img.img-fluid.center-block alt="" src="images/l25.jpg" /
          = link_to ("<img src='images/l25.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "michelin")
        .col-sm-2.BM
          /a href="#" 
            img.img-fluid.center-block alt="" src="images/l26.jpg" /
          = link_to ("<img src='images/l26.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "mickey thompson")
        .col-sm-2.BN
          /a href="#" 
            img.img-fluid.center-block alt="" src="images/l27.jpg" /
          = link_to ("<img src='images/l27.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "nexen")
        .col-sm-2.BN
          /a href="#" 
            img.img-fluid.center-block alt="" src="images/l28.jpg" /
          = link_to ("<img src='images/l28.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "nitto")
        .col-sm-2.BP
          /a href="#" 
            img.img-fluid.center-block alt="" src="images/l29.jpg" /
          = link_to ("<img src='images/l29.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "pirelli")
        .col-sm-2.BR
          / a href="#" 
            img.img-fluid.center-block alt="" src="images/l30.jpg" /
          = link_to ("<img src='images/l30.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "rbp")
        .col-sm-2.BS
          / a href="#" 
            img.img-fluid.center-block alt="" src="images/l31.jpg" /
          = link_to ("<img src='images/l31.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "sumitomo")
        .col-sm-2.BT
          / a href="#" 
            img.img-fluid.center-block alt="" src="images/l32.jpg" /
          = link_to ("<img src='images/l32.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "toyo")
        .col-sm-2.BU
          / a href="#" 
            img.img-fluid.center-block alt="" src="images/l33.jpg" /
          = link_to ("<img src='images/l33.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "uniroyal")
        .col-sm-2.BY
          / a href="#" 
            img.img-fluid.center-block alt="" src="images/l34.jpg" /
          = link_to ("<img src='images/l34.jpg' alt='' class='img-fluid center-block'>").html_safe, tire_brands_tires_path(title: "yokohama")
  .container
    .contain-text
      p
        | Looking for tires? We are the easiest and most convenient way to buy tires online. We carry all major tire brands, while our broad inventory and excellent pricing are always a cost saving for you. You can choose from our wide selection of tire brands. We carry top brands like Michelin, which were named 2011 top satisfying brand by AutoPacific. Whether it's at the racetrack, on the highway, or off-road, Goodyear represents Performance, Innovation, Quality, Durability, and Leadership.If you’re looking for superior quality tire and engineered that won’t compromise smooth ride with long tread life, we offer BFGoodrich tires. For performance with all the precision and spirit that have long been famous, we recommend Bridgestone tires. If you’re looking for numerous advances and developments in tire and rubber technology, you’re looking for Firestone tires,. For drivers who want to ride in comfort and safety, we give you Cooper tires. If you’re looking for a top ranking European tire maker, you can count on us having plenty of Continental tires in stock for you. And for a commanding power on the road, we also have Dunlop tires. We also carry the top imported Chinese brand; WINRUN is one of the newest ultra high performance tire brands and was developed to create a premium quality, yet affordable performance tire. These are just a few of the top tire brands we carry. Feel free to browse and check out the tires that suit your needs.
      p Discount Tires & Wheels
      p
        | OnlineTires.com offers wheel and tire packages in discount tire prices. We offer a variety of tires and rims to choose from: truck tires, SUV tires car tires, truck rims, chrome rims, and custom alloy wheels. Create your own wheel and tire package that fits to your needs or simply buy tires online at the most convenient way. We will be glad to answer all your questions, call our toll free number:
        strong 1-877-465-8473
.container
  .h-title
    h1 Featured Products
    hr/
  .wheelPageFeatured
    .wheelPageList
      .row
        .col-sm-3.wheelPageItem
          .wheelPageImage
            a href="#" 
              img src="images/saffiro-tires21312.png" /
          .wheelPageContent
            a href="#" /
            h1
              | Falken
              span Ziex ZE950 A/S
            p.wheelPagePrice $124.25
        .col-sm-3.wheelPageItem
          .wheelPageImage
            a href="#" 
              img src="images/saffiro-tires21312.png" /
          .wheelPageContent
            a href="#" /
            h1
              | Falken
              span Ziex ZE950 A/S
            p.wheelPagePrice $124.25
        .col-sm-3.wheelPageItem
          .wheelPageImage
            a href="#" 
              img src="images/saffiro-tires21312.png" /
          .wheelPageContent
            a href="#" /
            h1
              | Falken
              span Ziex ZE950 A/S
            p.wheelPagePrice $124.25
        .col-sm-3.wheelPageItem
          .wheelPageImage
            a href="#" 
              img src="images/saffiro-tires21312.png" /
          .wheelPageContent
            a href="#" /
            h1
              | Falken
              span Ziex ZE950 A/S
            p.wheelPagePrice $124.25
        .col-sm-3.wheelPageItem
          .wheelPageImage
            a href="#" 
              img src="images/saffiro-tires21312.png" /
          .wheelPageContent
            a href="#" /
            h1
              | Falken
              span Ziex ZE950 A/S
            p.wheelPagePrice $124.25
        .col-sm-3.wheelPageItem
          .wheelPageImage
            a href="#" 
              img src="images/saffiro-tires21312.png" /
          .wheelPageContent
            a href="#" /
            h1
              | Falken
              span Ziex ZE950 A/S
            p.wheelPagePrice $124.25
        .col-sm-3.wheelPageItem
          .wheelPageImage
            a href="#" 
              img src="images/saffiro-tires21312.png" /
          .wheelPageContent
            a href="#" /
            h1
              | Falken
              span Ziex ZE950 A/S
            p.wheelPagePrice $124.25
        .col-sm-3.wheelPageItem
          .wheelPageImage
            a href="#" 
              img src="images/saffiro-tires21312.png" /
          .wheelPageContent
            a href="#" /
            h1
              | Falken
              span Ziex ZE950 A/S
            p.wheelPagePrice $124.25
.container
  .h-title
    h1 Related Blogs
    hr/
  .wheelPageBlog
    .row
      .col-sm-3
        .wheelPageBItem
          .wheelPageBImage
            a href="#" 
              img src="images/blogSample1.jpg" /
          .wheelPageBContent
            a href="#"  Assistance Plan
            ul
              li Category: Tires
              li August 31, 2018
        .wheelPageBItem
          .wheelPageBImage
            a href="#" 
              img src="images/blogSample1.jpg" /
          .wheelPageBContent
            a href="#"  Assistance Plan
            ul
              li Category: Tires
              li August 31, 2018
        .wheelPageBItem
          .wheelPageBImage
            a href="#" 
              img src="images/blogSample1.jpg" /
          .wheelPageBContent
            a href="#"  Assistance Plan
            ul
              li Category: Tires
              li August 31, 2018
      .col-sm-9.wheelPageBItem
        .wheelPageBImage
          a href="#" 
            img src="images/blogSample1.jpg" /
        .wheelPageBContent
          a href="#"  Assistance Plan
          ul
            li Category: Tires
            li August 31, 2018
.wheelPageArticle
  .container
    .row
      .col-md-3.wheelPageArticleContent
        h1 Related Articles
        p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        p
          a href="#"  See More
      .col-md-3.wheelPageArticleItem
        .wheelPageArticleImg
          a href="#" 
            img src="images/blogSample1.jpg" /
        .wheelPageArticleTitle
          h1
            span July 03, 2018
            | Tire Air Pressure Checks
        .wheelPageArticleContent
          p Having your tires checked is important, yet often overlooked, tire maintenance as this would guarantee safe and well-equipped car ride.
      .col-md-3.wheelPageArticleItem
        .wheelPageArticleImg
          a href="#" 
            img src="images/blogSample1.jpg" /
        .wheelPageArticleTitle
          h1
            span July 03, 2018
            | Tire Air Pressure Checks
        .wheelPageArticleContent
          p Having your tires checked is important, yet often overlooked, tire maintenance as this would guarantee safe and well-equipped car ride.
      .col-md-3.wheelPageArticleItem
        .wheelPageArticleImg
          a href="#" 
            img src="images/blogSample1.jpg" /
        .wheelPageArticleTitle
          h1
            span July 03, 2018
            | Tire Air Pressure Checks
        .wheelPageArticleContent
          p Having your tires checked is important, yet often overlooked, tire maintenance as this would guarantee safe and well-equipped car ride.
.container.wheelPageReview
  .h-title
    h1 Ratings & Reviews
    hr/
  .row.wheelsReview
    .col-sm-6.reviewWheels
      .reviewTitle
        .reviewProduct
          p Falken Ziex ZE950 A/S
        .reviewName
          p John Smith
        .reviewDate
          p 10/26/2018
        .reviewStar
          .reviewStar5
            div
              i.fa.fa-star
            div
              i.fa.fa-star
            div
              i.fa.fa-star
            div
              i.fa.fa-star
            div
              i.fa.fa-star
      .reviewContentWheels
        p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
    .col-sm-6.ratingWheels
      .row
        .ratingDry.rating5.col-sm-6
          p Dry
          div
          div
          div
          div
          div
        .ratingWet.rating5.col-sm-6
          p Wet
          div
          div
          div
          div
          div
        .ratingSnow.rating0.col-sm-6
          p Snow
          div
          div
          div
          div
          div
        .ratingComfort.rating4.col-sm-6
          p Comfort
          div
          div
          div
          div
          div
        .ratingNoise.rating5.col-sm-6
          p Noise
          div
          div
          div
          div
          div
        .ratingTreadwear.rating5.col-sm-6
          p Treadwear
          div
          div
          div
          div
          div
  .row.wheelsReview
    .col-sm-6.reviewWheels
      .reviewTitle
        .reviewProduct
          p Falken Ziex ZE950 A/S
        .reviewName
          p John Smith
        .reviewDate
          p 10/26/2018
        .reviewStar
          .reviewStar5
            div
              i.fa.fa-star
            div
              i.fa.fa-star
            div
              i.fa.fa-star
            div
              i.fa.fa-star
            div
              i.fa.fa-star
      .reviewContentWheels
        p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
    .col-sm-6.ratingWheels
      .row
        .ratingDry.rating5.col-sm-6
          p Dry
          div
          div
          div
          div
          div
        .ratingWet.rating5.col-sm-6
          p Wet
          div
          div
          div
          div
          div
        .ratingSnow.rating0.col-sm-6
          p Snow
          div
          div
          div
          div
          div
        .ratingComfort.rating4.col-sm-6
          p Comfort
          div
          div
          div
          div
          div
        .ratingNoise.rating5.col-sm-6
          p Noise
          div
          div
          div
          div
          div
        .ratingTreadwear.rating5.col-sm-6
          p Treadwear
          div
          div
          div
          div
          div
  .row.wheelsReview
    .col-sm-6.reviewWheels
      .reviewTitle
        .reviewProduct
          p Falken Ziex ZE950 A/S
        .reviewName
          p John Smith
        .reviewDate
          p 10/26/2018
        .reviewStar
          .reviewStar5
            div
              i.fa.fa-star
            div
              i.fa.fa-star
            div
              i.fa.fa-star
            div
              i.fa.fa-star
            div
              i.fa.fa-star
      .reviewContentWheels
        p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
    .col-sm-6.ratingWheels
      .row
        .ratingDry.rating5.col-sm-6
          p Dry
          div
          div
          div
          div
          div
        .ratingWet.rating5.col-sm-6
          p Wet
          div
          div
          div
          div
          div
        .ratingSnow.rating0.col-sm-6
          p Snow
          div
          div
          div
          div
          div
        .ratingComfort.rating4.col-sm-6
          p Comfort
          div
          div
          div
          div
          div
        .ratingNoise.rating5.col-sm-6
          p Noise
          div
          div
          div
          div
          div
        .ratingTreadwear.rating5.col-sm-6
          p Treadwear
          div
          div
          div
          div
          div
= render "mainpages/footer"
javascript:
  $(function(){
    $(".b-letters").on('click','div',function(){
      var classToShow = this.id.split('-')[1],
      filter = classToShow === "all" ? 'div': '.' + classToShow;

      $(this).parent().children('div').removeClass('addactive');
      $(this).addClass('addactive');
      $("#bb-logo")
        .children().show()
        .not(filter).hide();
    });
  });
