= render "mainpages/header"
.pbanner
  img src="/images/brand_banner/tires_banner/#{params[:title]}/1.jpg" /
.innerpage.brand-models
  .container
    .brand-model-desc
      .h-title
        img src="/images/brand_logo/tires_logo/#{params[:title]}.jpg" width="300" height="70" / 
        h1 #{@brand_name.brand_name} TIRES
      p
        = @brand_name.description
      / p
      /   | The manufacture of the ACHILLES performance tire was only possible through the installation of a completely new and state of the art production line. Achilles is positioned to compete against high-end world-class performance tires from major manufacturers, marked a significant commitment by MASA to deliver leading-edge tire technology to its customers. New confidence in our competitive strength emboldened the company to move into specialized areas of production such as winter tires for northern climes.
    .bm-lists
      .bm-categories
        / - @mod = @model_types.where(model_type: model_type.model_type)
        / - if @mod.count < 1
        /   - @display = "display:none;"
        /   - @disp = 1
        / - else
        /   - @display = ""
        /   - @disp = 2
        - @model_type_groups.each do |model_type|
          h3.text-center
            strong #{model_type.model_type}
          .bm-lists
            .row
              - @mod = @model_types.where(model_type: model_type.model_type).group("season").each do |md|
                .col-sm-4
                  .bml-inner
                    = @disp
                    h4 style="#{@display}"
                      strong = md.season
                    ul.list-unstyled
                      - @model_types.where(model_type: model_type.model_type, season: md.season).each do |mbn|
                        li
                          = link_to mbn.brand_model_name, tires_per_brand_list_path(br: @brand_name.brand_name, md: mbn.brand_model_name)
        / h3.text-center
        /   strong PASSENGER TIRES
        / .bm-lists
        /   .row
        /     .col-sm-4
        /       .bml-inner
        /         h4
        /           strong All season performance
        /         ul.list-unstyled
        /           li
        /             a href="../tire-search-result.html"  ATR Sport 2
        /           li
        /             a href="../tire-search-result.html"  ATR Sport
        /           li
        /             a href="../tire-search-result.html"  2233
        /     .col-sm-4
        /       .bml-inner
        /         h4
        /           strong Comfort
        /         ul.list-unstyled
        /           li
        /             a href="../tire-search-result.html"  868 All Seasons
        /           li
        /             a href="../tire-search-result.html"  122
        /           li
        /             a href="../tire-search-result.html"  ATR-K
        /           li
        /             a href="../tire-search-result.html"  Platinum
        /           li
        /             a href="../tire-search-result.html"  Platinum 7
        /     .col-sm-4
        /       .bml-inner
        /         h4
        /           strong Winter
        /         ul.list-unstyled
        /           li
        /             a href="../tire-search-result.html"  Winter 101 x
        /           li
        /             a href="../tire-search-result.html"  Winter 101+
        /           li
        /             a href="../tire-search-result.html"  Winter 101
        / h3.text-center
        /   strong Light Truck/SUV Tires
        / .bm-lists
        /   .row
        /     .col-sm-4
        /       .bml-inner
        /         h4 style="display:none;" 
        /           strong All season performance
        /         ul.list-unstyled
        /           li
        /             a href="../tire-search-result.html"  Desert Hawk H/T 2
        /           li
        /             a href="../tire-search-result.html"  Desert Hawk XMT
        /           li
        /             a href="../tire-search-result.html"  Desert Hawk MT
        /           li
        /             a href="../tire-search-result.html"  Desert Hawk UHP
        /           li
        /             a href="../tire-search-result.html"  838 MT
        /           li
        /             a href="../tire-search-result.html"  Desert Hawk AT
        /           li
        /             a href="../tire-search-result.html"  Desert Hawk AP
        /           li
        /             a href="../tire-search-result.html"  LTR-80
        /           li
        /             a href="../tire-search-result.html"  Multivan
        /           li
        /             a href="../tire-search-result.html"  Dura Grip II
        /           li
        /             a href="../tire-search-result.html"  9595
        /           li
        /             a href="../tire-search-result.html"  Econo Van
        /           li
        /             a href="../tire-search-result.html"  X-Grip
        / h3.text-center
        /   strong Truck/Bus
        / .bm-lists
        /   .row
        /     .col-sm-4
        /       .bml-inner
        /         h4 style="display:none;" 
        /           strong All season performance
        /         ul.list-unstyled
        /           li
        /             a href="../tire-search-result.html"  HD 12
        /           li
        /             a href="../tire-search-result.html"  DAAA9
        /           li
        /             a href="../tire-search-result.html"  AA08
        / h3.text-center
        /   strong Competition
        / .bm-lists
        /   .row
        /     .col-sm-4
        /       .bml-inner
        /         h4 style="display:none;" 
        /           strong All season performance
        /         ul.list-unstyled
        /           li
        /             a href="../tire-search-result.html"  123S
        /           li
        /             a href="../tire-search-result.html"  ATR-K Sport
        /           li
        /             a href="../tire-search-result.html"  GS 328
        / h3.text-center
        /   strong Industrial
        / .bm-lists
        /   .row
        /     .col-sm-4
        /       .bml-inner
        /         h4 style="display:none;" 
        /           strong All season performance
        /         ul.list-unstyled
        /           li
        /             a href="../tire-search-result.html"  A 01
/ .container
/   .h-title
/     h1 Featured Products
/     hr/
/   .wheelPageFeatured
/     .wheelPageList
/       .row
/         .col-sm-3.wheelPageItem
/           .wheelPageImage
/             a href="#" 
/               img src="/images/saffiro-tires21312.png" /
/           .wheelPageContent
/             a href="#" /
/             h1
/               | Achilles
/               span ATR Sport 2
/             p.wheelPagePrice $124.25
/         .col-sm-3.wheelPageItem
/           .wheelPageImage
/             a href="#" 
/               img src="/images/saffiro-tires21312.png" /
/           .wheelPageContent
/             a href="#" /
/             h1
/               | Achilles
/               span ATR Sport 2
/             p.wheelPagePrice $124.25
/         .col-sm-3.wheelPageItem
/           .wheelPageImage
/             a href="#" 
/               img src="/images/saffiro-tires21312.png" /
/           .wheelPageContent
/             a href="#" /
/             h1
/               | Achilles
/               span ATR Sport 2
/             p.wheelPagePrice $124.25
/         .col-sm-3.wheelPageItem
/           .wheelPageImage
/             a href="#" 
/               img src="/images/saffiro-tires21312.png" /
/           .wheelPageContent
/             a href="#" /
/             h1
/               | Achilles
/               span ATR Sport 2
/             p.wheelPagePrice $124.25
/         .col-sm-3.wheelPageItem
/           .wheelPageImage
/             a href="#" 
/               img src="/images/saffiro-tires21312.png" /
/           .wheelPageContent
/             a href="#" /
/             h1
/               | Achilles
/               span ATR Sport 2
/             p.wheelPagePrice $124.25
/         .col-sm-3.wheelPageItem
/           .wheelPageImage
/             a href="#" 
/               img src="/images/saffiro-tires21312.png" /
/           .wheelPageContent
/             a href="#" /
/             h1
/               | Achilles
/               span ATR Sport 2
/             p.wheelPagePrice $124.25
/         .col-sm-3.wheelPageItem
/           .wheelPageImage
/             a href="#" 
/               img src="/images/saffiro-tires21312.png" /
/           .wheelPageContent
/             a href="#" /
/             h1
/               | Achilles
/               span ATR Sport 2
/             p.wheelPagePrice $124.25
/         .col-sm-3.wheelPageItem
/           .wheelPageImage
/             a href="#" 
/               img src="/images/saffiro-tires21312.png" /
/           .wheelPageContent
/             a href="#" /
/             h1
/               | Achilles
/               span ATR Sport 2
/             p.wheelPagePrice $124.25
/ .bottom-banner2
/   .container
/     .row
/       .col-sm-6
/         div
/           iframe allow=("autoplay; encrypted-media") allowfullscreen="" frameborder="0" height="365" src="https://www.youtube.com/embed/KsSA14uYuTY?rel=0" width="100%" 
/       .col-sm-6
/         div
/           iframe allow=("autoplay; encrypted-media") allowfullscreen="" frameborder="0" height="365" src="https://www.youtube.com/embed/yd7tmjcJgys" width="100%" 
/ .container.wheelPageReview
/   .h-title
/     h1 Ratings & Reviews
/     hr/
/   .row.wheelsReview
/     .col-sm-6.reviewWheels
/       .reviewTitle
/         .reviewProduct
/           p Achilles ATR Sport 2
/         .reviewName
/           p John Smith
/         .reviewDate
/           p 10/26/2018
/         .reviewStar
/           .reviewStar5
/             div
/               i.fa.fa-star
/             div
/               i.fa.fa-star
/             div
/               i.fa.fa-star
/             div
/               i.fa.fa-star
/             div
/               i.fa.fa-star
/       .reviewContentWheels
/         p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
/     .col-sm-6.ratingWheels
/       .row
/         .ratingDry.rating5.col-sm-6
/           p Dry
/           div
/           div
/           div
/           div
/           div
/         .ratingWet.rating5.col-sm-6
/           p Wet
/           div
/           div
/           div
/           div
/           div
/         .ratingSnow.rating0.col-sm-6
/           p Snow
/           div
/           div
/           div
/           div
/           div
/         .ratingComfort.rating4.col-sm-6
/           p Comfort
/           div
/           div
/           div
/           div
/           div
/         .ratingNoise.rating5.col-sm-6
/           p Noise
/           div
/           div
/           div
/           div
/           div
/         .ratingTreadwear.rating5.col-sm-6
/           p Treadwear
/           div
/           div
/           div
/           div
/           div
/   .row.wheelsReview
/     .col-sm-6.reviewWheels
/       .reviewTitle
/         .reviewProduct
/           p Achilles ATR Sport 2
/         .reviewName
/           p John Smith
/         .reviewDate
/           p 10/26/2018
/         .reviewStar
/           .reviewStar5
/             div
/               i.fa.fa-star
/             div
/               i.fa.fa-star
/             div
/               i.fa.fa-star
/             div
/               i.fa.fa-star
/             div
/               i.fa.fa-star
/       .reviewContentWheels
/         p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
/     .col-sm-6.ratingWheels
/       .row
/         .ratingDry.rating5.col-sm-6
/           p Dry
/           div
/           div
/           div
/           div
/           div
/         .ratingWet.rating5.col-sm-6
/           p Wet
/           div
/           div
/           div
/           div
/           div
/         .ratingSnow.rating0.col-sm-6
/           p Snow
/           div
/           div
/           div
/           div
/           div
/         .ratingComfort.rating4.col-sm-6
/           p Comfort
/           div
/           div
/           div
/           div
/           div
/         .ratingNoise.rating5.col-sm-6
/           p Noise
/           div
/           div
/           div
/           div
/           div
/         .ratingTreadwear.rating5.col-sm-6
/           p Treadwear
/           div
/           div
/           div
/           div
/           div
/   .row.wheelsReview
/     .col-sm-6.reviewWheels
/       .reviewTitle
/         .reviewProduct
/           p Achilles ATR Sport 2
/         .reviewName
/           p John Smith
/         .reviewDate
/           p 10/26/2018
/         .reviewStar
/           .reviewStar5
/             div
/               i.fa.fa-star
/             div
/               i.fa.fa-star
/             div
/               i.fa.fa-star
/             div
/               i.fa.fa-star
/             div
/               i.fa.fa-star
/       .reviewContentWheels
/         p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
/     .col-sm-6.ratingWheels
/       .row
/         .ratingDry.rating5.col-sm-6
/           p Dry
/           div
/           div
/           div
/           div
/           div
/         .ratingWet.rating5.col-sm-6
/           p Wet
/           div
/           div
/           div
/           div
/           div
/         .ratingSnow.rating0.col-sm-6
/           p Snow
/           div
/           div
/           div
/           div
/           div
/         .ratingComfort.rating4.col-sm-6
/           p Comfort
/           div
/           div
/           div
/           div
/           div
/         .ratingNoise.rating5.col-sm-6
/           p Noise
/           div
/           div
/           div
/           div
/           div
/         .ratingTreadwear.rating5.col-sm-6
/           p Treadwear
/           div
/           div
/           div
/           div
/           div
= render "mainpages/footer" 
javascript:
  $(function () {
    $('.your-slider').slick({
      dots: false,
      infinite: true,
      speed: 300,
      slidesToShow: 6,
      slidesToScroll: 6,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
          slidesToShow: 4,
          slidesToScroll: 4,
          infinite: true,
          dots: true

        }
      },
      
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2
        }
      },
      
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
      ]
    });

    $(".filters").on("click",function(){
      $(this).next().slideToggle();
    });
  });


