nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-0.shadow
  a.navbar-brand2.col-sm-3.col-md-2.mr-0 href="#"  ONLINE TIRES
  / input.form-control.form-control-dark.w-100 aria-label="Search" placeholder="Search" type="text" /
  ul.navbar-nav.px-3
    li.nav-item.text-nowrap
      a.nav-link href="#"  Sign out
.container-fluid
  .row
    nav.col-md-2.d-none.d-md-block.bg-light.sidebar
      .sidebar-sticky
        br
        ul.nav.flex-column
          li.nav-item
            = link_to ("<span data-feather='file'></span> Brands").html_safe, admin_brands_path(), class: 'nav-link'
            / a.nav-link.active href="#" 
            /   span data-feather="home" 
            /   | Dashboard
            /   span.sr-only (current)
          li.nav-item
            = link_to ("<span data-feather='file'></span> Models").html_safe, admin_brand_models_path(), class: 'nav-link'
          li.nav-item
            = link_to ("<span data-feather='file'></span> Categories").html_safe, admin_cms_categories_path(), class: 'nav-link'
          li.nav-item
            = link_to ("<span data-feather='file'></span> Reviews").html_safe, admin_reviews_path(), class: 'nav-link'